<!DOCTYPE html>
<html>
<head>
  <title>Perk Finance</title>
  <meta charset="utf-8">
    {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/overlay.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/check_elig.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/approved.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sorry.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/tell_us.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/parsley.css' %}">

<script src="{% static 'js/front_end_processing.js' %}"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script src="{% static 'js/jquery.fullpage.js' %}"></script>
<script src="{% static 'js/parsley.min.js' %}"></script>
<script src="{% static 'js/parsley.js' %}"></script>
<script src="{% static 'js/custvalid.js' %}"></script>
</head>
<body class="body_color">

         <!--start of navbar-->
             <div  >
             <nav class="navbar navbar-custom  navbar-fixed-top navbar-static-top" >
               <div class="container">
                 <div>
                   <a  href="/" ><img class="pos1 " src="{% static 'images/logo.png' %}"/></a>
                 </div>
                 <div>
                 <a class="pos" id="menubar"><span id="g" name="open" class="glyphicon glyphicon-menu-hamburger"
                   style="color:#000000;"  onclick="tog()">

                 </span>
                 </a>
                 </div>


               </div>


             </nav>
             </div>
         <!--end of navbar-->
         <!--start of the part of overlay html-->
            <div id="myNav" class="overlay">
             <div class="overlay-content">
               <a href="#">FAQS</a>
               <a href="#">About us</a>
               <a href="#">contact us</a>

              </div>
             </div>
        <!--end of the part of overlay html-->


         {% block content %}
         <h1> PERK FINANCE coming soon!</h1>
         {% endblock %}



</body>
</html>
