@media screen and (max-width: 768px){
.aboutspac{
   padding-left: 3em;
   padding-right: 1em;
}
  .title_font1b{
    font-family:'Roboto';
     font-size: 40px;
    margin-top: 3em;
    padding-bottom: 1em;
     color:#000000;
     font-weight: bolder;


  }

  .slide3{

   width:100%;
   height: 30em;

    }
    img.vik{
      width: 200px;
      height: 200px;
       border-style: solid;
      border-width: 5px;
      border-color: #7F47DD;
      -moz-border-radius: 100px;
    	-webkit-border-radius: 100px;
    	border-radius: 100px;
    }
    #circle {
    	width: 200px;
    	height: 200px;
       border-style: solid;
      border-width: 5px;
      border-color: #7F47DD;
    	background:  #d9d9d9;
    	-moz-border-radius: 100px;
    	-webkit-border-radius: 100px;
    	border-radius: 100px;
    }
    .text_font1b{

                  font-family:'PT Sans';
                   font-size: 15px;
                   font-weight: 600;

    }
    .text_font1bb{

                  font-family:'PT Sans';
                   font-size: 15px;
                   font-weight: 600;
                   word-spacing: 0.2px;

    }

    .text_font1bbb{

                  font-family:'PT Sans';
                   font-size: 15px;
                   font-weight: 600;
                   }


    .aboutspac1{
      text-align: left;
      padding-left: 3em;
      padding-right: 2em;
    }
.carousel-control.left, .carousel-control.right {
   background: none !important;
   filter: progid: none !important;
    outline: 0;
    }


    span.fa{
        margin-top: 1.8em;
      font-size: 48px;
      opacity: 1.0;
      color: #000000;
    }

  .carousel{
    interval: false;
  }


}


@media screen and (max-width: 320px){

  .title_font1b{
     font-size: 30px;
    margin-top: 3em;
 padding-bottom: 10px;
  }

  img.vik{
    width: 150px;
    height: 150px;
     border-style: solid;
    border-width: 5px;
    border-color: #7F47DD;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
  }

    #circle {
      width: 150px;
      height: 150px;
      -moz-border-radius: 75px;
      -webkit-border-radius: 75px;
      border-radius: 75px;
    }
    .text_font1b{
                   font-size: 13px;
    }
    .text_font1bb{
                   font-size: 13px;
    }

    .text_font1bbb{
                   font-size: 13px;
                   }
    span.fa{
        margin-top: 1em;
    }
}

@media screen and (max-width: 320px) and (min-height : 500px){
  .title_font1b{
     font-size: 35px;
    margin-top: 3em;
 padding-bottom: 10px;
  }


    #circle {
      width: 180px;
      height: 180px;
      -moz-border-radius: 90px;
      -webkit-border-radius: 90px;
      border-radius: 90px;
    }
    .text_font1b{
                   font-size: 15px;
    }
    .text_font1bb{
                   font-size: 15px;
    }

    .text_font1bbb{
                   font-size: 13px;
                   }
    span.fa{
        margin-top: 1.2em;
    }

}

@media screen and (min-width: 768px){
  .aboutspac{
     padding-left: 5em;
     padding-right: 1em;
  }
    .title_font1b{
      font-family:'Roboto';
       font-size: 50px;
      margin-top: 3em;
      padding-bottom: 2em;
       color:#000000;
       font-weight: bolder;


    }
    img.vik{
      width: 250px;
      height: 250px;
       border-style: solid;
      border-width: 5px;
      border-color: #7F47DD;
      -moz-border-radius: 125px;
      -webkit-border-radius: 125px;
      border-radius: 125px;
    }

    .slide3{

     width:100%;
     height: 50em;

      }
      #circle {
      	width: 250px;
      	height: 250px;
         border-style: solid;
        border-width: 5px;
        border-color: #7F47DD;
      	background:  #d9d9d9;
      	-moz-border-radius: 125px;
      	-webkit-border-radius: 125px;
      	border-radius: 125px;
      }
      .text_font1b{

                    font-family:'PT Sans';
                     font-size: 30px;
                     font-weight: 600;

      }
      .text_font1bb{

                    font-family:'PT Sans';
                     font-size: 20px;
                     font-weight: 600;
                     word-spacing: 0.2px;

      }

      .text_font1bbb{

                    font-family:'PT Sans';
                     font-size: 25px;
                     font-weight: 600;
                     }


      .aboutspac1{
        text-align: left;
        padding-left: 3em;
        padding-right: 2em;
      }
  .carousel-control.left, .carousel-control.right {
     background: none !important;
     filter: progid: none !important;
      outline: 0;
      }
      span.fa{
          margin-top: 1.8em;
        font-size: 48px;
        opacity: 1.0;
        color: #000000;
      }
      .carousel{
        interval: false;
      }


}
