


@media screen and (max-width : 767px) {
.falayout{
  margin-top: 7em;
  padding-left: 1.5em;
  border-bottom:3px solid  #b3b3b3;
   padding-bottom: 1em;
}
html,body{
  min-height: 100vh;

}
#faq.container{
  min-height: 85vh;
  padding: 0;
  position: relative;



}
#foot12 {
  margin-bottom:  1rem;
  margin-right:  1rem;
  margin-left:  1rem;
}


.title_font1c{
              font-family:'Roboto';
               font-size: 20px;
               font-weight: bolder;

               color:#000000;
               border-bottom:

    }

    .sublay{

        padding-left: 1em;
        padding-right: 1em;
        padding-bottom:1em;

      padding-top: 1em;



    }

    footer { min-height: 15vh;
    
    background-color: #FBAE17;
    text-align: center;
    
    }
  #foot12.col-xs-6{
    padding-top:10px; 
    font-weight: bold;
  }

 #soc{
padding-top: 10px;
padding-right: 10px;
}

  /*  style="color:#000000;font-size:32px;padding-left:2em;padding-right:6px; "
    style="color:#000000;font-size:32px; padding-right:6px"
    style="color:#000000;font-size:32px; "*/

    a.social_icons{
      color:#000000;
      font-size:30px;
     
     text-decoration: none;
     
     

    }
    a.social_icons1{
      color:#000000;
      font-size:30px;
      padding-left: 10px;


     text-decoration: none;

    }


.line{margin-top: 2em;
  border-bottom:3px solid  #b3b3b3;


}
.line1{
  border-bottom:3px solid  #b3b3b3;
}

.btnsub{

  background-color: #FFFFFF;
  border: none;
  text-decoration: none;
  color: #000000;
  outline:none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
}

.btnsub1{


  background-color: #FFFFFF;
  border: none;
  text-decoration: none;
  color: #000000;
  outline:none;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto';
  text-align:left;
}
.subsublay{
 padding-top: 10px;
 margin-left: 20px;
 margin-right:  20px;
}
.sub3lay{
  margin-top: 2em;
margin-left: 5px;
font-family: 'Roboto';

}
}




@media screen and (min-width : 768px){
.falayout{
  margin-top: 9em;
  padding-left: 1.5em;
  border-bottom:3px solid  #b3b3b3;
   padding-bottom: 3em;
}
#faq.container{
  padding-left: 0;
  padding-right: 0;
}

.title_font1c{
              font-family:'Roboto';
               font-size: 50px;
               font-weight: bolder;

               color:#000000;
               border-bottom:

    }
#footfaq.container{
padding: 0;
  
}
    .sublay{

        padding-left: 1em;
        padding-right: 1em;
        padding-bottom:3em;

      padding-top: 3em;



    }




    footer {
    padding: 3rem;
    background-color: #FBAE17;
    text-align: center;
    }

    .social_icons1{
      color:#000000;
      font-size:32px;
      padding-left:8em;
      padding-right:6px;  text-decoration: none;

    }


.line{margin-top: 2em;
  border-bottom:3px solid  #b3b3b3;


}
.line1{
  border-bottom:3px solid  #b3b3b3;
}

.btnsub{

  background-color: #FFFFFF;
  border: none;
  text-decoration: none;
  color: #000000;
  outline:none;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Roboto';
}

.btnsub1{


  background-color: #FFFFFF;
  border: none;
  text-decoration: none;
  color: #000000;
  outline:none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  text-align:left;
}
.subsublay{
 padding-top: 10px;
 margin-left: 20px;
 margin-right:  20px;
}
.sub3lay{
  margin-top: 2em;
margin-left: 5px;
font-family: 'Roboto';

}

#foot1.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2vmin;
  background-color: #FBAE17;

  text-align: center;
}


/*  style="color:#000000;font-size:32px;padding-left:2em;padding-right:6px; "
style="color:#000000;font-size:32px; padding-right:6px"
style="color:#000000;font-size:32px; "*/

a.social_icons{
  color:#000000;
  font-size:30px;
  padding-left: 8em;
 text-decoration: none;

}

a.social_icons1{
  color:#000000;
  font-size:30px;

  padding-left: 10px;


 text-decoration: none;

}
}
