<!DOCTYPE html>
<html>
<head>
  <title>perk finance</title>
  <meta charset="utf-8">
    {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'images/iconlogo.png' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- structured data tool code snippet-->
 <script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"name" : "Perk Finance",
"url": "https://www.perkfinance.com/",
"sameAs" : [
"",
"",
"",
""
]
}
</script>
<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "FinancialService",
"name" : "Perk Finance",
"hasMap":"https://www.google.co.in/maps/place/Vasavi+Sharada+Kutira+Girls+Pg/@12.9480729,77.5692768,19z/data=!3m1!4b1!4m5!3m4!1s0x3bae15f3cf5f8bfd:0xc8edfb7f24f8862a!8m2!3d12.9480729!4d77.569824",
"url": "https://www.perkfinance.com/",
"logo": "",
"image": "https://www.perkfinance.com/static/images/logo.png",
"description": "Personal loans for employees of Small and Medium businesses. ",
"openingHours":["10:30AM-9:00PM"],
"telephone": "+91 98451 29930",
"address": {
"@type": "PostalAddress",
"addressLocality": "",
"addressRegion": "",
"streetAddress": "Vanivilasa road,Gandhi Bazaar,Basavangudi,Bengaluru",
"postalCode": "560004"
}
}
</script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Place",
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "12.948103",
        "longitude": " 77.569820"
      },
      "name": "Girias electrical shop"
    }
    </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/mainstylemob9.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/maintabdesk9.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/overlay.css' %}">
<script src="{% static 'home/js/front_end_processing.js' %}"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script src="{% static 'home/js/jquery.fullpage - Copy.js' %}"></script>
<script src="https://hammerjs.github.io/dist/hammer.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104910317-1', 'auto');
  ga('send', 'pageview');

</script>
<style type="text/css">
	.modal-backdrop{
		height: 100vh;
		overflow-y: hidden;
		z-index: 1;
		position: relative;
	}
@media screen and (max-width:767px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

@media screen and (min-width:768px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}



</style>
</head>
<body class="body_color" onload="detectmob()">
          {% if session_expired == 1 %}
          <script type="text/javascript">
            alert("Your previous session has expired! Please continue from the home page.")
          </script>
         
          {% endif %}
         <!--start of navbar-->
             <div  >
             <nav class="navbar navbar-custom  navbar-fixed-top navbar-static-top" >
               <div class="container" id="navbar">
                 <div>
                   <a  href="/" ><img class="poslogo " src="{% static 'images/logo.png' %}"/></a>
                 </div>
                 <div>
                 <a class="pos" id="menubar"><span id="g" name="open" class="glyphicon glyphicon-menu-hamburger"
                   style="color:#000000;"  onclick="tog()">

                 </span>
                 </a>
                 </div>


               </div>


             </nav>
             </div>
         <!--end of navbar-->
         <!--start of the part of overlay html-->
            <div id="myNav" class="overlay">
             <div class="overlay-content">
               <a href="/info/learn">personal finance 101</a>
              <a href="/info/faqs">faqs</a>
              <a href="/info/aboutus">about us</a>
              <a href="/info/contact-us">contact us</a>

              </div>
             </div>
        <!--end of the part of overlay html-->

   <div id="fullpage" class="container custom-container" style="background-color:#ffffff;" >

      <section class="part1 " >
      
       <!--all the content starts fom here-->
        <div class="part_1">
          <div class="row" id="top1" ></div>
          <div class="row" id="top2" >
          <div class="col-xs-1"></div>

          <div class="col-xs-9">

         <div class="title_font ">Hassle free
         personal loans</div>
         </div>
         <div class="col-xs-2"></div>
         </div>

          <div class="row" id="top3" >
          <div class="col-xs-1"></div>

          <div class="col-xs-10">

          <p class="text_font" >PerkFinance offers
          simple to understand, completely
          digital and collateral free personal
          loans of upto <span style="font-family:roboto">&#8377;</span>1 lakh.
           </p>

         </div>
         <div class="col-xs-1"></div>


         
         </div>

        


           <!-- check eligibility and refer a friend-->
             <div  class="row " align="center" id="top4">

            <a href="/register" style="text-decoration: none;
           color: #000000">
                    <button name="check_eligibility" type="button" class="btn btn-lg btn1_edit ce_position" style="text-decoration: none; outline: none;"> Check eligibility</button><br>
                </a>
            <a href="/refer" style="text-decoration: none;
           color: #000000" id="dev"><button name="Refer_a_friend" type="button" class="btn btn-lg btn2_edit raf_position " id="dev1" style="text-decoration: none; outline: none;"  > Refer a friend</button></a>
       
    
             <div class="modal fade fadein " id="myModal" role="dialog" style="margin-top:50%;width: 90%;height:40%;margin-left: 5%;margin-right: 5%;">
        <div class="modal-dialog " style="">

          <!-- Modal content-->
          <div class="modal-content" style="border:2px solid purple;background-color: #e6e6e6;">
            <div class="modal-header" style="padding:0;border-bottom: 1px solid purple;width: 95%;">

              <h4 style="text-decoration:none;color:#000000;"> <span class="glyphicon">&#xe095;</span> Share</h4>
            </div>
             <div class="row">
              <div class="col-xs-5">
              <a  href="whatsapp://send?text=Greetings From Perk Finance%0AHassle free personal loans.%0AVisit our webpage: www.perkfinance.com" style="margin-right:3em;"><img width="150em"  src="{% static 'home/images/whatsapp.png' %}" /></a>
              </div>
               <div class="col-xs-7" style="padding-top: 15px;">               <a href="mailto:?&subject=Greetings From Perk Finance&body=Hassle free personal loans.%0AVisit our webpage: www.perkfinance.com" class="small-screen" style="color:black;text-decoration:none;"><img width="70em" src="{% static 'home/images/gmail.png' %}"/></a>

             </div>
            </div>

          </div>

        </div>
      </div>

        </div>
        
         </div>
         
       <!--content ends here--> 

        </section>
     <section class="part2" id="part2"  >
       <!--start of why perk finance?-->

         <!--carousel/slideshow starts-->
        <div class="part_2 " >
         <div  class="row" id="top9"></div>
         <div  class="row" id="top10">
          <h1 class="slideshow"><b>Why Perk Finance?</b></h1>
         
          </div>
           <div class="row" id="top11">
             <div id="exp1" class="carousel slide " >


             <!-- Wrapper for slides -->
             <div class="carousel-inner ">
               <div class="item active">
                <img class="size" id="guitar" src="{% static 'home/images/guitars.jpg' %}" align="center" alt="guitar" >
                <div class="carousel-caption" >
          <div id="mes"  class="container">Faizan Baksh, heads content at a Travel company. "30,000 to pursue a hobby"<br></div>
        </div>

               </div>

               <div class="item">
                 <img class="size" id="travel" src="{% static 'home/images/travels.jpg' %}" align="center" alt="travel" >
                 <div class="carousel-caption" >
          <div id="mes2"  class="container"> Srirajini, operations at an SME <br>"25,000 to travel"<br></div>
        </div>
               </div>
               

             </div>

             <!-- Left and right controls -->
             <div class="" align="center">
             <a class="left carousel-control " id="leftc" href="#exp1" data-slide="prev">
             <span class="arrow fa fa-angle-left"></span>
               <span class="sr-only">Previous</span>
             </a>
             <a class="right carousel-control" id="rightc" href="#exp1" data-slide="next">
             <span class="arrow fa fa-angle-right"></span>

               <span class="sr-only">Next</span>
             </a>
           </div>
            </div>
           </div>
         </div>
         <!--end of carousel/slideshow-->
          </section>
     <section class="part3"  >

       <div  class="part3_align">
          <div class="row" id="top5"></div>

         <div class="row" id="top6">
           <h1 class="title_3" > How it works?</h1>

         </div>
         <div class="row" id="top7">
         
             <div class="row" id="rowspace">
          <div class="col-xs-1" ></div>

          <div class="col-xs-1" id="checkbox">
          <img class="dimension" src="{% static 'home/images/ptick.png' %}">
          </div>
          <div class="col-xs-9"  id="bullet">

          <span class="text_font_checkbox_text">Check eligibilty</span>
           </div>
        </div>
             <div class="row" id="rowspace">
          <div class="col-xs-1" ></div>

          <div class="col-xs-1" id="checkbox">
          <img class="dimension" src="{% static 'home/images/ptick.png' %}">
          </div>
          <div class="col-xs-9" id="bullet">

          <span class="text_font_checkbox_text">Complete loan application</span>
           </div>
        </div>

          <div class="row" id="rowspace">
          <div class="col-xs-1" ></div>

          <div class="col-xs-1" id="checkbox">
          <img class="dimension" src="{% static 'home/images/ptick.png' %}">
          </div>
          <div class="col-xs-9"  id="bullet">

          <span class="text_font_checkbox_text">Upload documents</span>
           </div>
        </div>
          <div class="row" id="rowspace">
          <div class="col-xs-1" ></div>

          <div class="col-xs-1" id="checkbox">
          <img class="dimension" src="{% static 'home/images/ptick.png' %}">
          </div>
          <div class="col-xs-9" id="bullet" >

          <span class="text_font_checkbox_text">Get money into your account</span>
           </div>
        </div>

         </div>



           <!-- check eligibility and refer a friend-->
              <div class="row" id="top8" align="center">

          <a href="/register" style="text-decoration: none;
             color: #000000">
                    <button name="check_eligibility" type="button" class="btn btn-lg btn3_edit " style="text-decoration: none; outline: none;"> Check eligibility</button><br>
                </a>

             </div>
             <div class="row" id="top16"></div>
             </div>




            </section>
     <section class="part4" >
       <div class="part_4">
          <div class="row" id="top12"></div>

           <div class="row" id="top13">
           <div class="col-xs-1"></div>
           <div class="col-xs-10"><div class="our_partners">
           Our partners</div>

           </div>
            <div class="col-xs-1"></div>
         </div>

         <div class="row" id="top14">
           <div class="col-xs-1"></div>
           <div class="col-xs-10">
           <p class="text4_font"> we work with Name of the bank to power our loans.</p>
         </div>
         </div>

       
       <div class="row" id="top15">
         <div id="exp2" class="carousel slide " >


         <!-- Wrapper for slides -->
         <div class="carousel-inner slide2">
           <div class="item active " align="center" id="secondcar">
            <img class="size1" src="{% static 'home/images/motilal.png' %}" alt="motilal" >

           </div>

           <div class="item"  align="center" id="secondcar">
             <img class="size1" src="{% static 'home/images/rbl.png' %}"  alt="rbl" >
           </div>


         </div>

         <!-- Left and right controls -->
         <div class="slider2" >

         <a class="left carousel-control" href="#exp2" data-slide="prev" style="text-decoration:none;">
         <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
         </a>

         <a class="right carousel-control" href="#exp2" data-slide="next" style="text-decoration:none;">
         <span class="glyphicon glyphicon-menu-right"  aria-hidden="true"></span>

           <span class="sr-only">Next</span>
         </a>
       </div>
        </div>
        </div>
         <div class="footer container" id="foot" >
            <div class="row">
            <div class="col-xs-6" align="left">
            <div class="foot1">
            <span class="footer_text">&#169; perkfinance.com</span><br>
             <a href="/info/terms-and-conditions" class="footer_text1" style="text-decoration:none;color:#000000;" target="_blank" >Terms & Conditions</a><br>
             <a href="/info/privacy-policy" class="footer_text1" style="text-decoration:none;color:#000000;" target="_blank" >Privacy Policy</a><br/>
            <a href="/admin" class="footer_text1" style="text-decoration:none;color:#000000;" target="_blank" >Admin?</a></div>


            </div>
            <div class="col-xs-6" id="last" >
            <div class="foot2">

             <span class=""><a href="#" class="fa fa-facebook-f social_icons1"
           style=" text-decoration: none;color:#000000; "></a></span>
           <span class="social_icons1"><a href="http://twitter.com/perkfinance" target="_blank" class="  fa fa-twitter"
           style="color:#000000; padding-right:6px; text-decoration: none;"></a></span>
              <span class="social_icons1"><a href="http://instagram.com/perkfinance/" target="_blank" class=" fa fa-instagram"
             style="color:#000000;  text-decoration: none;"></a></span>
            </div>
            </div>


            </div></div>
            
             </div>



         


        </section>

   </div>






   <script type="text/javascript">


   $('#fullpage').fullpage();
   document.addEventListener('wheel', function(e) {
   $(".footer").delay(1000).fadeIn();
    })




    var myElement = document.getElementById('part2');
    var mc = new Hammer(myElement);
    mc.get('pan').set({ direction: Hammer.DIRECTION_ALL });
    mc.on("panleft panright panup pandown tap press", function(ev) {
          $(".footer").delay(1000).fadeIn();

         });
         var myElement1 = document.getElementById('dev1');
         var mc = new Hammer(myElement1);

        

        

         function detectmob() { 
 if( navigator.userAgent.match(/Android/i)
 || navigator.userAgent.match(/webOS/i)
 || navigator.userAgent.match(/iPhone/i)
 || navigator.userAgent.match(/iPad/i)
 || navigator.userAgent.match(/iPod/i)
 || navigator.userAgent.match(/BlackBerry/i)
 || navigator.userAgent.match(/Windows Phone/i)
 ){
  document.getElementById("dev").removeAttribute("href");
   mc.get('pan').set({ direction: Hammer.DIRECTION_ALL });
         mc.on(" tap", function(ev) {
               myElement1.setAttribute("data-toggle", "modal");
                  myElement1.setAttribute("data-target", "#myModal");

              });


 
  }

  
}




</script>


</body>
</html>
