<!DOCTYPE html>
<html>
<head>
  <title>perk finance</title>
  <meta charset="utf-8">    
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'images/iconlogo.png' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/referafriend.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/parsley.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/overlay.css' %}">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

<script src="{% static 'js/front_end_processing.js' %}"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js"></script>

<script src="{% static 'js/parsley.min.js' %}"></script>
<script src="{% static 'js/parsley.js' %}"></script>
<script src="{% static 'js/custvalid.js' %}"></script>

<style type="text/css">
  @media screen and (max-width:767px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

@media screen and (min-width:768px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

</style>
</head>
<body class="body_color">




      <!--start of the part of overlay html-->
           <div id="myNav" class="overlay">
             <div class="overlay-content">
               <a href="/info/learn">Personal Finance 101</a>
              <a href="/info/faqs">Faqs</a>
              <a href="/info/aboutus">About Us</a>
              <a href="/info/contact-us">Contact Us</a>

              </div>
             </div>
      <!--end of the part of overlay html-->

      <!--start of navbar-->
          <div>
          <nav class="navbar navbar-custom  navbar-fixed-top navbar-static-top" >
            <div class="container">
              <div>
                <a  href="/" ><img class="poslogo " src="{% static 'images/logo.png' %}"/></a>
              </div>
              <div>
              <a  class="pos" id="menubar"><span id="g" name="open" class="glyphicon glyphicon-menu-hamburger"
                style="color:#000000;"  onclick="tog()"></span></a>
              </div>


            </div>


          </nav>
          </div>
      <!--end of navbar-->
<div class="container" id="fullpage1">
<div class="mainlay">
  <div>
 <h1 class="title1e">Refer a friend</h1>
 </div>

      <form method="post" id="form"  data-parsley-validate="" required>
          {% csrf_token %}
         <div class="form_spacing_1ea">
          <div class="form-group">

            <label for="email" class="label_font_1">Your email address</label>

            <input type="text" class="form-control" name="email" id="email" data-parsley-alphadash=""
            data-parsley-type-message="" data-parsley-error-message=""
            data-required="true" ></div>
          </div>



            <div class="form_spacing_1eb">
           <div class="form-group">
             <label for="email2" class="label_font_1">Friend's email address</label>
             <input type="text"  class="form-control" name="email2" id="email2" data-parsley-alphadash=""
             data-parsley-type-message="" data-parsley-error-message=""
             data-required="true" ></div>
           </div>

         <div align="center" class="subspac">
         <button name="check" type="submit" class="btn btn-lg btn1e" >Submit</button>

         </div>
       </form>
     </div>
     </div>
     <script>
     var num;
  $(':input[type="submit"]').prop('disabled', true);


     var $form = $("form");

$("#email2").keyup(function() {
  if( $form.parsley().validate())
{
  $(':input[type="submit"]').prop('disabled', false);
}
else{
    $(':input[type="submit"]').prop('disabled', true);
}





 });

 $("#email").keyup(function() {
   if( $form.parsley().validate())
 {

     $(':input[type="submit"]').prop('disabled', true);
 }
 else{
     $(':input[type="submit"]').prop('disabled', true);
 }





  });

     </script>


    </body>
    </html>
