<!DOCTYPE html>
<html>
<head>
  <title>perk finance</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'images/iconlogo.png' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'register/css/mainstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'register/css/register.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'register/css/overlay.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'register/css/parsley.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'register/css/OTP.css' %}">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
<script src="{% static 'register/js/front_end_processing.js' %}"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script src="{% static 'register/js/parsley.min.js' %}"></script>
<script src="{% static 'register/js/parsley.js' %}"></script>
<script src="{% static 'register/js/custvalid.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104910317-1', 'auto');
  ga('send', 'pageview');

</script>
<style type="text/css">
  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

   @media screen and (max-width: 767px) {


       div.modal-dialog{
    margin-top: 11.5em;

  }

  .poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

 @media screen and (max-width: 320px) {
  div.modal-dialog{
    margin-top: 6.5em;

  }}


 @media screen and (min-width: 768px) {
/*register page css*/
  div.modal-dialog{
    margin-top: 17.5em;

  }

  
.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }




}
</style>
</head>
<body class="body_color">




      <!--start of navbar-->
             <div  >
             <nav class="navbar navbar-custom  navbar-fixed-top navbar-static-top" >
               <div class="container">
                 <div>
                    <a  href="/" ><img class="poslogo " src="{% static 'images/logo.png' %}"/></a>
                 </div>
                 <div>
                 <a class="pos" id="menubar"><span id="g" name="open" class="glyphicon glyphicon-menu-hamburger"
                   style="color:#000000;"  onclick="tog()">

                 </span>
                 </a>
                 </div>


               </div>


             </nav>
             </div>
         <!--end of navbar-->
         <!--start of the part of overlay html-->
             <div id="myNav" class="overlay">
             <div class="overlay-content">
                <a href="/info/learn">personal finance 101</a>
              <a href="/info/faqs">faqs</a>
              <a href="/info/aboutus">about us</a>
              <a href="/info/contact-us">contact us</a>

              </div>
             </div>
        <!--end of the part of overlay html-->


  <!--start register-->
  <div class="container" style="min-height: 100vh;">
      <div class="rlayout">
       <div>
      <h1 class="title_5"> Register</h1>
      </div>
        <div>
           <h2 class="number"> <span style="color:#7F47DD">1</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <span style="color:#867979">2</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#867979">3</span></h2>
            </div>
            {% if error_msg  %}
   <div class="alert alert-error" align="center">
        <strong>{{ error_msg }}</strong>
    </div>
    {% endif %}
            {% if email_exists == 1 %}
   <div class="alert alert-error" align="center">
        <strong>This Email is already registered.</strong>
    </div>
    {% endif %}
    {% if number_exists == 1 %}
   <div class="alert alert-error" align="center">
        <strong>This number is already registered.</strong>
    </div>
    {% endif %}
  <!--form starts-->

  <!--email-->
<form method="post" action="/register/" data-parsley-validate="" required data-validate-username-url="{% url 'send_otp' %}" > 
  {% csrf_token %}
   <div class="form_spacing_1">
    <div class="form-group">
      <label for="email" class="label_font_1" >Email</label>
      <input type="text" class="form-control" name="email" id="email" data-parsley-alphadash=""
      data-parsley-type-message="" data-parsley-error-message="" autocomplete="off" 
      data-required="true" required>
    </div>
     <br>

  <!--mobile number-->

     <div class="form-group">
      <label for="mobnum" class="label_font_1"  >Mobile number</label>
      <input type="number" class="form-control" name = "mobnum" id="mobnum"  data-parsley-type-message="" data-parsley-error-message="" data-parsley-mob="" autocomplete="off" 
      >
    </div>
    </div>



  <!--checkbox-->
    <div class="checkbox_size">
      <input type="checkbox" id="checkbox1" value="0" onclick="checkreg1()" /><label for="checkbox1"><span class="acceptlab">Accept <a href="/info/terms-and-conditions" target="_blank" style="color:#333333; text-decoration:underline; text-decoration-color:#7F47DD ; ">terms and conditions</a></span></label>
    </div>

  <!--verify button-->
  <div align="center" class="bottomspac">
  <button id="vbtn" name="check" type="button" class="btn btn-lg btn4_edit " data-toggle="modal" data-target="#modal"
  data-controls-modal="modal" data-backdrop="static" data-keyboard="false" onclick="sendOTP()" style="text-decoration: none; outline: none;">Verify mobile number</button>
  </div>


<!-- Modal -->
<div class="modal fade " id="modal" role="dialog" >
    <div class="modal-dialog" style="">

      <!-- Modal content-->
      <div class="modal-content" style="border:2px solid purple;">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal" id="close" onclick="changeaccept()"><span style="font-size: 35px;">&times;</span></button>
          <h4>Enter OTP</h4>
        </div>
        <div class="modal-body" align="center">

            <div class="form-group" >

              <input type="number" pattern='[0-9]{4}' data class="form-control" min=1000 maxlength="4" id="otp" name="otp" placeholder="4-Digit-Code" data-parsley-type-message="" data-parsley-error-message=""
                 data-required="true" autocomplete="off" autofocus >
            </div>


        </div>
        <div class="modal-footer"  >
        <div align="center">
          <button type="submit" class="btn btn-lg btn-success " style="float:center;font-style:'Roboto'; font-size:30px;text-decoration: none; outline: none;">Verify OTP</button>
          </div><br>
          <p  >Didn't receive code? <a onclick="sendOTP()" style="cursor:pointer ">Resend code</a></p>

        </div>
      </div>

    </div>
  </div>



  </form>
  

  
</div>




</div>

{% block javascript %}
{% endblock %}

</body>
</html>
