<!DOCTYPE html>
<html>
<head>
  <title>perk finance</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'images/iconlogo.png' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'register/css/mainstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'register/css/register.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'register/css/check_elig.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'register/css/overlay.css' %}">">
<script src="{% static 'register/js/front_end_processing.js' %}"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104910317-1', 'auto');
  ga('send', 'pageview');

</script>
<style type="text/css">
  
   .red{
  color: #7F47DD;


}

 @media screen and (max-width:767px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

@media screen and (min-width:768px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}
</style>
</head>
<body class="body_color">

    


     <!--start of navbar-->
             <div  >
             <nav class="navbar navbar-custom  navbar-fixed-top navbar-static-top" >
               <div class="container">
                 <div>
                   <a  href="/" ><img class="poslogo " src="{% static 'images/logo.png' %}"/></a>
                 </div>
                 <div>
                 <a class="pos" id="menubar"><span id="g" name="open" class="glyphicon glyphicon-menu-hamburger"
                   style="color:#000000;"  onclick="tog()">

                 </span>
                 </a>
                 </div>


               </div>


             </nav>
             </div>
         <!--end of navbar-->
        <!--start of the part of overlay html-->
             <div id="myNav" class="overlay">
             <div class="overlay-content">
                <a href="/info/learn">personal finance 101</a>
              <a href="/info/faqs">faqs</a>
              <a href="/info/aboutus">about us</a>
              <a href="/info/contact-us">contact us</a>

              </div>
             </div>
        <!--end of the part of overlay html-->
   <!--check eligibility-->
   <div class="container" style="min-height: 100vh;">
   <div>
     <div>
    <h1 class="title_6"><b>Checking eligibility</b></h1>
    </div>
 </div>
<br>
<br>
<p id="prognum"class="prog_num"></p><br><br>

<div class="progress">

 <progress  min="0" max="100" id="prog_anime">
 </progress>
</div>


</div>

   <!--end of check eligibilty-->

<script>
var counter1 = 0;
function progressDemo() {
  counter1++;
  document.getElementById( 'prog_anime' ).value = counter1;
  document.getElementById('prognum').innerHTML=counter1+"%";
  if( counter1 == 100 ) {
    clearInterval( timer );
    window.location.href = "/register/result";


  }
}
var timer = setInterval( progressDemo, 20 );
</script>





</body>
</html>
