<html>
<head>
  <title>Perk Finance</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'images/iconlogo.png' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'register/css/profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/overlay.css' %}">
<script src="{% static 'js/front_end_processing.js' %}"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104910317-1', 'auto');
  ga('send', 'pageview');

</script>
<style type="text/css">
  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
  

 @media screen and (max-width:767px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

@media screen and (min-width:768px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}
</style>






</head>
<body class="body_color">




      <!--start of the part of overlay html-->
            <div id="myNav" class="overlay">
             <div class="overlay-content">
               <a href="/info/learn">personal finance 101</a>
              <a href="/info/faqs">faqs</a>
              <a href="/info/aboutus">about us</a>
              <a href="/info/contact-us">contact us</a>

              </div>
             </div>
        <!--end of the part of overlay html-->

      <!--start of navbar-->
          <div>
          <nav class="navbar navbar-custom  navbar-fixed-top navbar-static-top" >
            <div class="container" id="navp">
              <div>
                   <a  href="/" ><img class="poslogo " src="{% static 'images/logo.png' %}"/></a>
              </div>
              <div>
              <a  class="pos" id="menubar"><span id="g" name="open" class="glyphicon glyphicon-menu-hamburger"
                style="color:#000000;"  onclick="tog()"></span></a>
              </div>


            </div>


          </nav>
          </div>
      <!--end of navbar-->

      <div class="container" id="profile" >
        <div class="row" id="topv1"></div>
        <div class="row" id="topv2">

        <div class="head0">Your Profile</div>
        </div>
         <div class="line1" class="container-fluid" > </div>


        <div class="row container" id="topv3" >


         <div class="row container" id="topv6">
         <div class="col-xs-6">
         <span class="head1">Full Name:</span>
         </div>
         <div class="col-xs-6">
        <span class="text1" id="firstname">{{first}}</span><span class="text1" id="last name">{{last}}</span>
         </div>

         </div>
         <div class="line" > </div>

          

         <div class="row container" id="topv6">
         <div class="col-xs-6">
         <span class="head1">Date Of Birth:</span>
         </div>
         <div class="col-xs-6">
         <span class="text1" id="dob">{{dob}}</span>
         </div>
         </div>

          <div class="line" > </div>

     <div class="row container" id="topv6">
         <div class="col-xs-6">
         <span class="head1">Gender:</span>
         </div>
         <div class="col-xs-6">
        <span class="text1" id="gender">{{gender}}</span>
         </div>
         </div>

          <div class="line" > </div>

         <div class="row container" id="topv6">
         <div class="col-xs-6">
         <span class="head1">PIN-Code:</span>
         </div>
         <div class="col-xs-6">
         <span class="text1" id="pin">{{pin}}</span>
         </div>
         </div>

          <div class="line" > </div>

        <div class="row container" id="topv6">
         <div class="col-xs-6">
         <span class="head1">Area:</span>
         </div>
         <div class="col-xs-6">
       <span class="text1" id="area">{{area}}</span>
         </div>
         </div>

          <div class="line" > </div>


         <div class="row container" id="topv6">
         <div class="col-xs-6">
         <span class="head1">City:</span>
         </div>
         <div class="col-xs-6">
        <span class="text1" id="city">{{city}}</span>
         </div>
         </div>

          <div class="line" > </div>


         <div class="row container" id="topv6">
         <div class="col-xs-6">
         <span class="head1">Employment-type:</span>
         </div>
         <div class="col-xs-6">
         <span class="text1" id="etype">{{income_type}}</span>
         </div>
         </div>

          <div class="line" > </div>


         <div class="row container" id="topv6">
         <div class="col-xs-6">
         <span class="head1">Net Monthly Income:</span>
         </div>
         <div class="col-xs-6">
        <span class="rupee">&#8377;</span><span class="text1" id="net_income">{{net_income}}</span>
         </div>
         </div>

          <div class="line" > </div>

          {% if approved == 1 %}
         <div class="row container" id="topv6">
         <div class="col-xs-6">
         <span class="head1">Loan Eligibility:</span>
         </div>
         <div class="col-xs-6">
         <span class="text1" id="loan_elig"> Eligible</span>
         </div>
         </div>

         <div class="row container" id="topv6">
         <div class="col-xs-6">
         <span class="head1">Approved Amount:</span>
         </div>
         <div class="col-xs-6">
         <span class="rupee">&#8377;</span><span class="text1" id="a_amount">{{amount_approved}}</span>
         </div>
         </div>
         {% endif %}
         {% if approved == 0 %}
         <div class="row container" id="topv6">
         <div class="col-xs-6">
         <span class="head1">Loan Eligibility:</span>
         </div>
         <div class="col-xs-6">
         <span class="text1" id="loan_elig"> Not Eligible</span>
         </div>
         </div>
         {% endif %}
          <div class="line" > </div>

         

              <div class="line" > </div>

          


        </div>

         <div class="row container" align="center">
           <a href="/register/edit-profile" style="color: #000000;text-decoration: none; outline: none;">
           <button type="button" class="btn btn-lg btn-editpro1" >Edit Profile </button>
           </a>
           <br>
           <a href="/" style="text-decoration: none; outline: none;
           color: #000000;">
           <button type="button" class="btn btn-lg btn-editpro2" >Back To Main</button>
           </a>

           </div>
        
        </div>
        



 
</body>
</html>
