
<html>
<head>
  <title>Perk Finance</title>
  <meta charset="utf-8">
  {% load staticfiles %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'images/iconlogo.png' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/parsley.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tell_us.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/overlay.css' %}">">
<script src="{% static 'js/front_end_processing.js' %}"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script src="{% static 'js/parsley.min.js' %}"></script>
<script src="{% static 'js/parsley.js' %}"></script>
<script src="{% static 'js/custvalid.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104910317-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<!--         add this code           -->
<script src="{% static 'register/js/pin.js' %}"></script>
<!--                                  -->
<style type="text/css">
  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
 @media screen and (max-width:767px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

@media screen and (min-width:768px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}
</style>


</head>
<body class="body_color">




     <!--start of navbar-->
             <div  >
             <nav class="navbar navbar-custom  navbar-fixed-top navbar-static-top" >
               <div class="container">
                 <div>
                     <a  href="/" ><img class="poslogo " src="{% static 'images/logo.png' %}"/></a>
                 </div>
                 <div>
                 <a class="pos" id="menubar"><span id="g" name="open" class="glyphicon glyphicon-menu-hamburger"
                   style="color:#000000;"  onclick="tog()">

                 </span>
                 </a>
                 </div>


               </div>


             </nav>
             </div>
         <!--end of navbar-->
         <!--start of the part of overlay html-->
             <div id="myNav" class="overlay">
             <div class="overlay-content">
                <a href="/info/learn">personal finance 101</a>
              <a href="/info/faqs">faqs</a>
              <a href="/info/aboutus">about us</a>
              <a href="/info/contact-us">contact us</a>

              </div>
             </div>
        <!--end of the part of overlay html-->



  <!--start of tell us about you-->
  <div class="container" style="min-height: 100vh;">
       <div>
      <h1 class="title_6"><b>Tell us about you</b></h1>
      </div>
        <div>
           <h2 class="number"> <span style="color:#867979">1</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <span style="color:#7F47DD">2</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#867979">3</span></h2>
            </div>
          <!--form for tell us about yoy-->

            <br>
              <form method="post" data-parsley-validate="" required>
              {% csrf_token %}
            <!--first name-->
               <div class="form-spacing1" >
              <div class="form-group">
                <label for="firstname" class="label_font_1">First name</label>
                <input type="text" class="form-control" name="firstname" id="firstname" data-parsley-alpha=""
                data-parsley-type-message="" data-parsley-error-message="" autocomplete="off" style="text-transform: capitalize;" >
              </div>
               <br>

            <!--last name-->

               <div class="form-group">
                <label for="lastname" class="label_font_1" >Last name</label>
                <input type="text" class="form-control" name="lastname" id="lastname" data-parsley-alpha=""
                data-parsley-type-message="" data-parsley-error-message="" autocomplete="off" style="text-transform: capitalize;">
              </div>
            <br>
            <!--gender-->

           <div class="form-group">

              <input type="radio" name="gender" id="newradio2" value="M"><label for="newradio2"><span class="radiolabel">Male</span></label>
                <input type="radio" name="gender" id="newradio3" value="F"><label for="newradio3"><span class="radiolabel2">Female</span></label>
            </div>

            <!--date of birth-->
              

                 <div class="form-group"> <!-- Date input -->
                <label class="label_font_1" for="dob">Date of birth</label>
                <input class="form-control" id="dob" name="date" placeholder="DD/MM/YYYY" type="text"
               data-parsley-error-message="" data-parsley-dater="" autocomplete="off"
                />
              </div>
               <br>

            <!--address-->

            <!--               replace old code with the below                     -->

               <div class="form-group">
                <label for="address" class="label_font_1" >Pin-Code</label>
                <input type="number" class="form-control" name="address" id="pin" data-parsley-type-message=""  data-parsley-error-message=""  pattern='[1-9][0-9]{5}' maxlength="6" onblur="myFunction()" autocomplete="off">
              </div>


          <!--city-->
            <div class="form-group">
              <label for="area" class="label_font_1">Area</label>
              <input type="text" class="form-control" name="area" id="area"  
              data-parsley-type-message="" data-parsley-error-message="" >
            </div>
             <br>

          <!--state-->

             <div class="form-group">
              <label for="state" class="label_font_1" >City</label>
              <input  type="text" class="form-control" name="city" id="city" 
              data-parsley-type-message="" data-parsley-error-message="" >
          
            </div>

           <br>
           <!--            replace code with above code                     -->


           <!--salaried or not-->
          <div class="form-group">

             <input type="radio" name="sa" id="newradio4" value="salaried"><label for="newradio4"><span class="radiolabel3">Salaried</span></label>
               <input type="radio" name="sa" id="newradio5" value="self" ><label for="newradio5"><span class="radiolabel4">Self-employed</span></label>
           </div>
             <br>
             <!--net income-->
           <div class="form-group">
            <label for="ni" class="label_font_1" >Net monthly income</label>
            <input type="number" class="form-control" id="ni" name="ni" min="1" data-parsley-type-message="" data-parsley-error-message=""  autocomplete="off" >
          </div>
          </div>
          <!--continue button-->
          <div class="botspac" align="center">
            <button type="submit" class="btn btn-lg btn5_edit" style="text-decoration: none;outline: none;" onmousedown="radiochecktel()">Continue</button>
          </div>

        </form>

    </div>


<script>
var sal=document.getElementById("newradio4").checked;
var unsal=document.getElementById("newradio5").checked;
var male=document.getElementById("newradio2").checked;
var female=document.getElementById("newradio3").checked;
var date1=document.getElementById('dob').value;

var net=document.getElementById('ni').value;
var fname=document.getElementById('firstname').value;
var lname=document.getElementById('lastname').value;
var pcode=document.getElementById('pin').value;
var area1=document.getElementById('area').value;
var city1=document.getElementById('city').value;


if((net==""||fname==""||lname==""||pcode==""||area1==""||city1==""||date1=="")&&(sal==false&&unsal==false)&&(male==false&&female==false)){


     $(':input[type="submit"]').prop('disabled', true);
}

function radiochecktel() {
    var sal1=document.getElementById("newradio4").checked;
var unsal1=document.getElementById("newradio5").checked;
var male1=document.getElementById("newradio2").checked;
var female1=document.getElementById("newradio3").checked;
  var Bdate = document.getElementById('dob').value;
     var day = Bdate.substring(0, 2);
     var month=Bdate.substring(3,5);
     var year=Bdate.substring(6,10);
     var today = new Date();
      var age = today.getFullYear() - year;
if (today.getMonth() < month || (today.getMonth() == month && today.getDate() < day)) {
  age--;
}
    if(age<18){
    var r = alert("Sorry\n You are "+age+" years old.\n Hence not eligible for the loan.\n");
    if(r==true){
       window.location.assign("/")
    }
   else{
    window.location.assign("/")
   }
  
    }  
   
 
  if ((sal1==false&&unsal1==false)&&(male1==false&&female1==false)) {
     alert("You have not checked for gender and employment-type");
  } else if(sal1==false&&unsal1==false){
  alert("You have not checked for employment-type");
 } else if( (male1==false&&female1==false)){
  alert("You have not checked for gender");
 } else{

 }

 


}


var $form = $("form");
$("input").keyup(function() {
    if ( $form.parsley().validate())
      {   var num=document.getElementById('ni').value;
          var fname1=document.getElementById('firstname').value;
                    var lname1=document.getElementById('lastname').value;
                  var pcode1=document.getElementById('pin').value;
                  var area11=document.getElementById('area').value;
                  var city11=document.getElementById('city').value;
  var date2=document.getElementById('dob').value;

          if(num==""||fname1==""||lname1==""||pcode1==""||area11==""||city11==""||date2=="")
          {
         $(':input[type="submit"]').prop('disabled', true);
          } else{
            $(':input[type="submit"]').prop('disabled', false);}

        }
    else{

      $(':input[type="submit"]').prop('disabled', true);}
});

 $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'dd/mm/yyyy',
        container: container,
         startDate: "01/01/1950",
    endDate: "30/12/1999",
    orientation: "auto",
    multidateSeparator: "/,-",
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
</body>
</html>
