<!DOCTYPE html>
<html>
<head>
  <title>perk finance</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'images/iconlogo.png' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sorry.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/overlay.css' %}">
<script src="{% static 'js/front_end_processing.js' %}"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104910317-1', 'auto');
  ga('send', 'pageview');

</script>
<style type="text/css">
  
   @media screen and (max-width:767px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

@media screen and (min-width:768px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}
</style>
</head>
<body class="body_color">




      <!--start of the part of overlay html-->
             <div id="myNav" class="overlay">
             <div class="overlay-content">
                <a href="/info/learn">personal finance 101</a>
              <a href="/info/faqs">faqs</a>
              <a href="/info/aboutus">about us</a>
              <a href="/info/contact-us">contact us</a>

              </div>
             </div>
        <!--end of the part of overlay html-->

      <!--start of navbar-->
          <div>
          <nav class="navbar navbar-custom  navbar-fixed-top navbar-static-top" >
            <div class="container">
              <div>
                   <a  href="/" ><img class="poslogo " src="{% static 'images/logo.png' %}"/></a>
              </div>
              <div>
              <a  class="pos" id="menubar"><span id="g" name="open" class="glyphicon glyphicon-menu-hamburger"
                style="color:#000000;"  onclick="tog()"></span></a>
              </div>


            </div>


          </nav>
          </div>
      <!--end of navbar-->
    <div class="container" style="min-height: 100vh;">
      <div class="layoutsor">
        <div>
       <h1 class="title_9"><b>Sorry!</b></h1>
       </div>

       <p class="text_font2_app"> We could not approve your loan for your profile</p>

<p class="text_font3_app" ><B>Please try after a couple of
months.</B></p>
<div align="center";>
<p class="text_font4_app" align="center"> Follow us to stay updated<br>
 <p align="center" style="margin-right:3em;"><span class="social_icons"><a href="#" target="_blank" class="fa fa-facebook-f " style="text-decoration:none;color:#000000;font-size:32px;padding-left:2em;padding-right:6px; "></a></span>
  <span class="social_icons"><a href="https://twitter.com/perkfinance" target="_blank" class=" fa fa-twitter" style="text-decoration:none;color:#000000;font-size:32px; padding-right:6px"></a></span>
  <span class="social_icons"><a href="https://www.instagram.com/perkfinance/" target="_blank" class=" fa fa-instagram" style="text-decoration:none;color:#000000;font-size:32px; "></a></span>
</p></p>
</div>
</div>
<div align="center" class="bottomspac" >
  <a href="/" style="outline: none;text-decoration: none; color: #000000;"><button type="button" class="btn btn-lg btn7_edit" style="text-decoration: none;outline: none;" >Back to main</button></a>
</div>



</div>
</body>
</html>
