@media screen and (max-width:767px){

  .title_7{

     margin-top: 3em;
     text-align: left;
     font-size:35px;


     line-height: 1.2em;
     font-family: 'Roboto';
     margin-bottom: 1em;
   }
.title_8{
  margin-top: 0em;
  text-align: center;
  font-size:37px;

  line-height: 1.2em;
  font-family: 'Roboto';

}
.text_font_app{
  text-align: center;
  font-size: 25px;
 padding-right: 1em;
 margin-top: 2em;


}
.btn6_edit{
  background-color: white;
  border: 4px solid #7F47DD;
 font-size: 30px;
   border-radius: 5px;

  width:9em;
  height: 2.7em;


  margin-top: 1em;
  border-width: 5px;

}

.appspace{
  padding-left: 2em;
  padding-right: 1em;

}


}

@media screen and (max-width:320px){
  .title_7{

     margin-top: 4em;
     text-align: left;
     font-size:25px;


     line-height: 1.2em;
     font-family: 'Roboto';
     margin-bottom: 1em;
   }
.title_8{
  margin-top: 0em;
  text-align: center;
  font-size:30px;

  line-height: 1.2em;
  font-family: 'Roboto';

}
.text_font_app{
  text-align: center;
  font-size: 20px;
 padding-right: 1em;
 margin-top: 1em;


}
.btn6_edit{
  background-color: white;
  border: 4px solid #7F47DD;
 font-size: 25px;
   border-radius: 5px;

  width:10em;
  height: 2.5em;


  margin-top: 1em;
  border-width: 5px;

}

.appspace{
  padding-left: 2em;
  padding-right: 1em;

}


}
@media screen and (max-width:320px) and (min-height: 500px){
  .title_7{
     margin-bottom: 2em;
   }
.text_font_app{
 margin-top: 3em;
}
}
@media screen and (min-width: 768px) {

  .title_7{

     margin-top: 3em;
     text-align: left;
     font-size:50px;

     line-height: 1.2em;
     font-family: 'Roboto';

   }
.title_8{
  margin-top: 2em;
  text-align: center;
  font-size:50px;

  line-height: 1.2em;
  font-family: 'Roboto';

}
.text_font_app{
 margin-top: 2em;
  text-align: center;
  font-size: 30px;
  padding-left: 2em;
  padding-right: 2em;
  font-family:'PT Sans';
}
.btn6_edit{
  background-color: white;
  border: 4px solid #7F47DD;
  font-size: 2em;
  border-radius: 5px;

  width:12em;
  height: 3em;

  margin-top: 2em;
  border-width: 5px;
  font-family: 'Roboto';

}
.appspace{
  padding-left: 2em;
  padding-right: 1em;

}
.butpos{
  padding-bottom: 18em;
}


}
