@media screen and (max-width: 767px) {
 .container{
   padding-left: 0px;
   padding-right: 0px;
 }

 .title_6{
   margin-top: 4em;
   text-align: center;
   font-size:35px;

   line-height: 1.2em;
   font-family: 'Roboto';
   margin-bottom: 1.5em;
 }

 progress[value] {
   -webkit-appearance: none;
   appearance: none;

   width: 100%;
   height: 10px;
 }
 progress[value]::-webkit-progress-bar{
   background-color: #FBAE17;
 }

 progress[value]::-webkit-progress-value{
   background-color: #7F47DD;

 }

 .prog_num{
   text-align: center;
   font-size: 35px;
   font-family: 'Roboto';
   color: #7F47DD;
 }



}

@media screen and (max-width: 320px) {
 .container{
   padding-left: 0px;
   padding-right: 0px;
 }

 .title_6{
   margin-top: 3.5em;
   text-align: center;
   font-size:30px;

   line-height: 1.2em;
   font-family: 'Roboto';
   margin-bottom: 1.2em;
 }

 progress[value] {
   -webkit-appearance: none;
   appearance: none;

   width: 100%;
   height: 10px;
 }
 progress[value]::-webkit-progress-bar{
   background-color: #FBAE17;
 }

 progress[value]::-webkit-progress-value{
   background-color: #7F47DD;

 }

 .prog_num{
   text-align: center;
   font-size: 30px;
   font-family: 'Roboto';
   color: #7F47DD;
 }



}

@media screen and (max-width: 320px) and (min-height:500px){
   .title_6{
     margin-top: 4em;
     text-align: center;
     font-size:30px;

     line-height: 1.2em;
     font-family: 'Roboto';
     margin-bottom: 1em;

   }
}





 @media screen and (min-width: 768px) {
  .container{
    padding-left: 0px;
    padding-right: 0px;
  }

 .title_6{
   margin-top: 5em;
   text-align: left;
   font-size:50px;
   margin-left: 2em;;
   line-height: 1.2em;
   font-family: 'Roboto';
   margin-bottom: 1.5em;
 }

progress[value] {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 10px;
}
progress[value]::-webkit-progress-bar{
  background-color: #FBAE17;
}

progress[value]::-webkit-progress-value{
  background-color: #7F47DD;

}

.prog_num{
  text-align: center;
  font-size: 40px;
  font-family: 'Roboto';
  color: #7F47DD;
}

.progress{
  margin-bottom: 27em;

}
 }
