@media screen and (min-width: 768px) {

}
.playout{
  padding-right: 3em;
  padding-left:3em;
}
h4.head1{
  font-size: 20px;
  font-family: 'Roboto';
  margin-top: 8em;
  text-align: center;
  color: #000000;
}
h4.head2{
  font-size: 22px;
  font-family: 'Roboto';
  text-align: center;
    color: #000000;
}
.para1{
  font-size: 15px;
  font-family: 'PT Sans'
}
.head3{
  font-size: 15px;
  font-family: 'Roboto';
  margin-top: 20px;
  font-weight: bold;
  color: #000000;
}
.p2{
  font-size: 15px;
  font-family:'PT Sans';
  text-align: left;
  color: #000000;

}
.paraspac{
  margin-left: 15px;
  margin-top: 15px;

}

.paraspac1{
  margin-left: 15px;
}

.paraspac2{
  margin-left: 45px;
  margin-top: 15px;
}
li {
  font-size: 15px;
  font-family:'PT Sans';
  text-align: left;
  color: #000000;

}

}

@media screen and (max-width: 767px) {

}
.playout{
  padding-right: 2em;
  padding-left:2em;
}
h4.head1{
  font-size: 15px;
  font-family: 'Roboto';
  margin-top: 8em;
  text-align: center;
  color: #000000;
}
h4.head2{
  font-size: 17px;
  font-family: 'Roboto';
  text-align: center;
    color: #000000;
}
.para1{
font-size: 13px;
  font-family: 'PT Sans'
}
.head3{
  font-size: 13px;
  font-family: 'Roboto';
  margin-top: 20px;
  font-weight: bold;
  color: #000000;
}
.p2{
font-size: 13px;
  font-family:'PT Sans';
  text-align: left;
  color: #000000;

}
.paraspac{
  margin-left: 15px;
  margin-top: 15px;

}

.paraspac1{
  margin-left: 15px;
}

.paraspac2{
  margin-left: 45px;
  margin-top: 15px;
}
li {
font-size: 13px;
  font-family:'PT Sans';
  text-align: left;
  color: #000000;

}

}
