.navbar-custom{
               background-color: #Ffffff;

              }


.hamburger_menu_position{
                       font-size: 10px;

                     }

.pos{
            float: right;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 25px 16px 0px 50px;
           text-decoration: none;
            font-size: 35px;
            transition: 0.4s;
         }
         .pos1{
                 float: left;
                 display: block;
                 color:#000000 ;
                 text-align: right;
                 padding: 0px 16px 0px 5px;
                 text-decoration: none;
                 width: 180px;
                 height: 63px;
                 margin-top: 5px;
     }

     @media screen and (max-width: 767px) {

      .title_5{
        margin-top: 3em;
        text-align: left;
        font-size:40px;
        padding-left: 1em;
         font-weight: bolder;


        font-family: 'Roboto';

      }
      h2.number{
        text-align:center;
        font-size:30px;
        font-family:'PT Sans';
         font-weight: bold;

      }
      .label_font_1{

      font-family:'Roboto';
      font-size: 25px;
      font-weight: normal;


      }
      .form-control{



        min-width:3em;
        border-color: #000000;
        border-radius: 0;
        height: 3em;


      }
      .form_spacing_1 {
      padding-left: 2em;
      padding-right: 2em;
      margin-top: 1.5em;
      }



      .checkbox_size{
        margin-top:2em;
        padding-bottom:0;
          }



      .checkbox_text_font{
        font-size: 1.5em;
        font-family: 'Roboto';
        font-weight: normal;


      }
      .btn4_edit{
        background-color: white;
        border: 4px solid #7F47DD;
        font-size:25px;
        border-radius: 5px;
        text-align: center;

        width:12em;
        height: 3em;

        margin-top: 1em;
        border-width: 5px;

        }
        .acceptlab{
          font-size: 20px;
          font-weight: normal;
          font-family:'Roboto';
        }

        input[type="checkbox"]{
        display: none;
          }

        input[type="checkbox"] + label:before {
          background-color: #ffffff;
          border: 1px solid #000000;
          content:"";
          display: inline-block;
          font-size:30px;
          height: 40px;
          width: 40px;
          line-height: 35px;
          margin-left: 1em;


          margin-right: 8px;
          vertical-align:middle ;
          text-align: center;

        }

        input[type="checkbox"]:checked + label:before {
          content: "\2713"
        }
      }

 @media screen and (max-width: 320px) {

  .title_5{
    margin-top: 3.3em;
    text-align: left;
    font-size:25px;
    padding-left: 1em;
     font-weight: bolder;


    font-family: 'Roboto';

  }
  h2.number{
    text-align:center;
    font-size:25px;
    font-family:'PT Sans';
     font-weight: bold;

  }
  .label_font_1{

  font-family:'Roboto';
  font-size: 15px;
  font-weight: normal;


  }
  .form-control{



    min-width:3em;
    border-color: #000000;
    border-radius: 0;
    height: 2.5em;


  }
  .form_spacing_1 {
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 1em;
  }



  .checkbox_size{
    margin-top:2em;
    padding-bottom:0;
      }



  .checkbox_text_font{
    font-size: 1.5em;
    font-family: 'Roboto';
    font-weight: normal;


  }
  .btn4_edit{
    background-color: white;
    border: 4px solid #7F47DD;
    font-size:20px;
    border-radius: 5px;
    text-align: center;

    width:13em;
    height: 2.5em;

    margin-top: .7em;
    border-width: 5px;

    }
    .acceptlab{
      font-size: 15px;
      font-weight: normal;
      font-family:'Roboto';
    }

    input[type="checkbox"]{
    display: none;
      }

    input[type="checkbox"] + label:before {
      background-color: #ffffff;
      border: 1px solid #000000;
      content:"";
      display: inline-block;
      font-size:30px;
      height: 35px;
      width: 35px;
      line-height: 35px;
      margin-left: 1em;


      margin-right: 8px;
      vertical-align:middle ;
      text-align: center;

    }

    input[type="checkbox"]:checked + label:before {
      content: "\2713"
    }
  }

  @media screen and (max-width: 320px) and (min-height: 500px) {

   .title_5{
     margin-top: 3.3em;
     font-size:30px;
     padding-left: 1em;

   }
   h2.number{
     font-size:25px;
   }
   .label_font_1{
   font-size: 20px;
   }
   .form-control{



     min-width:3em;
     border-color: #000000;
     border-radius: 0;
     height: 2.5em;


   }
   .form_spacing_1 {
   padding-left: 2em;
   padding-right: 2em;
   margin-top: 2em;
   }



   .checkbox_size{
     margin-top:2em;
     padding-bottom:0;
       }



   .checkbox_text_font{
     font-size: 1.5em;
     font-family: 'Roboto';
     font-weight: normal;


   }
   .btn4_edit{
     background-color: white;
     border: 4px solid #7F47DD;
     font-size:20px;
     border-radius: 5px;
     text-align: center;

     width:13em;
     height: 3em;

     margin-top: 1em;
     border-width: 5px;

     }
     .acceptlab{
       font-size: 15px;
       font-weight: normal;
       font-family:'Roboto';
     }

     input[type="checkbox"]{
     display: none;
       }

     input[type="checkbox"] + label:before {
       background-color: #ffffff;
       border: 1px solid #000000;
       content:"";
       display: inline-block;
       font-size:30px;
       height: 35px;
       width: 35px;
       line-height: 35px;
       margin-left: 1em;


       margin-right: 8px;
       vertical-align:middle ;
       text-align: center;

     }

     input[type="checkbox"]:checked + label:before {
       content: "\2713"
     }
   }
  /*end of register */


 @media screen and (min-width: 768px) {
/*register page css*/

.title_5{
  margin-top: 3em;
  text-align: left;
  font-size:50px;
  padding-left: 1em;
   font-weight: bolder;


  font-family: 'Roboto';

}
h2.number{
  text-align:center;
  font-size:35px;
  font-family:'PT Sans';
   font-weight: bold;


}
.label_font_1{

font-family:'Roboto';
font-size: 25px;
font-weight: normal;

}
.form-control{


  width: 30em;
  border-color: #000000;
  border-radius: 0;
  height: 4em;



}
.form_spacing_1 {
  margin-top: 4em;
  padding-left: 4em;
}



.checkbox_size{
  margin-top:4em;
  margin-left: 4em;


}
.checkbox_text_font{
  font-size: 1.5em;
  font-family: 'Roboto';
  font-weight: normal;


}
.btn4_edit{
  background-color: white;
  border: 4px solid #7F47DD;
  font-size: 2em;
  border-radius: 5px;

  width:14em;
  height: 3em;

    border-width: 5px;

  }
  .bottomspac{
    padding-top: 4em;
    padding-bottom: 16em;
  }
  .acceptlab{
    font-size: 25px;
    font-weight: normal;
    font-family:'Roboto';
  }

  input[type="checkbox"]{
  display: none;
    }

  input[type="checkbox"] + label:before {
    background-color: #ffffff;
    border: 1px solid #000000;
    content:"";
    display: inline-block;
    font-size:30px;
    height: 40px;
    width: 40px;
    line-height: 35px;
    margin-right: 10px;



    vertical-align:middle ;
    text-align: center;

  }

  input[type="checkbox"]:checked + label:before {
    content: "\2713"
  }
}
/*end of register */
