@media screen and (min-width: 768px){
.tlayout{
       margin-top: 8em;
       padding-left: 3em;
       padding-right: 3em;
       padding-bottom: 4em;
}
h3.head1{
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto';
  color: #000000;
}

.p1{
  font-size: 15px;
  font-family:'PT Sans';
  text-align: left;
  color: #000000;

}
.head2{
  font-size: 15px;
  font-family: 'Roboto';
  margin-top: 20px;
  font-weight: bold;
  color: #000000;
}
.paraspac{
  margin-left: 15px;

}
.p2layed{
  margin-left: 15px;
  font-size: 15px;
  color: #000000;
}

}

@media screen and (max-width: 768px){
.tlayout{
       margin-top: 8em;
       padding-left: 2em;
       padding-right: 2em;
       padding-bottom: 4em;
}
h3.head1{
  font-size: 15px;
  text-align: center;
  font-family: 'Roboto';
  color: #000000;
}

.p1{
  font-size: 13px;
  font-family:'PT Sans';
  text-align: left;
  color: #000000;
}
.head2{
  font-size: 13px;
  font-family: 'Roboto';
  margin-top: 20px;
  font-weight: bold;
  color: #000000;
}
.paraspac{
  margin-left: 15px;

}
.p2layed{
  margin-left: 15px;
  font-size: 13px;
  color: #000000;
}

}
