<!DOCTYPE html>
<html>
<head>
  <title>perk finance</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'images/iconlogo.png' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/mainstylemob.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/mainstyetabdesk.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/aboutus1.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/overlay.css' %}">
<script src="{% static 'information/js/front_end_processing.js' %}"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104910317-1', 'auto');
  ga('send', 'pageview');

</script>
<style type="text/css">
  @media screen and (max-width:767px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

@media screen and (min-width:768px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

</style>
</head>
<body class="body_color" >

         <!--start of navbar-->
             <div  >
             <nav class="navbar navbar-custom  navbar-fixed-top navbar-static-top" >
               <div class="container">
                 <div>
                 <a  href="/" ><img class="poslogo " src="{% static 'images/logo.png' %}"/></a>
                 </div>
                 <div>
                 <a class="pos" id="menubar"><span id="g" name="open" class="glyphicon glyphicon-menu-hamburger"
                   style="color:#000000;"  onclick="tog()">

                 </span>
                 </a>
                 </div>


               </div>


             </nav>
             </div>
         <!--end of navbar-->
         <!--start of the part of overlay html-->
            <div id="myNav" class="overlay">
             <div class="overlay-content">
               <a href="/info/learn">personal finance 101</a>
              <a href="/info/faqs">faqs</a>
              <a href="/info/aboutus">about us</a>
              <a href="/info/contact-us">contact us</a>

              </div>
             </div>
        <!--end of the part of overlay html-->
             <div class="container" style="min-height: 100vh;">
                 <div class="aboutspac">
               <h1 class="title_font1b">about us<B></B></h1>
             </div>
             <div >
               <div id="exp2" class="carousel slide3 " >


               <!-- Wrapper for slides -->
               <div class="carousel-inner slide3">
                 <div class="item active " align="center">
                   <div >
                    <img class="vik" src="{% static 'information/images/Vikas.jpeg' %}" background="black"/>
                  </div>
                 
                  <br>
                  <div class="text_font1b">Vikas Kothari</div>
                  <div class="text_font1bb">Co - founder</div>
                  <br>
                 <div class="aboutspac1">
                  <p class="text_font1bbb" align="center" >
                    Consumer internet VC,<br>engineering, technology,<br>small business,<br>University of Oxford, SJCE

                    </p>
                  </div>
                 </div>


                 <div class="item " align="center">
                 <div >
                    <img class="vik" src="{% static 'information/images/saifses.jpg' %}"/>
                  </div>
                  <br>
                  <div class="text_font1b">Saif Ali</div>
                  <div class="text_font1bb">Full stack developer</div>
                  <br>
                 <div class="aboutspac1">
                  <p class="text_font1bbb" align="center">
                      Hacker,<br>BE Informaton science <br> SJCE


                    </p>
                  </div>
                 </div>


                 <div class="item " align="center">
                  <div >
                    <img class="vik" src="{% static 'information/images/chayank.jpg' %}"/>
                  </div>
                  <br>
                  <div class="text_font1b">Chayank TM</div>
                  <div class="text_font1bb">Developer</div>
                  <br>
                 <div class="aboutspac1">
                  <p class="text_font1bbb" align="center">
                    Hacker,<br>BE Informaton science <br> SJCE
                    </p>
                  </div>
                 </div>

                   <div class="item " align="center">
                  <div >
                    <img class="vik" src="{% static 'information/images/ankit.jpg' %}"/>
                  </div>
                  <br>
                  <div class="text_font1b">Ankit Singh Bhamra</div>
                  <div class="text_font1bb">Developer</div>
                  <br>
                 <div class="aboutspac1">
                  <p class="text_font1bbb" align="center">
                    UI enthusiast,<br>BE Informaton science <br> SJCE
                    </p>
                  </div>
                 </div>


                   <div class="item " align="center">
                  <div >
                    <img class="vik" src="{% static 'information/images/chinmayi1.jpeg' %}"/>
                  </div>
                  <br>
                  <div class="text_font1b">Chinmayi A A</div>
                  <div class="text_font1bb">Designer</div>
                  <br>
                 <div class="aboutspac1">
                  <p class="text_font1bbb" align="center">
                    UX expert,film maker,<br> social change enabler,<br> NID Ahmedabad
                    </p>
                  </div>
                 </div>








               </div>

               <!-- Left and right controls -->
               <div class="slider2" >

               <a class="left carousel-control" href="#exp2" data-slide="prev" style="text-decoration:none;">
               <span class="1st fa fa-angle-left" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
               </a>

               <a class="right carousel-control" href="#exp2" data-slide="next" style="text-decoration:none;">
               <span class="1st fa fa-angle-right"  aria-hidden="true"></span>

                 <span class="sr-only">Next</span>
               </a>
             </div>
              </div>
             </div>






                   </div>
                   </body>
                   </html>
