<!DOCTYPE html>
<html>
<head>
  <title>perk finance</title>
  <meta charset="utf-8">
    {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'images/iconlogo.png' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/mainstylemob.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/contactus.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/mainstyetabdesk.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/overlay.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/parsley.css' %}">
<script src="{% static 'information/js/front_end_processing.js' %}"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script src="{% static 'information/js/parsley.min.js' %}"></script>
<script src="{% static 'information/js/parsley.js' %}"></script>
<script src="{% static 'information/js/custvalid.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104910317-1', 'auto');
  ga('send', 'pageview');

</script>
<style type="text/css">
  @media screen and (max-width:767px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

@media screen and (min-width:768px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

</style>

</head>
<body class="body_color" >

         <!--start of navbar-->
             <div  >
             <nav class="navbar navbar-custom  navbar-fixed-top navbar-static-top" >
               <div class="container">
                 <div>
                   <a  href="/" ><img class="poslogo " src="{% static 'images/logo.png' %}"/></a>
                 </div>
                 <div>
                 <a class="pos" id="menubar"><span id="g" name="open" class="glyphicon glyphicon-menu-hamburger"
                   style="color:#000000;"  onclick="tog()">

                 </span>
                 </a>
                 </div>


               </div>


             </nav>
             </div>
         <!--end of navbar-->
         <!--start of the part of overlay html-->
            <div id="myNav" class="overlay">
             <div class="overlay-content">
               <a href="/info/learn">personal finance 101</a>
              <a href="/info/faqs">faqs</a>
              <a href="/info/aboutus">about us</a>
              <a href="/info/contact-us">contact us</a>

              </div>
             </div>
        <!--end of the part of overlay html-->

             <div class="container" style="min-height: 100vh;">


               <div>
              <h1 class="title_con">contact us</h1>
              </div>

                   <form method="post" data-parsley-validate="" required>
                   {% csrf_token %}
                 <!--first name-->
                    <div class="form_spacingcon" >
                   <div class="form-group">
                     <label for="firstname" class="label_font_1">First name</label>
                     <input type="text" class="form-control" name="firstname" id="firstname" data-parsley-alpha=""
                     data-parsley-type-message="" data-parsley-error-message="">
                   </div>

                 <!--last name-->

                    <div class="form-group">
                     <label for="lastname" class="label_font_1" >Last name</label>
                     <input type="text" class="form-control" name="lastname" id="lastname" data-parsley-alpha=""
                     data-parsley-type-message="" data-parsley-error-message="" >
                   </div>

                   <div class="form-group">
              <label for="comment" class="label_font_1">Comment</label>
                <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
                   </div>


                   </div>



                 <div class="form_spacingcon2">
              <div class="form-group">
                <label for="email" class="label_font_1">Email</label>
                <input type="text" class="form-control" name="email" id="email" data-parsley-alphadash=""
              data-parsley-type-message="" data-parsley-error-message=""
                 data-required="true" >
              </div>


             <!--mobile number-->

                <div class="form-group">
                 <label for="mobnum" class="label_font_1" >Mobile number</label>
                <input type="text" class="form-control" id="mobnum"  name="mobnum" data-parsley-type-message="" data-parsley-error-message="" data-parsley-mob=""
              >
               </div>

               <div align="center">
                 <button type="submit" class="btn btn-lg btn5_edit" style="text-decoration: none; outline: none;" >Submit</button>
               </div>


              </div>




              <script>



              var $form = $("form");
              $("input").keyup(function() {
                  $form.parsley().validate()


              });

              </script>



           </body>
           </html>
