<!DOCTYPE html>
<html>
<head>
  <title>perk finance</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'images/iconlogo.png' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/mainstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/faqs2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/overlay.css' %}">
<script src="{% static 'information/js/front_end_processing.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104910317-1', 'auto');
  ga('send', 'pageview');

</script>
<style type="text/css">
  
   .red{
  color: #7F47DD;


}

 @media screen and (max-width:767px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

@media screen and (min-width:768px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}
</style>




</head>
<body class="body_color" >
  

         <!--start of navbar-->
             <div  >
             <nav class="navbar navbar-custom  navbar-fixed-top navbar-static-top" >
               <div class="container">
                 <div>
                   <a  href="/" ><img class="poslogo " src="{% static 'images/logo.png' %}"/></a>
                 </div>
                 <div>
                 <a class="pos" id="menubar"><span id="g" name="open" class="glyphicon glyphicon-menu-hamburger"
                   style="color:#000000;"  onclick="tog()">

                 </span>
                 </a>
                 </div>


               </div>


             </nav>
             </div>
         <!--end of navbar-->
         <!--start of the part of overlay html-->
            <!--start of the part of overlay html-->
            <div id="myNav" class="overlay">
             <div class="overlay-content">
               <a href="/info/learn">personal finance 101</a>
              <a href="/info/faqs">faqs</a>
              <a href="/info/aboutus">about us</a>
              <a href="/info/contact-us">contact us</a>

              </div>
             </div>
        <!--end of the part of overlay html-->
   <div id="faq" class="container">

               <div class="falayout">
                <h1 class="title_font1c" style="color: #7F47DD;">faqs</h1>
               </div>


            <div class="sublay">
               <button type="button" id="maincol1" class="btnsub header101" data-toggle="collapse" onclick="accord(this.id)" data-target="#demo1"  >Taking a loan</button>
               <div id="demo1" class="collapse subhead1">
                 <div class="subsublay">
                 <button type="button" id="col1" class="btnsub1" data-toggle="collapse" data-target="#part2" ">What is Perk Finance?</button>
                    <div id="part2" class="collapse sub3lay sec1">
                      Perk Finance is India’s first customer centric personal loan app. We offer hasslefree personal loans in partnership with banks and NBFCs.
                      With the tap of a button, the app lets you borrow up to ₹1 lakh depending on your eligibility
                       based on credit profile of the customer. The loan is re-paid in Equated Monthly Instalments (EMI) through online banking.
                    </div>

                <div class="line" > </div>

               </div>

               <div class="subsublay">
               <button type="button" id='col2' class="btnsub1" data-toggle="collapse" data-target="#part3" >Who is eligible to apply for Perk Finance?</button>
                  <div id="part3" class="collapse sub3lay sec1">
                  Indian citizens above the age of 25. Salaried and self employed with net monthly income more than ₹25,000/- are eligible to apply for a loan at Perk Finance.

                  </div>

              <div class="line" > </div>

             </div>
             <div class="subsublay">
             <button type="button" id='col3' class="btnsub1" data-toggle="collapse" data-target="#part4">How is the credit limit decided?  </button>
                <div id="part4" class="collapse sub3lay sec1">
                  Based on the information you share with us about your profile, income, credit history and social info, our algorithm will calculate your credit limit with us. This will increase for your subsequent loans depending on your repayment behaviour.

                </div>

            <div class="line" > </div>

           </div>
           <div class="subsublay">
           <button type="button" id='col4' class="btnsub1" data-toggle="collapse" data-target="#part5">How do I apply for loan on Perk Finance?
          </button>
              <div id="part5" class="collapse sub3lay sec1">
              It is a simple process that can be completed in minutes if you have the documents ready. Download the app, fill in the profile and upload the documents. We will decide on the approval the loan in hours and post approval transfer the funds to your account in 24 hours.
              </div>

          <div class="line" > </div>

         </div>
         <div class="subsublay">
         <button type="button" id='col5' class="btnsub1" data-toggle="collapse" data-target="#part6">What are the documents required for applying for Perk Finance?
          </button>
            <div id="part6" class="collapse sub3lay sec1">
              Aadhaar Card<br>
         Pan Card<br>
         Net Banking login information for your salary / primary account<br>
         If employed – Salary slid and employee id card<br>
          If self employed – ITR form for the previous financial year<br>

            </div>

         <div class="line" > </div>

              </div>
           <div class="subsublay">
               <button type="button" id='col6'  class="btnsub1" data-toggle="collapse" data-target="#part7">What is the interest rate?</button>
                     <div id="part7" class="collapse sub3lay sec1">
                   The interest rate is the market rates for personal loan with zero collateral. It can be as low as 1.25% per month depending the credit profile of the user.

                  </div>

                <div class="line" > </div>

                 </div>

             <div class="subsublay">
                  <button type="button" id='col7' class="btnsub1" data-toggle="collapse" data-target="#part8">How do I know if my application is approved?</button>
                   <div id="part8" class="collapse sub3lay sec1">
                          You will receive a call / message from our representative in addition to the notification on the app.
                  </div>

                       <div class="line" > </div>

                          </div>


               <div class="subsublay">
                <button type="button" id='col8' class="btnsub1" data-toggle="collapse" data-target="#part9">Can I Change/Cancel my request?
                    </button>
                   <div id="part9" class="collapse sub3lay sec1">
                     Of course, if your loan has not been disbursed you may cancel the loan request in ‘Loans’ section of our app.


                   </div>

                  <div class="line" > </div>

                 </div>


             </div>
           </div>







   <!--secong part-->
                <div class="line1" > </div>

                <div class="sublay">
                   <button type="button" id="maincol2" class="btnsub header101" onclick="accord(this.id)" data-toggle="collapse" data-target="#part10">Servicing your loan</button>
                   <div id="part10" class="collapse subhead1">
                     <div class="subsublay">
                     <button type="button" id="col11" class="btnsub1" data-toggle="collapse" data-target="#part11">How do I pay back?
                        </button>
                        <div id="part11" class="collapse sub3lay sec2">
                          You will transfer the funds through NEFT / UPI to our account. Our account details will be available in the ‘Loans’ section of our app. The updated loan schedule is also available on our app.

                        </div>

                    <div class="line" > </div>

                   </div>

                   <div class="subsublay">
                   <button type="button" id="col12" class="btnsub1" data-toggle="collapse" data-target="#part12">Can I schedule/setup auto-debit from my bank?
</button>
                      <div id="part12" class="collapse sub3lay sec2">
                        Sure. Our account details will be available in the ‘Loans’ section of our app.

                      </div>

                  <div class="line" > </div>

                 </div>
                 <div class="subsublay">
                 <button type="button" id="col13" class="btnsub1" data-toggle="collapse" data-target="#part13">How can I reschedule or change/postpone my EMI date? Is it possible?  </button>
                    <div id="part13" class="collapse sub3lay sec2">
                      Yes, it is possible. You will have to write to us at <u>hello@perkfinance.com</u> to reschedule your EMI. There will be additional charges for it.

                    </div>

                <div class="line" > </div>

                         </div>

                         <div class="subsublay">
                         <button type="button" id="col14" class="btnsub1" data-toggle="collapse" data-target="#part14">What happens if I delay or don’t pay back?
</button>
                            <div id="part14" class="collapse sub3lay sec2">
                            <p>  If you do not repay or delay your repayment, our partner bank will automatically report it to credit score agencies nominated by the RBI. Once your credit score is affected, you will loose access to all your future loan applications with banks and other NBFCs. The bank will also initiate legal recourse to recover the money from you.
                            </p>
                            <p>You may be unable to get a loan in future from any bank / NBFC to buy a house, a car or a two-wheeler or get a credit-card, as all the lending institutions in the country check with these agencies before approving your loan.
                            </p>

                            </div>

                        <div class="line" > </div>

                       </div>

                       <div class="subsublay">
                       <button type="button" id="col15" class="btnsub1" data-toggle="collapse" data-target="#part15">Can I foreclose the loan?</button>
                          <div id="part15" class="collapse sub3lay sec2">
                          Of course and you will get a 50% rebate on your remaining interest in case you foreclose a loan. Write to us at hello@perkfinance.com
                          </div>

                      <div class="line" > </div>

                               </div>

                 </div>
             </div>
               <div class="line1" > </div>






<!--third part-->


               <div class="sublay">
                  <button type="button" id="maincol3"  class="btnsub header101" onclick="accord(this.id)" data-toggle="collapse" data-target="#part16">Web / App security</button>
                  <div id="part16" class="collapse subhead1">
                    <div class="subsublay">
                    <button type="button" id="col17" class="btnsub1" data-toggle="collapse" data-target="#part17">Is it safe to apply for Perk Finance online?
</button>
                       <div id="part17" class="collapse sub3lay sec3">
                        It is absolutely safe. All your information, personal, financial or related to employment are encrypted through the Secure Socket Layer (SSL) protocol, used by leading institutions across the world. We will never share your information with any marketing agencies or tele-callers.
                       </div>

                   <div class="line" > </div>

                  </div>

                  <div class="subsublay">
                  <button type="button" id="col18" class="btnsub1" data-toggle="collapse" data-target="#part18">You ask for internet banking details. How safe is it? </button>
                     <div id="part18" class="collapse sub3lay sec3">
                       We use a read only connection with Perfios (click to know more Perfios.com) to get your banking statements. We do not have access to your internet banking password and can not do a transaction in it.

                     </div>

                 <div class="line" > </div>

                </div>
                <div class="subsublay">
                <button type="button" id="col19" class="btnsub1" data-toggle="collapse" data-target="#part19">What if I uninstall the app, buy a new phone?  </button>
                   <div id="part19" class="collapse sub3lay sec3">
                     All your information stored with us can be accessed in the app. If you change your phone / uninstall the app, you will not be able to access this info. However, your loan will be active and your liabilities will continue with the bank / NBFC until it is cleared. We strongly encourage you to re-install the app, as it will increase your chances for subsequent loans and higher credit limits.

                   </div>

               <div class="line" > </div>

              </div>
                     </div>
               </div>
               <div class="line1" > </div>



               <!--fourth part-->

     
               <div class="sublay">
                  <button type="button" id="maincol4" class="btnsub header101" onclick="accord(this.id)" data-toggle="collapse" data-target="#part20">Support
</button>
                  <div id="part20" class="collapse subhead1">
                    <div class="subsublay">
                    <button type="button" id="col21" class="btnsub1" data-toggle="collapse" data-target="#part21">Whom should I contact for other queries?
</button>
                       <div id="part21" class="collapse sub3lay sec4">
                      Write to us at <u>hello@perkfinance.com</u> and we will be happy to assist you with any queries. You may also chat with us on our website / app during working hours.
                       </div>

                   <div class="line" > </div>

                  </div>
                </div>
              </div>
                 <div class="line1" > </div>

                            






             </div>

             

             <footer class="container">   
                               <div class="col-xs-6" id="foot12" align="left">
                           <span style="font-size:10px; font-weight:bolder;">&#169;  </span>
                           <span class="footer_content">  perkfinance.com</span><br>

                            
                          <a href="/info/terms-and-conditions" style="text-decoration:none;color:#000000;" target="_blank" >Terms & conditions</a><br>
                            <a href="/info/privacy-policy" style="text-decoration:none;color:#000000;" target="_blank">Privacy Policy</a>
                             </div>

                          



                            <div align="right" id="soc">                            <span class="cop">
                           <a href="#" target="_blank" class="fa fa-facebook-f social_icons" ></a></span>
                            <span>
                                <a href="https://twitter.com/perkfinance" target="_blank" class=" fa fa-twitter social_icons1" ></a></span>
                                <span>
                                <a  href="https://www.instagram.com/perkfinance/" target="_blank" class=" fa fa-instagram social_icons1" ></a></span></div>


                                </div>






                         
                         </footer> 


          
           <script>
       

    var on = false;
 

function accord(pid){
     
      
     var car1 = ["maincol1","maincol2","maincol3","maincol4"];
              var cars =     ["demo1","part10","part16","part20"];
     var a= car1.indexOf(pid);

        for (var i = 0; i < car1.length; i++) {
         
         if(i==a){
              document.getElementById(car1[i]).style.color = "#7F47DD";
             }else{
              document.getElementById(car1[i]).style.color = "#000000";
             }
              
              $('#'+ cars[i]).collapse("hide");



         
      }
         
       
 }
 


       

$(".sec1").on("show.bs.collapse", function(){
                  var car1 = ["col1","col2","col3","col4","col5","col6","col7","col8"];
              var cars =     ["part2","part3","part4","part5","part6","part7","part8","part9"];
            var a = cars.indexOf(this.id);




           for (var i = 0; i < cars.length; i++) {

             if(i==a){
              document.getElementById(car1[i]).style.color = "#7F47DD";
             }else{
              document.getElementById(car1[i]).style.color = "#000000";
             }
              
              $('#'+ cars[i]).collapse("hide");

              
              
            }
           });



   
           $(".sec1").on("hide.bs.collapse", function(){
        
                var car1 = ["col1","col2","col3","col4","col5","col6","col7","col8"];
              var cars =     ["part2","part3","part4","part5","part6","part7","part8","part9"];

            var a = cars.indexOf(this.id);
               document.getElementById(car1[a]).style.color = "#000000";
           });   





  $(".sec2").on("show.bs.collapse", function(){
                var car1 = ["col11","col12","col13","col14","col15"];
              var cars =     ["part11","part12","part13","part14","part15"];

            var a = cars.indexOf(this.id);



           for (var i = 0; i < cars.length; i++) {

             if(i==a){
              document.getElementById(car1[i]).style.color = "#7F47DD";
             }else{
              document.getElementById(car1[i]).style.color = "#000000";
             }
              
              $('#'+ cars[i]).collapse("hide");

              
              
            }
           });


   
           $(".sec2").on("hide.bs.collapse", function(){
        
                 var car1 = ["col11","col12","col13","col14","col15"];
              var cars =     ["part11","part12","part13","part14","part15"];

            var a = cars.indexOf(this.id);
               document.getElementById(car1[a]).style.color = "#000000";
           });  





$(".sec3").on("show.bs.collapse", function(){
                var car1 = ["col17","col18","col19"];
              var cars =     ["part17","part18","part19"];
            var a = cars.indexOf(this.id);




           for (var i = 0; i < cars.length; i++) {

             if(i==a){
              document.getElementById(car1[i]).style.color = "#7F47DD";
             }else{
              document.getElementById(car1[i]).style.color = "#000000";
             }
              
              $('#'+ cars[i]).collapse("hide");

              
              
            }
           });



   
           $(".sec3").on("hide.bs.collapse", function(){
        
                var car1 = ["col17","col18","col19"];
              var cars =     ["part17","part18","part19"];

            var a = cars.indexOf(this.id);
               document.getElementById(car1[a]).style.color = "#000000";
           });   



$(".sec4").on("show.bs.collapse", function(){
                var car1 = ["col21"];
              var cars =     ["part21"];
            var a = cars.indexOf(this.id);




           for (var i = 0; i < cars.length; i++) {

             if(i==a){
              document.getElementById(car1[i]).style.color = "#7F47DD";
             }else{
              document.getElementById(car1[i]).style.color = "#000000";
             }
              
              $('#'+ cars[i]).collapse("hide");

              
              
            }
           });



   
           $(".sec4").on("hide.bs.collapse", function(){
        
                var car1 = ["col21"];
              var cars =     ["part21"];

            var a = cars.indexOf(this.id);
               document.getElementById(car1[a]).style.color = "#000000";
           });   







           </script>







           </body>
           </html>
