<!DOCTYPE html>
<html>
<head>
  <title>perk finance</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'images/iconlogo.png' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/mainstylemob.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/mainstyetabdesk.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/personalfin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'information/css/overlay.css' %}">
<script src="{% static 'information/js/front_end_processing.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104910317-1', 'auto');
  ga('send', 'pageview');

</script>
<style type="text/css">
	@media screen and (max-width: 767px){
       .bt1a1{
  margin-top: 10px;
  border-color:#88a80d;
  border-width: 5px;
  background-color: #FFFFFF;
 height: 70px;
 width: 7em;
 font-family: 'Roboto';
 font-size: 20px;
 padding-top: 15px;
text-decoration: none;
color: #000000;


}

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }
}


@media screen and (min-width: 768px){

.bt1a1{
  margin-top: 10px;
  border-color:#88a80d;
  border-width: 5px;
  background-color: #FFFFFF;
 height: 70px;
 width: 9em;
 font-family: 'Roboto';
 font-size: 20px;
 padding-top: 15px;
text-decoration: none;
color: #000000;

}
	
  .poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }



</style>

</head>
<body class="body_color" >

         <!--start of navbar-->
             <div  >
             <nav class="navbar navbar-custom  navbar-fixed-top navbar-static-top" >
               <div class="container">
                 <div>
                   <a  href="/" ><img class="poslogo " src="{% static 'images/logo.png' %}"/></a>
                 </div>
                 <div>
                 <a class="pos" id="menubar"><span id="g" name="open" class="glyphicon glyphicon-menu-hamburger"
                   style="color:#000000;"  onclick="tog()">

                 </span>
                 </a>
                 </div>


               </div>


             </nav>
             </div>
         <!--end of navbar-->
         <!--start of the part of overlay html-->
            <div id="myNav" class="overlay">
             <div class="overlay-content">
               <a href="/info/learn">personal finance 101</a>
              <a href="/info/faqs">faqs</a>
              <a href="/info/aboutus">about us</a>
              <a href="/info/contact-us">contact us</a>
              </div>
             </div>
        <!--end of the part of overlay html-->
        <div class="container" style="min-height: 100vh;">
          <div class="yloan1">
         <h1 class="title_font1a"><B>personal finance 101</B></h1>

         <h2 class="text_font1a" ><b>
        Unable to get a loan due to poor credit score? Here is what you should do<b>
        </h2><br>
           <p class="text_font1aa" >
             A good credit score ensures that any loan you apply for gets sanctioned quickly. The score reflects one’s track record in handling credit.
             </p>

             <div align="left">
               <div id="demo" class="collapse text_font1aa pfcol">
               <p>
     Credit score reflects one’s creditworthiness which depends on various factors including your past history of loan default. The score is arrived at by credit bureaus on the basis of data made available by lending institutions every month. The score reflects one’s track record in handling credit.</p>
        <p>“On an average, credit scores range from 300 to 900. A majority of the loans are offered to people whose credit score is higher than 750. A good credit score ensures that any loan you apply for gets sanctioned quickly and that the best possible interest rate in the market is available to you. So prior to applying for any loan, you must apply to one of India’s four credit bureaus - CIBIL, Equifax, Experian or Crif Highmark – to find out your credit report,” Amar Pandit, Founder & Chief Happyness Officer at HappynessFactory.in told Moneycontrol.</p>
        
        <p>The gradation is as follows:<br>
           -- Above 800 – excellent <br>
           -- Between 750 and 800 - good <br>
           -- Between 700 and 750- fair <br>
           -- Between 650 and 700- poor<br>

        </p>

        <p>But, what if your credit score is low leading to loan rejection? You need to take immediate steps to improve your score so that loan applications in future sail through. Moneycontrol spoke to Pandit and Navin Chandani , Chief Business Development Officer, BankBazaar.com to know how one can improve one credit score.</p>

        <p>Following are Amar Pandit’s recommendations:
        <p>-- <b>Resolve past mistakes</b>: Defaulting on loans can occur due to a variety of reasons; leading a spendthrift lifestyle, loss of job, illness. Credit scores could plummet, causing all future credit market activity to cease. Remedial actions include creating a budget and sticking to it diligently or informing the bank about any monetary difficulties and asking for a revised payment date, thereby reducing the EMI and extending the loan tenure. Playing truant once you have already defaulted on a loan is the last thing one should do.<br>
          
               -- <b>Resolve past mistakes</b>: A healthy mix of credit aids in assembling a good credit score. This can include creating a mix of unsecured and secured loans, instead of depending massively on one category.<br>


            --<b>Make use of credit prudently</b>: As long as the sum of your EMIs does not exceed 50% of your take home salary, most banks are open to giving you a loan. But taking debt needs to be a well thought out. If interest rates rise, you EMIs will increase, leaving you in a difficult position. Hence, one must stick to a prudent limit of restricting all EMI and credit card payments to 30% of your take home salary.<br>

             -- <b>Resolve past mistakes</b>: A healthy mix of credit aids in assembling a good credit score. This can include creating a mix of unsecured and secured loans, instead of depending massively on one category.<br>

                -- <b>Develop a good mix of credit</b>: Defaulting on loans can occur due to a variety of reasons; leading a spendthrift lifestyle, loss of job, illness. Credit scores could plummet, causing all future credit market activity to cease. Remedial actions include creating a budget and sticking to it diligently or informing the bank about any monetary difficulties and asking for a revised payment date, thereby reducing the EMI and extending the loan tenure. Playing truant once you have already defaulted on a loan is the last thing one should do.<br>


                   -- <b>Don’t display credit hunger</b>: If you make use of credit cards, it’s best to curtail its usage up to 40% of the credit limit allowed on the card. Applying for bank loans should also be avoided within a limited time period. This is because, every time you do so, your credit health undergoes a check-up by institutions and every such enquiry results in lowered credit score.<br>


                      -- <b>Get errors rectified</b>: Low credit scores can, at times, be a result of errors in the records of lending institutions. A loan might have been paid off but its records might not have been updated in the lender’s books or you might have become a victim of identity fraud. Such errors come to light only when a credit report goes through. Thus, it is highly important that the report gets checked for discrepancies and they get rectified at the earliest.<br>


                         -- <b>Don’t pay for other’s sins</b>: Avoid being a victim of other people’s financial indiscretions. Other than if the person is really close to you, like your spouse, do not become a co-borrower in a loan. Likewise, do not become a guarantor. This is so that you aren’t not liable to make payments in case the borrower defaults. If you fail to pay the money, your credit score could take a hit.<br>


          
        </p>
        <br>


        <p>Bankbazaaar’s Navin Chandani’s prescriptions for improving your credit score are as follows:<br>

          -- <b>Make repayments on time</b>:This is the most important step to follow for a healthy credit score. Be it your credit card bills or your loan EMI, try to pay it before the due date every single time. Delay of even a single day gets recorded. While such a small delay may not have an impact, they will all add up.<br>

          -- <b>Pay your bills in full</b>:It is best to pay your entire credit card bill every time before the due date. If you cannot pay the entire amount for whatever reasons, try to pay as much as possible and not just the minimum amount. For one, the interest on credit cards charge a very high interest on the unpaid amount, increasing your burden. Second, it also gives an impression of being credit-hungry. Stick to a 30% utility on your cards and repay the due amount promptly.<br>

          -- <b>Don’t close old accounts</b>:Old loans and credit cards with good repayment history prove that you have been using a loan or credit card for a long time and are good at paying your EMIs on time. If you randomly close your long-running credit accounts, it may adversely affect your credit score.<br>

          -- <b>Don’t randomly apply for fresh credit</b>:Each time you apply for a loan or credit card, the bank raises a query for your credit history. Such frequent requests give the impression of being credit-hungry and can bring down your score. Also, it is not advisable to apply with multiple banks and then choose the one that offers you a loan or credit card. If you apply with multiple banks, chances are that all of them may decline your application. This can lead to further downgrading of your credit score.<br>

               -- <b>Boost your card limit</b>:A low credit limit on your card with high utilisation does not present a very impressive picture. On the contrary, if you increase your credit limit and use a lower amount it would bolster your credit score.<br><br>

               Read the article on moneycontrol.com 
               <a href="http://bit.ly/2vNIBmA" target="_blank">here</a>



          
        </p>





   </div>
          <button data-target="#demo" id="ra" class="btn btn-lg bt1a1" data-toggle="collapse" onclick="change2(this.id)" style="outline: none;text-decoration: none;">Read More</button><br>
        </div>





       <h2 class="text_font1a" ><b>
         How incorrect closure of credit cards and loan accounts can damage your loan hopes<b>
   </h2><br>
         <p class="text_font1aa" >
           If you are unable to meet your monthly EMI payments, depending on the number of days that have passed without payment, you will be branded a defaulter by the lender.
           </p>

           <div align="left">
             <div id="demo2" class="collapse text_font1aa pfcol">
             <p>
           
From the novels we read, the movies we see, to the relations we keep, everybody loves a pleasant ending. It is the same when it comes to ending our credit accounts, more so because incorrect closure could lead to unpleasant consequences, and could dash our hopes of obtaining new credit in the future.
         </p>

         

          <p>
             <b>Closing credit card accounts</b><br>
In general, it is not good to close an existing credit card, unless you have too many credit cards or you are unable to at least make minimum due payments on your existing credit cards.
         </p>

         <p>
          If you must close credit cards, close the one that you obtained most recently and keep the older credit cards open since the older ones will help build your credit score, especially if you have been making on-time repayments consistently.
         </p>

         <p>
         Also, close credit cards that you do not use, but keep at least one open for you to use as required. For credit cards, that you keep open, ensure that you do not utilise the available credit line to the fullest — keep credit line utilisation under 50%. This way you will not be considered credit hungry and this will help build your credit score.
          

         </p>

         <p>
          The first step would be to assess the number of credit cards that you have and the status reported against each. This can be done by obtaining your credit report which is maintained by credit bureaus like CIBIL and Equifax. One glance at your credit report would give you a sense of your credit health.

         </p>

         <p>The below-mentioned statuses could be found against your credit card accounts.</p>


         <p>
           <b>CLOSED - </b>
           A credit card is considered ‘closed’ when you have made regular payments and there are no outstanding amounts against your name. A closed account reflects with a blank status in the credit bureau report and you must ensure that this is appropriately reflected on your report.
         </p>


         <p>
           <b>SETTLED - </b>
          A ‘settled’ status against your credit card account means that you have not paid the total outstanding to your credit card issuer and that the issuer and you have mutually agreed to ‘settle’ for an amount lesser than the total outstanding. This is considered a ‘negative’ status and could impact your ability to obtain new credit in the future. Most banks may be unwilling to approve new loans and credit cards to anyone who has a ‘settled’ account from the past. It is best to ensure that upon closure of a credit card, the status is reported as ‘closed’ in order to be considered loan eligible in the future.
         </p>


         <p>
           <b>WRITTEN-OFF  - </b>
          This appears on your credit report when you have missed multiple months of credit card payments. Accumulation of these defaults in payments would result in your account being reported as ‘written off”. This will definitely negatively impact your credit score and future loan eligibility.<br>
Both ‘settled’ and ‘written off’ status against your credit card accounts could potentially affect your creditworthiness and you must act to get these accounts ‘closed’. In addition, one might see statuses listed as ‘suit filed’, ‘Post write-off settled’, DPD, etc. that are also considered as negative by lenders in the future, and requires to be rectified prior to applying for new loans.
         </p><br>

         <p>
           <b>Closing loan accounts</b><br>
          Personal loans and loans that have a monthly installment (EMI) have a monthly repayment schedule and a contractual tenor. As long as these are repaid as originally contracted, the loan will self-liquidate at the end of the contractual tenor and you should have no problem in the way the loan is closed and reported to the credit bureau.
         </p>

         <p>However, if you are unable to meet your monthly EMI payments, depending on the number of days that have passed without payment, you will be branded a defaulter by the lender. Successive instances of non-payment of monthly instalments would result in your loan account be classified as ‘written off’.</p>
         
         <p>Under some conditions when you are genuinely unable to meet payment deadlines, lenders will offer an option of a one-time settlement where you will be required to pay an amount which is lesser than the total outstanding amount.
          
         </p>

         <p>
         A settlement might provide you temporary respite but will put you in a sticky situation when you apply for loans in the future as banks would be unwilling to lend because of your patchy credit history.
          
         </p>

         <p>
          The only way out from this situation is to properly close the loan account for which you must first obtain your credit report and check if you have any loan accounts in the “settled” or “written off” state.
         </p>

         <p>
          Get in touch with the lender to pay the outstanding dues to close your loan account in the right manner, and obtain a ‘no dues’ certificate from the lender which is legal proof that you have closed your loan account without any outstanding dues.
         </p>

         <p>
         Your decisions have consequences, and sometimes these are far reaching; closing an old account without any outstanding is the only way to ensure that these accounts do not affect your future borrowing capacity.
          
         </p>

         <p>Read the article on moneycontrol.com  <a href="http://bit.ly/2hJosYr">here</a>
         </p>




             </div>

            <button data-target="#demo2" id="rb" class="btn btn-lg bt1a1" data-toggle="collapse" onclick="change3(this.id)" style="outline: none;text-decoration: none;">Read More</button><br>
      </div>
            </div>

          </div>


     <script type="text/javascript">
     


      function change2(pid){
         $(".collapse").collapse('hide');
           
           var str=document.getElementById(pid).innerHTML;

          
         
         }

     
        function change3(pid){
           
           $(".collapse").collapse('hide');
            
             var str=document.getElementById(pid).innerHTML;

           
     
       }
  
      $("#demo").on("hide.bs.collapse", function(){
        document.getElementById("ra").innerHTML="Read More";
      });

      $("#demo").on("show.bs.collapse", function(){
        document.getElementById("ra").innerHTML="Read Less";
      });

      
         $("#demo2").on("hide.bs.collapse", function(){
        document.getElementById("rb").innerHTML="Read More";
      });

      $("#demo2").on("show.bs.collapse", function(){
        document.getElementById("rb").innerHTML="Read Less";
      });

        




     </script>








     
      </body>
      </html>
