<!DOCTYPE html>
<html>
<head>
  <title>perk finance</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="pictures/logo.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/privacypol.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/overlay.css' %}">

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

<script src="{% static 'js/front_end_processing.js' %}"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104910317-1', 'auto');
  ga('send', 'pageview');

</script>
<style type="text/css">
  
   .red{
  color: #7F47DD;


}

 @media screen and (max-width:767px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

@media screen and (min-width:768px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}
</style>



</head>
<body class="body_color">




     <!--start of the part of overlay html-->
            <div id="myNav" class="overlay">
             <div class="overlay-content">
               <a href="/info/learn">personal finance 101</a>
              <a href="/info/faqs">faqs</a>
              <a href="/info/aboutus">about us</a>
              <a href="/info/contact-us">contact us</a>

              </div>
             </div>
        <!--end of the part of overlay html-->

      <!--start of navbar-->
          <div>
          <nav class="navbar navbar-custom  navbar-fixed-top navbar-static-top" >
            <div class="container">
              <div>
                <a  href="/" ><img class="poslogo " src="{% static 'images/logo.png' %}"/></a>
              </div>
              <div>
              <a  class="pos" id="menubar"><span id="g" name="open" class="glyphicon glyphicon-menu-hamburger"
                style="color:#000000;"  onclick="tog()"></span></a>
              </div>


            </div>


          </nav>
          </div>
      <!--end of navbar-->

    <div class="container">
      <div class="playout">
      <h4 class="head1">PRIVACY POLICY</h4>
      <h4 class="head2"> Date Of Latest Version: 20th July 2017</h4>
        <p class="para1">Perk Finance.com and its third-party service providers engaged to render certain services on the App (if applicable) <strong>(“Perk finance”/“We”/ “Us”)</strong> are committed to upholding the privacy and security of the information supplied by every person <strong>(“User”/“You”)</strong> accessing and using any version of the Perk Finance application <strong>(“App”)</strong> on a compatible device.
          This privacy policy <strong>(“Privacy Policy”)</strong> briefly provides the manner in which We collect and use User information. By accessing or using the App, You signify that You have read, understood and agree to be bound by this Privacy Policy. We reserve the right to update or modify this Privacy Policy at any time without prior notice and such changes shall be effective immediately upon posting the updated or modified Privacy Policy on the PERK FINANCE website (i.e. PERK FINANCE and we shall not be bound to inform you of any modifications hereof. Your access and use of the App following any such change constitutes your agreement to follow and be bound by this Privacy Policy, as updated or modified. For this reason,
          We encourage You to review this Privacy Policy each time You access and use the App. Your use of the App and any disputes arising therefrom, is subject to this Privacy Policy as well as the terms and conditions, as set out below <strong>(“T&C”)</strong>.
Please read the T&C ( Term & Conditions) in order to obtain information on the terms governing the use of our App and our services.</p>

                 <h4 class="head3">I. Information Collected:</h4>


             <p class="p2">We will collect personal information of the User. While some User information has to be mandatorily provided, others are optional and certain portions of the information will remain private and some will be displayed to other users; We shall always let the User know which is which. Additional information may be gathered during subsequent use of the App by the User, whenever the User chooses to provide it.
            </p>

            <div class="paraspac">
             <p class="p2">A. Certain mandatory information will be collected at the time of registration on the App which is required to enable the User to login to the App and for Us to: (i) verify the User’s identity; (ii) determine the User’s eligibility for taking loans using, inter alia, our proprietary technology and such additional rules that may be determined by: (a) Us; (b) our banking partners; or (c) both (a) and (b); and (iii) safeguard against illegal activities like fraud, cheating, misappropriation, etc.
            </p>
             </div>

             <div class="paraspac1">
         <p class="p2">B. In order to use the facilities and services available on the App, the User may be required, from time to time, to provide certain additional personal information after registration on the App, which information shall be collected only upon receiving the User’s express consent
</p>
         </div>
        <div class="paraspac1">
         <p class="p2">C. We may also automatically receive and collect certain anonymous information in standard usage logs through the web server, including mobile-identification information obtained from the equivalent of “cookies” sent to the App, including mobile network information, standard web log information, traffic to and from our App, tracking inside the App and any other available information, from:
</p>
         </div>
      <div class="paraspac2">
         <p class="p2">an IP address, assigned to the device used by the User;
</p>
         </div>
      <div class="paraspac2">
         <p class="p2">the domain server through which the User accesses the App and the functions and features therein; and
</p>
         </div>
      <div class="paraspac2">
         <p class="p2">the type of device used by the User <strong>(“Device”)</strong>.</p>
         </div>

         <div class="paraspac1">
    <p class="p2">D. The User may choose to provide Us with access to certain personal information stored by third parties like social networking sites (e.g. Facebook and Linkedin). We will have access to such information to the extent allowed by the User’s privacy settings on that site and the User’s specific authorization. In the event the User associates a User account managed by Us with an account maintained with any third party to enable Us to access certain information maintained in such third party managed accounts, the User agrees that We may collect, store and use such information in accordance with this Privacy Policy.</p>
    </div>
       <div class="paraspac1">
        <p class="p2">E. After obtaining the User’s specific consent to allow the App to access the User’s SMS inbox, we may collect relevant information from text messages (SMS) received by the Users from providers of services and/or products (including but not limited to retail outlets, financial institutions, mobile carriers and utility companies), that will enable us to provide better access to financial services and products to the Users. We will only access business messages that originate from alphanumeric senders.
</p>
       </div>
       <div class="paraspac1">
      <p class="p2">F. In order to enhance our ability to provide valuable services and experiences to the User, We may: (i) automatically receive, collect and analyse your location information which may be accessed through a variety of methods including, inter alia, GPS, IP address, and cell tower location; and (ii) collect information pertaining to your Device and your usage thereof, including, inter alia,  the names of the other applications on your mobile Device and how you use them, information about your Device, and information about your use of features or functions on your Device.
</p>
       </div>

           <h4 class="head3">II. Method and manner of use of User information</h4>

           <ul>
              <li>A. When the User registers with the App, We will use the information supplied by the User to pull a credit report from a credit bureaus and identity verification services to facilitate banks and other financial institutions to evaluate the User’s loan request in the context of the User’s complete financial situation.</li>
             <li>B. We will also use the User information to enable activities and transactions that need to occur during the process of lending, such as:</li>
              <ul>
                <li>Generating and maintaining User profiles on the App;</li>
                  <li>Provide personalized features;</li>
                  <li>Aiding financial services organizations to provide better services;</li>
                  <li>Facilitating collection activities as needed;</li>
                    <li>Maintaining regular communications with the User concerning transactions the User initiates, such as requesting information or assistance, submitting a loan request, making payments, transferring funds, etc.</li>
                      <li>Modifying the App from time to time to cater to the User’s interests;
</li>
                        <li>Providing the App and the functions and features therein, efficiently ;</li>
                          <li>Preserve social history as governed by existing law or policy;</li>

              </ul>
              <li>C. You acknowledge that you are licensing Us to use, modify, display, distribute and create new material from the information you provide through the App to render certain services on the App. By providing such information, you automatically agree, or promise that the owner of such information has expressly agreed to allow or license, as the case may be, Us to use the information in the manner set out in this Privacy Policy, without the payment of any fees. We may, to the extent permitted by law, also use, license, reproduce, distribute disclose, and aggregate, non-personally identifiable information that is derived through your use of the App and you hereby provide consent for the same.  </li>

         </ul>


          <h4 class="head3">III. Sharing Of Information</h4>
          <p class="para1">We will not use User information for any purpose other than in connection with the App. PERK FINANCE will not rent, sell or share User information and will not disclose any of the User’s personally identifiable information to third parties, unless:
</p>
           <div >
            <ol>
              <li>&nbsp;it is pursuant to obtaining the User’s permission;
</li>
                <li>&nbsp;it is in connection with the services being rendered through the App;
</li>
                <li>&nbsp;it is to help investigate, prevent or take action regarding unlawful and illegal activities; suspected fraud, potential threat to the safety or security of any person, violations of PERK FINANCE’s Terms & Conditions, or as defence against legal claims;</li>
                  <li>&nbsp;it is a case of special circumstances such as compliance with court orders, requests/order, notices from legal authorities or law enforcement agencies compel us to make such disclosure; and</li>
                  <li>&nbsp;it forms part of the information PERK FINANCE shares with advertisers on an aggregate basis.
</li>

            </ol>
           </div>






             <h4 class="head3">IV. Information security</h4>
             <ul>
               <li>A. The information provided by the User is stored in access controlled facilities with restricted access. User Information transmitted over the internet is protected through the use of encryption, using the Secure Socket Layer (SSL) or equivalent protocols.
</li>
                 <li>B. If a password / PIN is used to help protect User accounts and account information, it is the responsibility of the User to keep the password confidential. You have to ensure that You always log out, before sharing the device with a third party and it is advised that the User utilize a service to protect access to the User’s Device.
</li>
                    <li>C. We shall use generally accepted industry standards to protect the User information submitted to Us, both during transmission and upon receipt. However, please be advised that, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, even though We strive to use commercially acceptable means to protect User information, We cannot guarantee its absolute security and your use of the App is at your sole risk and discretion. We also cannot warrant that such User information may not be misused in the event our safeguards and protocols are breached by a malicious third-party. Further, We are not liable to nor can we fully control the actions of other users with whom you may choose to share your information.</li>
                       <li>D. The collection, usage, and sharing of User information by PERK FINANCE shall be in compliance with the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011 and other applicable laws.</li>
                    </ul>



                         <h4 class="head3">V. Procedure For Removing User Name from the Records</h4>
                         <ul>
                           <li>A. If and when a User is desirous of having his/her name and other details removed from the records of PERK FINANCE, immediately upon receiving the User’s written request to that effect PERK FINANCE shall, subject to the terms hereof, remove and/delete all such information.</li>
                           <li>B. If the User no longer wishes to receive notifications about PERK FINANCE services, The User may change his/her notification preferences by contacting PERK FINANCE at hello@Perk Finance.com. PERK FINANCE reserves the right to close the User account if the User opts out of receiving certain crucial notices that are required to perform the PERK FINANCE services through its App. The User may not opt-out of receiving notifications about due or past due amounts that the User owes PERK FINANCE or any other collections efforts.
</li></ul>

                           <h4 class="head3">VI. Procedure For Correcting Inaccuracies In The Information
</h4>
                        <p class="para1">The User may correct or update any information online. In the event of loss of access details the User may retrieve the same or receive new access details by sending an e-mail to: hello@perkfinance.com

                        </p>


                        <h4 class="head3">In case you need any clarifications, please contact us on <u>hello@perkfinance.com</u>
</h4>






























        </div>









    </div>

  </body>
  </html>
