<!DOCTYPE html>
<html>
<head>
  <title>perk finance</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'images/iconlogo.png' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/mainstyle.css">
<link rel="stylesheet" type="text/css" href="css/terms.css">
<link rel="stylesheet" type="text/css" href="css/overlay.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/terms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/overlay.css' %}">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

<script src="{% static 'js/front_end_processing.js' %}"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104910317-1', 'auto');
  ga('send', 'pageview');

</script>
<style type="text/css">
  
   .red{
  color: #7F47DD;


}

 @media screen and (max-width:767px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}

@media screen and (min-width:768px){

.poslogo{
          float: left;
          display: block;
          color:#000000 ;
          padding-left: 10px;
          text-decoration: none;
          width: 180px;
          height: 70px;
          margin-top: 5px;
       }


}
</style>



</head>
<body class="body_color">




      <!--start of the part of overlay html-->
            <div id="myNav" class="overlay">
             <div class="overlay-content">
               <a href="/info/learn">personal finance 101</a>
              <a href="/info/faqs">faqs</a>
              <a href="/info/aboutus">about us</a>
              <a href="/info/contact-us">contact us</a>

              </div>
             </div>
        <!--end of the part of overlay html-->

      <!--start of navbar-->
          <div>
          <nav class="navbar navbar-custom  navbar-fixed-top navbar-static-top" >
            <div class="container">
              <div>
                <a  href="/" ><img class="poslogo " src="{% static 'images/logo.png' %}"/></a>
              </div>
              <div>
              <a  class="pos" id="menubar"><span id="g" name="open" class="glyphicon glyphicon-menu-hamburger"
                style="color:#000000;"  onclick="tog()"></span></a>
              </div>


            </div>


          </nav>
          </div>
      <!--end of navbar-->

    <div class="container">
      <div class="tlayout">
      <h3 class="head1">Terms and Conditions </h3>
      <p class="p1">
        Perk Finance.com <strong>(“PERK FINANCE”)</strong> is a property of and operated by Ya Ventures. By accessing or using any version of the PERK FINANCE application <strong>(”App”)</strong> on any
        compatible device, you signify that you have read, understood and agree to be bound by these Terms and Conditions
        <strong> (“T&C”)</strong> and any other applicable law, whether or not you are a registered member of the App.
         As used herein, <strong>“Users”</strong> shall mean anyone who uses or accesses the App on any computer, mobile phone, tablet, console or other device (collectively, <strong>“Device“)</strong>.
         Your continued use of the App shall be constituted as your acceptance to the T&C, as revised from time to time. If you do not agree with these T&C,
          please do not access and use the App. For the purposes of these T&C, “we”, “our” and “us” shall mean PERK FINANCE, and/or third-party service providers engaged by PERK FINANCE
         to render certain services on the App and “you” and “your” shall mean a User who meets the eligibility criteria set out below.

      </p>

    <h4 class="head2">1. Terms and conditions subject to change</h4>
    <div class="paraspac">
     <p class="p1">Your access and use of the App following any such change constitutes your agreement to follow and be bound by these T&C,
        as updated or modified. For this reason,
       we encourage you to review these T&C each time you access and use the App.</p>
     </div>

     <h4 class="head2">2. Eligibility</h4>
     <div class="paraspac">
      <p class="p1">2.1. You represent and warrant that you are competent and eligible to enter into a legally binding agreement and be bound by these T&C.
         You shall not access and use the App if you are not competent to contract under the applicable laws, rules and regulations.</p>
      </div>
      <div class="paraspac">
       <p class="p1">2.2. If you represent a company, partnership firm or sole proprietorship, you shall be eligible to access the App and avail of the features
         and facilities on its behalf only if you have been duly authorized by way of necessary corporate action, as may be prescribed statutorily and/or
         under the charter documents of such entity and further, if you have fulfilled such additional eligibility requirements as PERK FINANCE may require in connection therewith.</p>
       </div>

       <h4 class="head2">3. Intellectual Property Policy</h4>
       <div class="paraspac">
        <p class="p1">3.1. All of the content on the App, including, without limitation, all of the page headers, images, illustrations, graphics, audio clips,
          video clips or text, reports generated, trademarks, tradenames (“App Content“),
          constitute our and our licensors’ intellectual property. Copyright laws in all applicable jurisdictions protect the App and the App Content.</p>
        </div>
        <div class="paraspac">
         <p class="p1">3.2. You may access the App, avail of the features and facilities and utilize the App Content for your personal
           or internal requirements only. You are not entitled to duplicate, distribute, create derivative works of, display, or
            commercially exploit the App Content, features or facilities, directly or indirectly, without our prior written permission.
            If you would like to request permission to commercially exploit any particular App Content, you could contact us in the manner provided for herein.</p>
         </div>
         <div class="paraspac">
          <p class="p1">3.3. Perk Finance and its licensors, if any, are the sole owners of the underlying
             software and source code associated with the App and all the trademarks, copyright and any other intellectual property
             rights of any nature in the App.</p>
          </div>

          <h4 class="head2">4. User Account, Passcode & Security</h4>
          <div class="paraspac">
           <p class="p1">4.1. You have an option to set a security passcode on the App once you are approved for a credit limit. You are responsible for
             maintaining the confidentiality of the passcode and your account (“Account”), and are
             fully responsible for all activities that occur under your passcode or Account. You agree to: (a)
             immediately notify us of any unauthorized use of your passcode or Account or any other breach of security;
             and (b) ensure that you exit from your Account at the end of each session. We cannot and will not be liable for
             any loss or damage arising from your failure to comply with this Clause 4.</p>
           </div>
           <div class="paraspac">
            <p class="p1">4.2. You hereby acknowledge that the deletion of the App from the Device does not constitute termination
              of your Account and agree to undertake the process detailed herein in order to complete de-registration.
              If and when you are desirous of having your name and other details removed from the records of Perk Finance,
              immediately upon receiving your written request to that effect Perk Finance shall remove and/delete all such information.
              You hereby acknowledge that the removal of your details from Perk Finance does not constitute termination of your obligations,
              if any, to our banking partner who may have approved your credit limit on Perk Finance.</p>
            </div>

            <h4 class="head2">5. Use of App – Features and Facilities</h4>
            <div class="paraspac">
             <p class="p1">5.1. Through the App, Perk Finance assists Users to gain access
               to certain credit schemes from its banking and financial partners.
               </p>
             </div>
             <div class="paraspac">
              <p class="p1">5.2. Perk Finance hereby grants to you a restricted, non-transferable, license to download and use the App on a Device,
                having the specifications
                provided for in Clause 7 of these T&C, which you own or control, to avail of the functions and features in accordance with these T&C.</p>
              </div>
              <div class="paraspac">
               <p class="p1">5.3. The App provides inter alia a combination of the following facilities to its visitors:</p>
               <p class="p2layed">
                 Qualification for various financial products;<br>
                      Monitoring personal financial transactions and credit history; and<br>
                      Personal credit management.

               </p>
               </div>
               <div class="paraspac">
                <p class="p1">5.4. Your usage of the App will necessitate you to provide to us certain personal and
                  financial information, which shall be collected and maintained as per the terms laid down in our Privacy Policy,
                  which is available here.</p>
                </div>

            <h4 class="head2">6. Customer Communications</h4>
            <div class="paraspac">
             <p class="p1">6.1. Accepting these T&C, implies your express consent to be contacted by us, our agents, representatives, affiliates,
                or anyone calling on our behalf at any contact number, or
               physical or electronic address provided by you while registering your Account.
               You further agree to us contacting you in any manner, including without limitation,
                SMS messages (including text messages), calls using pre-recorded messages or artificial voice,
                calls and messages delivered using auto telephone dialling system or an automatic texting system,
                and notifications sent via the App. Automated messages may be played when the telephone is answered,
                whether by you or someone else. In the event that an agent or representative calls, he or she may also
                leave a message on your answering machine, voice mail, or send one via SMS</p>
             </div>
             <div class="paraspac">
              <p class="p1">6.2. You certify, warrant and represent that the telephone numbers and/or email addresses
                and any other information that you have provided to us are your own and not someone else’s and are true,
                accurate, current and complete. You represent that you are permitted to receive calls at each of the telephone
                numbers you have provided to us and emails at each of the email addresses you have provided us. You agree to notify
                us whenever you stop using a particular telephone number(s) and/or email address (es).
             </p>
              </div>

              <h4 class="head2">7. System Requirements</h4>
           <div class="paraspac">
            <p class="p1">7.1. In order to use the App, you are required to have a
              compatible Device with the following minimum specifications: Android
              Operating System version 4.1 (SDK level 16) or higher.</p>
            </div>

            <h4 class="head2">8. User Guidelines</h4>
          <div class="paraspac">
           <p class="p1">8.1. In consideration of Perk Finance granting you the rights hereunder, you hereby agree not to use
             the App for any purpose that is unlawful under any applicable laws and/or in violation of the terms of these T&C
              and our Privacy Policy. You shall not use the App in any manner that could damage, disable, overburden, or impair
               our server, or any network(s) connected to any Perk Finance server, or interfere with any other party’s use and
               enjoyment of the App. You shall not attempt to gain unauthorized access to any functions and features, other user
                accounts, computer systems or networks connected to any Perk Finance server, in any manner, including, through hacking,
                password mining or any other means. You shall not obtain or attempt to obtain any materials or information through any
                 means which is not intentionally made available through the App.</p>
           </div>
           <div class="paraspac">
          <p class="p1">8.2. The App is made available to you for your own personal and non-commercial use alone.
            You shall not allow third parties to: (i) make and/or distribute copies of the App or any deliverable
             generated by the App; (ii) attempt to copy,
            reproduce, alter, modify and/or reverse engineer the App; and/or (iii) create derivative works of the App.</p>
          </div>

          <div class="paraspac">
          <p class="p1">8.3. You accept that any and all operations emanating from your Device shall be assumed to have been initiated by you.
          </p>
          </div>
          <div class="paraspac">
          <p class="p1">8.4. You shall not copy, reproduce, distribute, or create derivative works of our content that is
            available on the App. Also, you shall not reverse engineer or reverse compile our technology that is available
             on the App, including, without limitation, such Java Applet, as may be associated with the App from time to time.</p>
          </div>
           <div class="paraspac">
          <p class="p1">8.5. You shall request Perk Finance, to block the Account and change the passcode
            immediately for the Account, if your Device has been lost or stolen.
           </p>
          </div>
          <div class="paraspac">
         <p class="p1">8.6. You are responsible for any and all activities that occur in your Account.
           You agree to notify Perk Finance immediately of any unauthorized use of the Account or any other breach of security.
            Perk Finance shall not be liable for any loss to you or your organization owing to negligent actions or a failure on
            your part to inform Perk Finance, within a reasonable time, about loss or theft of your Device and/or any unauthorized
             access in your Account, either with or without your knowledge.</p>
         </div>

         <div class="paraspac">
         <p class="p1">8.7. You shall be liable for losses incurred by Perk Finance or any other party due to a third party’s use of the Account.
           You shall not use any other person’s account at any time, without the permission of the account holder and Perk Finance.</p>
         </div>
         <div class="paraspac">
         <p class="p1">8.8. Perk Finance shall make all reasonable efforts to ensure that your information is kept confidential.
            However, Perk Finance shall not be responsible for any disclosure or leakage of confidential information and/or
            loss or damage of the Device due to theft, negligence or failure on your part to practice safe computing.</p>
         </div>
          <div class="paraspac">
         <p class="p1">8.9. You shall ensure that while using the functions and features,
           all prevailing and applicable laws, rules and regulations, shall at all times, be strictly complied
            with by You and Perk Finance shall not be liable in any manner whatsoever for default of any nature, by you, regarding the same.
           </p>
         </div>
         <div class="paraspac">
        <p class="p1">8.10. You understand and acknowledge that upon using the App, you authorize us to access third party sites designated by you, on your behalf, to retrieve such information requested by you, and to register for accounts requested by you. For all purposes hereof, you hereby grant us a limited powers and hereby authorize us with the full power of substitution and re-substitution, for you and in your name, place and stead, in any and all capacities, to access third party internet sites, servers or documents, retrieve information, and use your information, all as described above, with the full power and authority to do and perform each and every act and thing requisite and necessary to be done in connection with services and facilities available on the App, as fully to all intents and purposes as you might or could do in person. You acknowledge and agree that when we accesses and retrieve information from third party sites, we are acting as your agent, and not the agent or on behalf of the third party. You agree that such third parties shall be entitled to rely on the foregoing authorization, agency granted by you.
       </p>
        </div>

        <div class="paraspac">
        <p class="p1">8.11. You must notify your bank immediately in the event your credit card is lost, stolen, not received, swallowed at an ATM, or is being misused without your permission. Please refer the detailed instructions received from your bank for additional precautions to be taken in case of loss/ theft/ misuse of your credit card.</p>
        </div>


        <h4 class="head2">9. Indemnification
         </h4>
           <div class="paraspac">
            <p class="p1">9.1. You agree to protect, defend and indemnify us and hold us and our representatives harmless from and against any and all claims, damages, costs and expenses, including attorneys’ fees, arising from or related to your access and use of the App in violation of these T&C and/or your infringement, or infringement by any other user of your Account, of any intellectual property or other right of anyone.</p>
            </div>
            <div class="paraspac">
             <p class="p1">The terms of this provision will survive any termination or cancellation of these T&C or your use of the App.</p>
             </div>


             <h4 class="head2">10. Warranties</h4>
           <div class="paraspac">
            <p class="p1">10.1. The App and the functions and features therein are provided on an “as is” and on an “as available” basis. We expressly disclaim all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose and non-infringement.
          </p>
            </div>

        <div class="paraspac">
            <p class="p1">10.2. Perk Finance shall make reasonable efforts to make available the App and the functions and features at all times. However we make no warranty that the App shall meet your requirements, be uninterrupted, timely, secure, and/or error free. Further we do not make any warranty as to the results that may be obtained from the use of the functions and features or as to the accuracy, reliability and/or quality of the output derived therefrom.
</p>
            </div>
          <div class="paraspac">
            <p class="p1">10.3. Perk Finance shall not be liable for the loss and/or damage of the confidential information or data of the User arising as a result of an event or a series of related events, that is beyond the control of Perk Finance, including failures of or problems with the internet or part of the internet, attempted hacker attacks, hacker attacks, denial of service attacks and/or viruses or other malicious software attacks or infections.
</p>
            </div>
            <div class="paraspac">
             <p class="p1">10.4. Any material downloaded or otherwise obtained through the App is done at your own discretion and risk and you are solely responsible for any damage to your Device or loss of data that results from the download of any such material. No advice or information, whether oral or written, obtained by you from us through or from the service will create any warranty not expressly stated in these T&C .</p>
             </div>

             <h4 class="head2">11. Limitation of Liability</h4>
          <div class="paraspac">
           <p class="p1">11.1. In no event shall we be liable for any direct, indirect, punitive, incidental, special or consequential damages or for any damages whatsoever including, without limitation, damages for loss of use, data or profits, arising out of or in any way connected with the access, use or performance of this app’s functions and features or for interruptions, delay, etc., even if we were advised of the possibility of damages resulting from the cost of getting substitute facilities on the app, any products, data, information or services purchased or obtained or messages received or transactions entered into through or from the app, unauthorized access to or alteration of your transmissions or data statements or conduct of anyone on the app, or inability to use the app, the provision of or failure to provide the functions and features, hether based on contract, tort, negligence, strict liability or otherwise. this clause shall survive in perpetuity.
</p>
           </div>

           <h4 class="head2">12. Severability</h4>
          <div class="paraspac">
           <p class="p1">12.1. If any provision of these T&C is held to be illegal, invalid or unenforceable under any present or future applicable laws: (a) such provision will be replaced with another, which is not prohibited or unenforceable and has, as far as possible, the same legal and commercial effect as that which it replaces; and (b) the remaining provisions of the T&C will remain in full force and effect and will not be affected by the illegal, invalid, or unenforceable provision or by its severance here from.
</p>
           </div>

           <h4 class="head2">13. Termination</h4>
          <div class="paraspac">
           <p class="p1">13.1. Perk Finance may terminate the use of the App at any time after giving notice of the termination to you.</p>
           </div>
           <div class="paraspac">
            <p class="p1">13.2. Upon termination, the rights and license granted to you herein shall terminate and you must cease all use of the App.</p>
            </div>

            <h4 class="head2">14. Waiver</h4>
            <div class="paraspac">
             <p class="p1">14.1. Any failure on the part of Perk Finance to require performance of any provision of these T&C shall not affect its right to full performance thereof at any time thereafter, and any waiver by Perk Finance of a breach of any provision hereof shall not constitute a waiver of a similar breach in the future or of any other breach.
</p>
             </div>

             <h4 class="head2">15. Assignment</h4>
             <div class="paraspac">
              <p class="p1">15.1. You shall not assign or transfer any rights, obligations, or privileges that you have under these T&C , without the prior written consent of Perk Finance. Subject to the foregoing, these T&C will be binding on the successors and permitted assignees of Perk Finance. Any assignment or transfer in violation of this clause will be deemed null and void.</p>
              </div>

              <h4 class="head2">16. Independence from platforms</h4>
           <div class="paraspac">
            <p class="p1">16.1. The App is independent of any platform on which it is located. The App is not associated, affiliated, sponsored, endorsed or in any way linked to any platform operator, including, without limitation, Apple, Google / Android (each being an “Operator”).</p>
            </div>

           <div class="paraspac">
            <p class="p1">16.2. Your download, installation, access to or use of the App is also bound by the terms and conditions of the Operator.</p>
            </div>
           <div class="paraspac">
            <p class="p1">16.3. You and Perk Finance acknowledge that these T&C are concluded only between you and Perk Finance, and not with an Operator, and Perk Finance, not those Operators, are solely responsible for the App and the content thereof to the extent specified in these T&C .</p>
            </div>
            <div class="paraspac">
            <p class="p1">16.4. Perk Finance is solely responsible for providing any maintenance and support services with respect to the App as required under applicable law. You and PERK FINANCE acknowledge that an Operator has no obligation whatsoever to furnish any maintenance and support services with respect to the App.</p>
            </div>
            <div class="paraspac">
           <p class="p1">16.5. You and Perk Finance acknowledge that Perk Finance, not the relevant Operator, is responsible for addressing any User claims or any third party claim? relating to the App or your possession and/or use of the App, including, but not limited to: (i) any claim that the App fails to conform to any applicable legal or regulatory requirement; and (ii) claims arising under consumer protection or similar legislation.</p>
          </div>
         <div class="paraspac">
          <p class="p1">16.6. You and Perk Finance agree that, in the event of any third party claim that the App or your possession and use of the App infringes that third party’s intellectual property rights, Perk Finance and not the relevant Operator, will be solely responsible for the investigation, defence, settlement and discharge of any such intellectual property infringement claim; provided such infringement was caused by Perk Finance.</p>
        </div>
          <div class="paraspac">
          <p class="p1">16.7. You must comply with any applicable third party terms of agreement when using the App (e.g. you must ensure that your use of the App is not in violation of your Device agreement or any wireless data service agreement).</p>
           </div>
          <div class="paraspac">
             <p class="p1">16.8. You and Perk Finance agree that the relevant Operator, and that Operator’s subsidiaries, are third party beneficiaries of these T&C , and that, upon your acceptance of these T&C , that Operator will have the right (and will be deemed to have accepted the right) to enforce the terms of these T&C against you as a third party beneficiary thereof.</p>
             </div>

               <h4 class="head2">17. Updates</h4>
            <div class="paraspac">
             <p class="p1">17.1. Perk Finance reserves the right to update the App, in order to, inter alia, increase efficiency, optimize user interface, and add new facilities from time to time. Update packages will be sent to you on your Device for download and installation.</p>
             </div>
             <div class="paraspac">
             <p class="p1">17.2. You hereby agree to install the updates from time to time and acknowledge that Perk Finance will only be able to provide Account support for the App if you ensure to install all updates upon receiving notifications thereof when using the App.</p>
             </div>

               <h4 class="head2">18. Validity of T&C</h4>
               <div class="paraspac">
             <p class="p1">18.1. These T&C shall apply when you complete the authentication process and create an account and shall remain valid and binding on you for so long as you maintain the Account.</p>
             </div>

             <h4 class="head2">19. Governing Law and Justification</h4>
</h4>
            <div class="paraspac">
             <p class="p1">These T&C (and by extension, the Privacy Policy) are governed and construed in accordance with Indian law. By using the App, you hereby irrevocably consent to the exclusive jurisdiction and venue of courts in Bangalore, Karnataka, India, in the event of any disputes arising out of or in relation to your access to and use of the App.</p>
             </div>

               <h4 class="head2">Contact Information: hello@perkfinace.com</h4>
















    </div>

    </body>
    </html>
