
     /*screen layout for mobile screen*/
     @media screen and (max-width: 575px) {

         .container {
             padding-left: 0px;
             padding-right: 0px;
             padding-top: 0px;
         }
         .pos1{
           margin-left: 15px;
           margin-top: 5px;
           width:180px;
         }
         .pos{
           margin-right:15px;
         }
      
       }


      /*end of partner*/


       /* screen layout for desktops*/
       @media screen and (min-width: 768px) {
        
         

          .container{
            width: 600px;
              background-color: #ffffff;
                }

                .body_color{
                  background-color: #f0e9fb;
                }

                }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}