@media screen and (max-width: 767px){
	


	#topv1.row{
		min-height: 17vh;
	}
	#topv3.container{
		padding-left: 35px;
		padding-right: 35px;
	}

	#topv4.row{
		padding-left: 20px;
		padding-right: 20px;
	}

   #topv6.row{
   	margin-top: 5px;
   	margin-bottom: 5px;
   
   }
	.head0{
		margin: 0;
		text-align: center;
		font-size: 30px;
		font-family: 'Roboto';
		font-weight: bolder;
		color: #7F47DD;
	}
  .head1{
  	font-size: 18px;
  	font-family: 'Roboto';
  	font-weight: bolder;

  }

  .text1{

  	font-family: 'PT Sans';
  	text-transform: capitalize;

  }

  .head2{
  	font-size: 30px;
  	font-family: 'Roboto';
  	font-weight: bolder;

  }


.line{
  border-bottom:3px solid  #b3b3b3;


}
.line1{
  border-bottom:3px solid  #b3b3b3;
}

.btn-editpro1{
	border-color:#7F47DD;
     border-width: 5px;
     background-color: #FFFFFF;
    height: 50px;
    width: 10em;
    
    font-family: 'Roboto';
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;

}

.btn-editpro2{
	border-color:#7F47DD;
     border-width: 5px;
     background-color: #FFFFFF;
    height: 50px;
    width: 10em;
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 20px;
    padding: 10px;
    margin-bottom: 2em;

}

}



@media screen and (min-width: 768px){
	html {
		min-height: 100vh;
	}
	#profile.container{
		min-height: 100vh;
	}

	.col-xs-6{
		padding-right: 0;
		padding-left: 60px;
	}
	
	#topv1.row{
		min-height: 12vh;
	}
	#topv3.container{
		
	}

	#topv4.row{
		padding-left: 20px;
		padding-right: 20px;
	}

   #topv6.row{
   	margin-top: 5px;
   	margin-bottom: 5px;

   
   }
	.head0{
		margin: 0;
		text-align: center;
		font-size: 35px;
		font-family: 'Roboto';
		font-weight: bolder;
		color: #7F47DD;
	}
  .head1{
  	font-size: 20px;
  	font-family: 'Roboto';
  	font-weight: bolder;

  }

  .rupee{
  	font-size: 15px
  }

  .text1{

  	font-family: 'PT Sans';
  	text-transform: capitalize;
  	font-size: 15px;

  }

  .head2{
  	font-size: 30px;
  	font-family: 'Roboto';
  	font-weight: bolder;

  }


.line{
  border-bottom:3px solid  #b3b3b3;
  margin-left: 40px;
  margin-right: 40px;


}
.line1{
  border-bottom:3px solid  #b3b3b3;
  margin-bottom: 15px;
}

.btn-editpro1{
	border-color:#7F47DD;
     border-width: 5px;
     background-color: #FFFFFF;
    height: 60px;
    width: 13em;
    
    font-family: 'Roboto';
    font-size: 25px;
    padding: 10px;
    margin-top: 40px;

}

.btn-editpro2{
	border-color:#7F47DD;
     border-width: 5px;
     background-color: #FFFFFF;
    height: 60px;
    width: 13em;
    
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 25px;
    padding: 10px;
    margin-bottom: 2em;

}

}