@media screen and (max-width: 768px) {
.layoutsor{
  padding-left: 3em;
  padding-right:1em;

}
  .title_9{

     margin-top: 4em;
     text-align: left;
     font-size:35px;

     line-height: 1.2em;
     font-family: 'Roboto';

   }

.text_font2_app{
  text-align: left;
  font-size: 20px;
  margin-top: 1.5em;

  line-height: 1.2em;
    font-family:'PT Sans';
}
.text_font3_app{
  text-align: center;
    font-size: 22px;
    margin-top: 1.5em;



  line-height: 1.2em;
  font-family:'PT Sans';
}
.text_font4_app{
  text-align: center;
    font-size: 22px;
  font-family:'PT Sans';
  margin-top: 1.5em;



  line-height: 1.2em;

}
.btn7_edit{
  background-color: white;
  border: 4px solid #7F47DD;
  font-size: 25px;
  border-radius: 5px;
  font-family: 'Roboto';
  text-align: center;

  width:10em;
  height: 2.8em;

  margin-top: 1em;
  border-width: 5px;

}

}

@media screen and (min-width: 768px) {

  .layoutsor{
    padding-left: 3em;
    padding-right:1em;

  }

  .title_9{

     margin-top: 3em;
     text-align: left;
     font-size:50px;

     line-height: 1.2em;
     font-family: 'Roboto';

   }

.text_font2_app{
  text-align: left;
  font-size: 30px;
  margin-top: 1.5em;

  line-height: 1.2em;
    font-family:'PT Sans';
}
.text_font3_app{
  text-align: center;
  font-size: 25px;
  margin-top: 2em;
  line-height: 1.2em;
  font-family:'PT Sans';
}
.text_font4_app{
  text-align: center;
  font-size: 25px;
  font-family:'PT Sans';
margin-top: 2em;
  line-height: 1.2em;

}
.btn7_edit{
  background-color: white;
  border: 4px solid #7F47DD;
  font-size: 2em;
  border-radius: 5px;
  font-family: 'Roboto';

  width:12em;
  height: 3em;

  margin-top: 2em;
  border-width: 5px;

}
.bottomspac{
  padding-bottom: 19em;
}

}
