
 @media screen and (max-width: 768px) {

   .btn5_edit{
     background-color: white;
     border: 4px solid #7F47DD;
     font-size: 2em;
     border-radius: 5px;
     width:9em;


     height: 2.5em;

     margin-top: 1em;
     border-width: 5px;

   }
   h2.number{
     text-align:center;
     font-size:30px;
     font-family:'PT Sans';
      font-weight: bold;

   }

   .title_6{
     margin-top: 3em;
     text-align: center;
     font-size:35px;

     font-family: 'Roboto';
 }
 .form-spacing1{
   padding-left: 3em;
   padding-right: 2em;
   padding-bottom: 1em;
 }



  .form-control{



    width:21em;
    border-color: #000000;
    border-radius: 0;
    height: 3em;


  }

  .label_font_1{

  font-family:'Roboto';
  font-size: 20px;
  font-weight: normal;


  }
  .radiolabel{
    font-size: 20px;
    font-weight: normal;
    font-family:'Roboto';
    padding-right:3em;;

  }
  .radiolabel2{
    font-size:20px;
    font-weight: normal;
    font-family:'Roboto'
  }
.radiolabel3{
  font-size: 20px;
  font-weight: normal;
  font-family:'Roboto';
  padding-right:12px;
}
.radiolabel4{
  font-size: 20px;
  font-weight: normal;
  font-family:'Roboto';
}
.botspac{
  padding-bottom: 2em;
}


   input[type="radio"]{
   display: none;
     }

   input[type="radio"] + label:before {
     background-color: #ffffff;
     border: 1px solid #000000;
     content:"";
     display: inline-block;
     font-size:70px;
     height: 35px;
     width: 35px;
     line-height: 35px;


     margin-right: 8px;
     vertical-align:middle ;
     text-align: center;
    border-radius: .75em;
   }

   input[type="radio"]:checked + label:before {
     content: "\2022"
   }



}


 @media screen and (min-width: 768px) {
input[type="radio"]{
display: none;
  }

input[type="radio"] + label:before {
  background-color: #ffffff;
  border: 1px solid #000000;
  content:"";
  display: inline-block;
  font-size:70px;
  height: 35px;
  width: 35px;
  line-height: 35px;


  margin-right: 8px;
  vertical-align:middle ;
  text-align: center;
 border-radius: .75em;
}

input[type="radio"]:checked + label:before {
  content: "\2022"
}


.btn5_edit{
  background-color: white;
  border: 4px solid #7F47DD;
  font-size: 2em;
  border-radius: 5px;
  width:11em;


  height: 2.5em;

  margin-top: 1em;
  border-width: 5px;

}
h2.number{
  text-align:center;
  font-size:35px;
  font-family:'PT Sans';
   font-weight: bold;

}

.title_6{
  margin-top: 3em;
  text-align: center;
  font-size:40px;

  font-family: 'Roboto';
}
.form-spacing1{
padding-left: 5em;
padding-right: 2em;
padding-bottom: 1em;
}



.form-control{



 width:30em;
 border-color: #000000;
 border-radius: 0;
 height: 3em;


}

.label_font_1{

font-family:'Roboto';
font-size: 20px;
font-weight: normal;


}

.radiolabel{
  font-size: 20px;
  font-weight: normal;
  font-family:'Roboto';
  padding-right:5em;

}
.radiolabel2{
  font-size:20px;
  font-weight: normal;
  font-family:'Roboto'
}
.radiolabel3{
font-size: 20px;
font-weight: normal;
font-family:'Roboto';
padding-right:3em;
}
.radiolabel4{
font-size: 20px;
font-weight: normal;
font-family:'Roboto';
}
.botspac{
  padding-bottom: 2em;
}

}
