@media screen and (max-width: 767px){
  .title_con{
    text-align: center;
    margin-top: 3em;
    font-size: 30px;
    font-weight: bolder;
   font-family: 'Roboto';

  }
  .form_spacingcon{
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;

  }
  .label_font_1{

  font-family:'Roboto';
  font-size: 15px;
  font-weight: normal;


  }

  .form-control{



    min-width:3em;
    border-color: #000000;
    border-radius: 0;
    height: 2em;


  }

  .form_spacingcon2{
    margin-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;

  }

  .btn5_edit{
    background-color: white;
    border: 4px solid #7F47DD;
    font-size: 25px;
    border-radius: 5px;
    width:9em;
    height: 2.5em;

    margin-top: .5em;
    border-width: 5px;

  }
}



@media screen and (min-width: 768px){


.title_con{
  text-align: center;
  margin-top: 3em;
  font-size: 35px;
  font-weight: bolder;
 font-family: 'Roboto';

}
.form_spacingcon{
  margin-top: 1em;
  padding-left: 3em;
  padding-right: 3em;

}
.label_font_1{

font-family:'Roboto';
font-size: 20px;
font-weight: normal;


}

.form-control{



  min-width:3em;
  border-color: #000000;
  border-radius: 0;
  height: 3em;


}

.form_spacingcon2{
  margin-top: 2em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 10em;

}

.btn5_edit{
  background-color: white;
  border: 4px solid #7F47DD;
  font-size: 28px;
  border-radius: 5px;
  width:11em;
  height: 2.5em;

  margin-top: .5em;
  border-width: 5px;

}
}
