
@media screen and (max-width: 768px){

.yloan1{ padding-left: 25px;
           padding-right: 25px;
           padding-bottom: 3em;


}
.title_font1a{
              font-family:'Roboto';
               font-size: 30px;
              margin-top: 3.5em;
               color:#88a80d;

    }
.text_font1a{margin-top: 2em;
          font-family:'PT Sans';
             font-size: 20px;
             font-weight: bolder;


}
.text_font1aa{

              font-family:'PT Sans';
               font-size: 15px;
               font-weight: 500;

}

}

@media screen and (min-width: 768px){

.yloan1{ padding-left: 3em;
           padding-right: 2em;
           padding-bottom: 20vh;



}
.title_font1a{
              font-family:'Roboto';
               font-size: 50px;
              margin-top: 3em;
               color:#88a80d;

    }
.text_font1a{margin-top: 2em;
          font-family:'PT Sans';
             font-size: 30px;
             font-weight: bolder;


}
.text_font1aa{

              font-family:'PT Sans';
               font-size: 20px;
               font-weight: 500;

}

}
