.footer{
  display: none;
}
  .navbar-custom{
                 background-color: #Ffffff;

                }


.hamburger_menu_position{
                         font-size: 10px;

                       }

 .pos{
              float: right;
              display: block;
              color: #f2f2f2;
              text-align: center;
              padding: 25px 16px 0px 50px;
             text-decoration: none;
              font-size: 35px;
              transition: 0.4s;
           }
.pos1{
          float: left;
          display: block;
          color:#000000 ;
          text-align: right;
          padding: 0px 16px 0px 5px;
          text-decoration: none;
          width: 180px;
          height: 63px;
          margin-top: 5px;
       }

.btn1_edit{
     border-color:#7F47DD;
     border-width: 5px;
     background-color: #FFFFFF;
    height: 70px;
    width: 300px;
    font-family: 'Roboto';
    font-size: 30px;
    padding: 10px;

}


.btn2_edit{
     border-color:#FBAE17;
     border-width: 5px;
     background-color: #FFFFFF;
     height: 70px;
     width: 300px;
     font-family: 'Roboto';
     font-size: 30px;
     padding: 10px;
}


.ce_position{ margin-top: 40px;
             margin-left: 25px;
              margin-right: 10px;

}

.raf_position{margin-top: 20px;
             margin-left: 25px;
             margin-right: 10px;


}



.spacing{
  margin-left: px;
  margin-top: 23px;
}
span.fa{
  font-size: 48px;
  opacity: 1.0;
  margin-top: 3em;

}

/*how it works*/
.dimension{ width: 3.2em;

}
.content_spacing{
  margin-top: 6em;
  line-height: 4em;
}
.checkbox_spacing{ margin-left: 2em;
                   margin-top: 4em;

}

.text_font_checkbox_text{  font-family:'PT Sans';
                          font-size: 22px;
                          margin-left: .5em;
                          color: #000000;

}
/* end of how it works*/

  @media (min-width: 576px) and (max-width: 767px) and (min-height:563px) {
    .social_icons1{
      color:#000000;
      font-size:32px;
      padding-left:8em;
      padding-right:6px;  text-decoration: none;

    }
 img.size{

      min-width: 5em;
      min-height: 10em;

 }
 .carousel-inner{

  width:60em;
  height: 40em;

   }
   .container {
       padding-left: 0px;
       padding-right: 0px;
       padding-top: 0px;
   }
   .pos1{
     margin-left: 15px;
     margin-top: 5px;
     width:180px;
   }
   .pos{
     margin-right:15px;
   }
   #fullpage {
 height: 100vh;
 overflow: hidden;
}

#fullpage section { height: 100vh; }




   .text_font{
              font-family:'PT Sans';
              font-size: 20px;
              line-height: 25px;
              color: #000000;
               margin-top: 3em;
              margin-left:2em;
              margin-right: 10px;
              text-align: left;
              }

    .title_font{ font-family:'Roboto';
                 font-size: 40px;
                 line-height:50px;
                 margin-top: 0;
                 padding-top: 3em;




                 margin-left: 1em;
                 margin-right: 10px;
                 font-weight: 900;
                 color: #000000;

                          }
.btn1_edit{
     border-color:#7F47DD;
     border-width: 5px;
     background-color: #FFFFFF;
    height: 70px;
    width: 9em;
    font-family: 'Roboto';
    font-size: 30px;
    padding: 10px;

}


.btn2_edit{
     border-color:#FBAE17;
     border-width: 5px;
     background-color: #FFFFFF;
     height: 70px;
     width: 9em;
     font-family: 'Roboto';
     font-size: 30px;
     padding: 10px;
}



.ce_position{ margin-top: 80px;
             margin-left: 25px;
              margin-right: 10px;

}

.raf_position{margin-top: 20px;
             margin-left: 25px;
             margin-right: 10px;


}

.spacing{
  margin-left: 1.8em;
  margin-top: 23px;


}


.slideshow{
  text-align: center;
  font-size:30px;
  margin-left:10px;

  padding-top: 4em;


  margin-top:0;

}
.carousel-inner{

 width:100%;
 height: 28em;

  }

img.size{

   min-width: 30em;
   min-height: 28em;



       }

       span.fa{
         font-size: 48px;
         opacity: 1.0;
         margin-top: 3.5em;

       }
       /*how it works*/
    .title_3{
    margin-left: 3em;
    margin-top: 0;;
    padding-top: 4em;
      font-size:38px;
     font-weight: bolder;
      font-family: 'Roboto';


    }

    .checkbox_spacing{ margin-left: 7em;
                       margin-top: 3em;
                       line-height: 3.8em;


    }

    .text_font_checkbox_text{  font-family:'PT Sans';
                              font-size: 22px;
                              margin-left: .5em;
                              color: #000000;
                              margin-top: 5px;
                           }
    .btn3_edit{
      width: 10em;
      height: 3em;
      border-color:#7F47DD;
      border-width: 5px;
      background-color: #FFFFFF;
      margin-top: 1em;
    text-align: center;
     font-family: 'Roboto';
     font-size: 25px;
     padding: 20px;
    margin-right: 5em;
    }

    .spacing1{
      margin-top: 1.5em;
      margin-left: 3em;
    }

    .our_partners{
      text-align:left;
      font-size:40px;
      margin-left:30px;
       font-family:'Roboto';
       margin-top: 0;
       padding-top: 3em;

    }
    .text4_font{
               font-family:'PT Sans';
               font-size: 22px;
               line-height: 25px;
               color: #000000;
               margin-top: 2em;

               margin-left: 1.5em;
               text-align:left;
               margin-right: 1em;
               }
               .bank_spac{
                 margin-top: 4em;


               }
               img.bank_size{
                 width:15em;
               }
               .footer {
               position: absolute;
               right: 0;
               bottom: 0;
               left: 0;
               padding: 3rem;
               background-color: #FBAE17;
               text-align: center;
               }


               .slideshow1{
                 text-align: center;
                 font-size:30px;
                 margin-left:10px;

                 padding-top: 4em;


                 margin-top:0;

               }
               .carousel-inner1{

                width:100%;
                height: 28em;

                 }

               img.size1{

                  min-width: 30em;
                  min-height: 28em;



                      }



   }

   @media (min-width: 576px) and (max-width: 767px) and (min-height:200px) and (max-height:562px) {
     .social_icons1{
       color:#000000;
       font-size:32px;
       padding-left:8em;
       padding-right:6px;  text-decoration: none;

     }

    .container {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }
    .pos1{
      margin-left: 15px;
      margin-top: 5px;
      width:180px;
    }
    .pos{
      margin-right:15px;
    }
    #fullpage {
  height: 100vh;
  overflow: hidden;
 }

 #fullpage section { height: 100vh; }




    .text_font{
               font-family:'PT Sans';
               font-size: 20px;
               line-height: 25px;
               color: #000000;
                margin-top: 1.5em;
               margin-left:2em;
               margin-right: 10px;
               text-align: left;
               }

     .title_font{ font-family:'Roboto';
                  font-size: 30px;
                  line-height:50px;
                  margin-top: 0;
                  padding-top: 3em;




                  margin-left: 1em;
                  margin-right: 10px;
                  font-weight: 900;
                  color: #000000;

                           }
 .btn1_edit{
      border-color:#7F47DD;
      border-width: 5px;
      background-color: #FFFFFF;
     height: 60px;
     width: 9em;
     font-family: 'Roboto';
     font-size: 25px;
     padding: 10px;

 }


 .btn2_edit{
      border-color:#FBAE17;
      border-width: 5px;
      background-color: #FFFFFF;
    height: 60px;
      width: 9em;
      font-family: 'Roboto';
      font-size: 25px;
      padding: 10px;
 }



 .ce_position{ margin-top: 30px;
              margin-left: 25px;
               margin-right: 10px;

 }

 .raf_position{margin-top: 20px;
              margin-left: 25px;
              margin-right: 10px;


 }

 .spacing{
   margin-left: 1.8em;
   margin-top: 23px;


 }


 .slideshow{
   text-align: center;
   font-size:30px;
   margin-left:10px;

   padding-top: 3em;


   margin-top:0;

 }
 .carousel-inner{

  width:100%;
  height: 22em;

   }

 img.size{

    min-width: 30em;
    min-height: 28em;



        }

        span.fa{
          font-size: 48px;
          opacity: 1.0;
          margin-top: 3.5em;

        }
        /*how it works*/
     .title_3{
     margin-left: 3em;
     margin-top: 0;;
     padding-top: 2.5em;
       font-size:38px;
      font-weight: bolder;
       font-family: 'Roboto';


     }

     .checkbox_spacing{ margin-left: 7em;
                        margin-top: 10px;
                        line-height: 3.8em;


     }

     .text_font_checkbox_text{  font-family:'PT Sans';
                               font-size: 22px;
                               margin-left: .5em;
                               color: #000000;
                               margin-top: 5px;
                            }
     .btn3_edit{
       width: 10em;
       height: 3em;
       border-color:#7F47DD;
       border-width: 5px;
       background-color: #FFFFFF;
       margin-top: 1em;
     text-align: center;
      font-family: 'Roboto';
      font-size: 25px;
      padding: 20px;
     margin-right: 5em;
     }

     .spacing1{
       margin-top: 1.5em;
       margin-left: 3em;
     }

     .our_partners{
       text-align:left;
       font-size:30px;
       margin-left:30px;
        font-family:'Roboto';
        margin-top: 0;
        padding-top: 3em;
        margin-bottom: 0;

     }
     .spacing4{
       margin-top: 10px;
     }
     .text4_font{
                font-family:'PT Sans';
                font-size: 22px;

                color: #000000;
                margin-top: 10px;

                margin-left: 1.5em;
                text-align:left;
                margin-right: 1em;
                }
                .bank_spac{
                  margin-top: 2em;


                }
                img.bank_size{
                  width:15em;
                }
                .footer {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 2rem;
                background-color: #FBAE17;
                text-align: center;
                }


                .slideshow1{
                  text-align: center;
                  font-size:30px;
                  margin-left:10px;

                  padding-top: 4em;


                  margin-top:0;

                }
                .carousel-inner1{

                 width:100%;
                 height: 28em;

                  }

                img.size1{

                   min-width: 30em;
                   min-height: 28em;



                       }


    }
     /*screen layout for mobile screen*/
     @media screen and (max-width: 575px){

         .container {
             padding-left: 0px;
             padding-right: 0px;
             padding-top: 0px;
         }
         .pos1{
           margin-left: 15px;
           margin-top: 5px;
           width:180px;
         }
         .pos{
           margin-right:15px;
         }
         #fullpage {
       height: 100vh;
       overflow: hidden;
     }

     #fullpage section { height: 100vh; }




         .text_font{
                    font-family:'PT Sans';
                    font-size: 20px;
                    line-height: 25px;
                    color: #000000;
                     margin-top: 3em;
                    margin-left:2em;
                    margin-right: 10px;
                    text-align: left;
                    }

          .title_font{ font-family:'Roboto';
                       font-size: 40px;
                       line-height:50px;
                       margin-top: 0;
                       padding-top: 3em;




                       margin-left: 1em;
                       margin-right: 10px;
                       font-weight: 900;
                       color: #000000;

                                }
      .btn1_edit{
           border-color:#7F47DD;
           border-width: 5px;
           background-color: #FFFFFF;
          height: 70px;
          width: 9em;
          font-family: 'Roboto';
          font-size: 30px;
          padding: 10px;

      }


      .btn2_edit{
           border-color:#FBAE17;
           border-width: 5px;
           background-color: #FFFFFF;
           height: 70px;
           width: 9em;
           font-family: 'Roboto';
           font-size: 30px;
           padding: 10px;
      }



      .ce_position{ margin-top: 40px;
                   margin-left: 25px;
                    margin-right: 10px;

      }

      .raf_position{margin-top: 20px;
                   margin-left: 25px;
                   margin-right: 10px;


      }

      .spacing{
        margin-left: 1.8em;
        margin-top: 23px;


      }


      .slideshow{
        text-align: center;
        font-size:30px;
        margin-left:10px;
        line-height: 1.2em;
        padding-top: 4em;


        margin-top:0;
      }
      .carousel-inner{

       width:41em;
       height: 28em;

        }

     img.size{

         min-width: 30em;
         min-height: 28em;



             }
             span.1st{

               margin-top: 3.5em;

             }
             span.fa{
               font-size: 48px;
               opacity: 1.0;
             }
             /*how it works*/
          .title_3{
            text-align: left;
          margin-top: 0;;
          padding-top: 4em;
          margin-left: 2em;
            font-size:38px;
           font-weight: bolder;
            font-family: 'Roboto';


          }

          .checkbox_spacing{ margin-left: 2.2em;
                             margin-top: 3em;
                             line-height: 3.8em;


          }

          .text_font_checkbox_text{  font-family:'PT Sans';
                                    font-size: 22px;
                                    margin-left: .5em;
                                    color: #000000;
                                    margin-top: 5px;
                                 }
          .btn3_edit{
            width: 10em;
            height: 3em;
            border-color:#7F47DD;
            border-width: 5px;
            background-color: #FFFFFF;
            margin-top: 1em;
          text-align: center;
           font-family: 'Roboto';
           font-size: 25px;
           padding: 20px;
           margin-left: 1em;
          }

          .spacing1{
            margin-top: 1.5em;
            margin-left: 3em;
          }

          .our_partners{
            text-align:left;
            font-size:40px;
            margin-left:30px;
             font-family:'Roboto';
             margin-top: 0;
             padding-top: 3em;

          }
          .text4_font{
                     font-family:'PT Sans';
                     font-size: 22px;
                     line-height: 25px;
                     color: #000000;
                     margin-top: 2em;
                     margin-bottom: 0;
                     padding-bottom: 1em;

                     margin-left: 1.5em;
                     text-align:left;
                     margin-right: 1em;
                     }


                     .footer {
                     position: absolute;
                     right: 0;
                     bottom: 0;
                     left: 0;
                     padding: 3rem;
                     background-color: #FBAE17;
                     text-align: center;
                     }
                     .social_icons1{
                       color:#000000;
                       font-size:28px;
                       padding-left:1em;
                       padding-right:6px;  text-decoration: none;

                     }




                     .slideshow1{
                       text-align: center;
                       font-size:30px;
                       margin-left:10px;

                       padding-top: 4em;


                       margin-top:0;

                     }
                     .slide2{

                      width:100%;
                      height: 13em;

                       }

                     img.size1{


                        width: 15em;
                        height:5em;




                            }

                          .glyphicon-menu-right{
                            margin-top: 4em;
                            color: black;
                          }
                          .glyphicon-menu-left{
                            margin-top: 4em;
                            color: black;
                          }
                          .carousel-control.left, .carousel-control.right {
                      background: none !important;
                      filter: progid: none !important;
                       outline: 0;
                       }


       }


      /*end of partner*/


       /* screen layout for desktops*/
