
/* screen layout for desktops*/
@media screen and (min-width: 768px) {


   .container{
     width: 600px;
       background-color: #ffffff;





             }
     .title_font{
       text-align: left;
       font-size:60px;
       margin-left: 50px;
       line-height: 1.2em;
       margin-top: 0;
          padding-top: 3em;
     }
    .text_font{
      margin-top: 100px;

     margin-left:50px;
     margin-right: 10px;
     font-size: 30px;
     line-height: 1em;
    }
    .spacing{
      text-align: center;
      margin-bottom: 5em;

    }
    .hassle_pagesize{
      padding-bottom: ;
    }
    .body_color{
      background-color: #f0e9fb;
    }
    .carousel-inner{
     position: relative;
     width:100%;
     height: 100%;

      }

   .item>size{

       min-width: 30em;
       min-height: 36em;



           }
           span.fa{
             font-size: 48px;
             opacity: 1.0;
             margin-top: 3.5em;

           }

  .slideshow{
    text-align: center;
    font-size:50px;
    margin-left: 50px;
    line-height: 1.2em;
    margin-top: 0;
    padding-top: 5em;


  }

  /*how it works*/
  .dimension{ width: 4em;
               margin-top: 10px;

  }

  .title_3{
    margin-top: 0;
    padding-top: 4em;
    font-size:60px;
    margin-left: 10px;
    line-height: 1.2em;

     text-align: center;

    font-weight: bolder;
    font-family: 'Roboto';
  }
  .checkbox_spacing{ margin-left: 3.5em;

                     line-height: 5em;

  }

  .text_font_checkbox_text{  font-family:'PT Sans';
                            font-size: 2.2em;
                            margin-left: .5em;
                            color: #000000;
                            margin-top: 5px;



  }


  .btn3_edit{
    width: 12em;
    height: 3em;
    border-color:#7F47DD;
    border-width: 5px;
    background-color: #FFFFFF;
    margin-top: 1em;

   font-family: 'Roboto';
   font-size: 32px;
   padding: 10px;
  }

  /* end of how it works*/
/*our partners*/
.our_partners{
margin-top: 0;
padding-top: 6em;
font-size: 40px;
margin-left: 1em;
font-family: 'Roboto';
}
.text4_font{
    font-family:'PT Sans';
    font-size: 2em;;
    line-height: 25px;
    color: #000000;

    margin-left: .5em;
    text-align:left;
    margin-right: 1em;
    }

.title4_font{ font-family:'Roboto';
       font-size: 3.5em;



       margin-left: 1em;

       font-weight: 900;
       color: #000000;

                }



.spacing4{
margin-left: 30px;
margin-top: 5em;
text-align: left;

}
.bank_spac{
margin-right: 4em;



}
.bank_size{
width:16em;
padding-bottom: 6em;
padding-top: 2em;
}
.footer_content{
font-family:'Roboto';
font-size: 18px;
font-weight: bold;
margin-right: 7em;

}



.footer {
position: absolute;
right: 0;
bottom: 0;
left: 0;
padding: 3rem;
background-color: #FBAE17;
text-align: center;
}

.social_icons1{
  color:#000000;
  font-size:32px;
  padding-left:8em;
  padding-right:6px;  text-decoration: none;

}

.slideshow1{
  text-align: center;
  font-size:30px;
  margin-left:10px;

  padding-top: 4em;


  margin-top:0;

}
.carousel-inner1{

 width:100%;
 height: 28em;

  }

img.size1{

   min-width: 20em;
   min-height: 15em;



       }
       .slide2{

        width:100%;
        height: 19em;

         }



            .glyphicon-menu-right{
              margin-top: 7em;
              color: black;
            }
            .glyphicon-menu-left{
              margin-top: 7em;
              color: black;
            }
            .carousel-control.left, .carousel-control.right {
        background: none !important;
        filter: progid: none !important;
         outline: 0;
         }


#fullpage {
height: 100vh;
overflow: hidden;
padding: 0;
}

#fullpage section { height: 100vh; }


#fullpage section div.part_2{ margin:0;
                       padding:0; }
/*end of footer*/
         }



@media screen and (min-width: 768px) and (min-height: 600px) and (max-height:799px){


   .container{
     width: 600px;
       background-color: #ffffff;





             }
         /*1st part*/
     .title_font{
       text-align: left;
       font-size:50px;
       margin-left: 50px;
       line-height: 1.2em;
       margin-top: 0;
          padding-top:3em;
     }
    .text_font{
      margin-top: 25px;

     margin-left:50px;
     margin-right: 10px;
     font-size: 30px;
     line-height: 1em;
    }
    .spacing{
      text-align: center;
      margin-bottom: 5em;

    }
    .hassle_pagesize{
      padding-bottom: ;
    }
    .body_color{
      background-color: #f0e9fb;
    }

      /*2st part*/
    .carousel-inner{
     position: relative;
     width:100%;
     height: 100%;

      }

   .item>size{

       min-width: 30em;
       min-height: 36em;



           }
           span.fa{
             font-size: 48px;
             opacity: 1.0;
             margin-top: 3.5em;

           }

  .slideshow{
    text-align: center;
    font-size:40px;
    margin-left: 50px;
    line-height: 1.2em;
    margin-top: 0;
    padding-top: 2em;


  }

  /*how it works*/
  .dimension{ width: 4em;
               margin-top: 10px;

  }

  .title_3{
    margin-top: 0;
    padding-top: 3em;
  font-size:40px;
    margin-left: 10px;
    line-height: 1.2em;

     text-align: center;

    font-weight: bolder;
    font-family: 'Roboto';
  }
  .checkbox_spacing{ margin-left: 3.5em;


                     line-height: 2em;

  }

  .text_font_checkbox_text{  font-family:'PT Sans';
                            font-size: 2.2em;
                            margin-left: .5em;
                            color: #000000;
                            margin-top: 5px;
                            vertical-align: sub;



  }


  .btn3_edit{
    width: 12em;
    height: 3em;
    border-color:#7F47DD;
    border-width: 5px;
    background-color: #FFFFFF;
    margin-top: 1em;

   font-family: 'Roboto';
   font-size: 32px;
   padding: 10px;
  }

  /* end of how it works*/
/*our partners*/
.our_partners{
margin-top: 0;
padding-top: 2.5em;
font-size: 40px;
margin-left: 1em;
font-family: 'Roboto';
}
.text4_font{
    font-family:'PT Sans';
    font-size: 2em;;
    line-height: 25px;
    color: #000000;

    margin-left: .5em;
    text-align:left;
    margin-right: 1em;
    }

.title4_font{ font-family:'Roboto';
       font-size: 3.5em;



       margin-left: 1em;

       font-weight: 900;
       color: #000000;

                }



.spacing4{
margin-left: 30px;
margin-top: 1em;
text-align: left;

}
.bank_spac{
margin-right: 4em;




}
.bank_size{
width:16em;

padding-top: 3em;
}

.footer {
position: absolute;
right: 0;
bottom: 0;
left: 0;
padding: 3rem;
background-color: #FBAE17;
text-align: center;
}
.social_icons1{
  color:#000000;
  font-size:32px;
  padding-left:8em;
  padding-right:6px;  text-decoration: none;

}

.slideshow1{
  text-align: center;
  font-size:30px;
  margin-left:10px;

  padding-top: 4em;


  margin-top:0;

}
.carousel-inner1{

 width:100%;
 height: 28em;

  }

img.size1{

   min-width: 20em;
   min-height: 15em;



       }

       .glyphicon-menu-right{
         margin-top: 6em;
         color: black;
       }
       .glyphicon-menu-left{
         margin-top: 6em;
         color: black;
       }
#fullpage {
height: 100vh;
overflow: hidden;
padding: 0;
}

#fullpage section { height: 100vh; }


#fullpage section div.part_2{ margin:0;
                       padding:0; }
/*end of footer*/
         }



         @media screen and (min-width: 768px) and (min-height: 100px) and (max-height:599px){


            .container{
              width: 600px;
                background-color: #ffffff;





                      }
                  /*1st part*/
              .title_font{
                text-align: left;
                font-size: 30px;
                margin-left: 50px;
                line-height: 1.2em;
                margin-top: 0;
                   padding-top:3.5em;
              }
             .text_font{
               margin-top: 40px;

              margin-left:50px;
              margin-right: 10px;
              font-size: 20px;
              line-height: 1em;
             }
             .btn1_edit{
                  border-color:#7F47DD;
                  border-width: 5px;
                  background-color: #FFFFFF;
                 height: 60px;
                 width: 9em;
                 font-family: 'Roboto';
                 font-size: 26px;
                 padding: 10px;

             }


             .btn2_edit{
                  border-color:#FBAE17;
                  border-width: 5px;
                  background-color: #FFFFFF;
                  height: 60px;
                  width: 9em;
                  font-family: 'Roboto';
                  font-size: 26px;
                  padding: 10px;
             }



             .ce_position{ margin-top: 15px;


             }

             .raf_position{margin-top: 15px;


             }


             .body_color{
               background-color: #f0e9fb;
             }



               /*2st part*/
             .carousel-inner{
              position: relative;
              width:100%;
              height: 20em;
               }

            .item>size{

                min-width: 100%;
                min-height:20em;;



                    }
                    span.fa{
                      font-size: 48px;
                      opacity: 1.0;
                      margin-top: 1.75em;

                    }

           .slideshow{
             text-align: center;
             font-size:30px;
             margin-left: 50px;
             line-height: 1.2em;
             margin-top: 0;
             padding-top: 3em;


           }


           /*how it works*/
           .dimension{ width: 3em;
                        margin-top: 5px;
                        vertical-align: bottom;

           }

           .title_3{
             margin-top: 0;
             padding-top: 4em;
           font-size:30px;
             margin-left: 10px;


              text-align: center;

             font-weight: bolder;
             font-family: 'Roboto';
           }
           .checkbox_spacing{ margin-left: 7em;
                              margin-top: 20px;
                              line-height: 2em;

           }

           .text_font_checkbox_text{  font-family:'PT Sans';
                                     font-size:20px;
                                     margin-left: .5em;
                                     color: #000000;




           }


           .btn3_edit{
             width: 10em;
             height: 3em;
             border-color:#7F47DD;
             border-width: 5px;
             background-color: #FFFFFF;
             margin-top: 1em;

            font-family: 'Roboto';
            font-size: 25px;
            padding-bottom: 10px;

           }

           /* end of how it works*/
         /*our partners*/
         .our_partners{
         margin-top: 0;
         padding-top: 3em;
         font-size: 30px;
         margin-left: 1em;
         font-family: 'Roboto';
         }
         .text4_font{
             font-family:'PT Sans';
             font-size: 20px;
             line-height: 25px;
             color: #000000;

             margin-left: .5em;
             text-align:left;
             margin-right: 1em;
             }

         .title4_font{ font-family:'Roboto';
                font-size: 3.5em;



                margin-left: 1em;

                font-weight: 900;
                color: #000000;

                         }



         .spacing4{
         margin-left: 30px;
         margin-top:5px;
         text-align: left;

         }
         .bank_spac{
         margin-right: 4em;



         }
         .bank_size{
         width:16em;
         padding-bottom: 6em;
         padding-top: 2em;
         }

         .footer {
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   background-color: #FBAE17;
   text-align: center;
 }
 .social_icons1{
   color:#000000;
   font-size:32px;
   padding-left:8em;
   padding-right:6px;  text-decoration: none;

 }

 .slideshow1{
   text-align: center;
   font-size:30px;
   margin-left:10px;

   padding-top: 4em;


   margin-top:0;

 }
 .carousel-inner1{

  width:100%;
  height: 28em;

   }

   img.size1{

      min-width: 20em;
      min-height: 15em;



          }

          .glyphicon-menu-right{
            margin-top: 6em;
            color: black;
          }
          .glyphicon-menu-left{
            margin-top: 6em;
            color: black;
          }

         #fullpage {
         height: 100vh;
         overflow: hidden;
         padding: 0;
         }

         #fullpage section { height: 100vh; }


         #fullpage section div.part_2{ margin:0;
                                padding:0; }
         /*end of footer*/
                  }
