.footer{
  display: none;
}
  .navbar-custom{
                 background-color: #Ffffff;

                }


.hamburger_menu_position{
                         font-size: 10px;

                       }

 .pos{
              float: right;
              display: block;
              color: #f2f2f2;
              text-align: center;
              padding: 25px 16px 0px 50px;
             text-decoration: none;
              font-size: 35px;
              transition: 0.4s;
           }
.pos1{
          float: left;
          display: block;
          color:#000000 ;
          text-align: right;
          padding: 0px 16px 0px 5px;
          text-decoration: none;
          width: 180px;
          height: 63px;
          margin-top: 5px;
       }

.btn1_edit{
     border-color:#7F47DD;
     border-width: 5px;
     background-color: #FFFFFF;
    height: 70px;
    width: 300px;
    font-family: 'Roboto';
    font-size: 30px;
    padding: 10px;

}


.btn2_edit{
     border-color:#FBAE17;
     border-width: 5px;
     background-color: #FFFFFF;
     height: 70px;
     width: 300px;
     font-family: 'Roboto';
     font-size: 30px;
     padding: 10px;
}


.ce_position{ margin-top: 40px;
             margin-left: 25px;
              margin-right: 10px;

}

.raf_position{margin-top: 20px;
             margin-left: 25px;
             margin-right: 10px;


}



.spacing{
  margin-left: px;
  margin-top: 23px;
}
span.fa{
  font-size: 48px;
  opacity: 1.0;
  margin-top: 3em;

}

/*how it works*/
.dimension{ width: 3.2em;

}
.content_spacing{
  margin-top: 6em;
  line-height: 4em;
}



/* end of how it works*/

@media screen and (min-width: 576px) and (max-width: 767px) and (min-height: 800px) {
  .container {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
  }
  .pos1{
    margin-left: 15px;
    margin-top: 5px;
    width:180px;
  }
  .pos{
    margin-right:15px;
  }
  #fullpage {
height: 100vh;
overflow: hidden;
}

#fullpage section { height: 100vh; }




  .text_font{
             font-family:'PT Sans';
             font-size: 40px;

             color: #000000;
              margin-top: 1em;
             margin-left:1.5em;
             margin-right:2em;
             line-height: 1.2em;

             text-align: left;
             }

   .title_font{ font-family:'Roboto';
                font-size: 60px;

                margin-top: 0;
                padding-top: 2.5em;




                margin-left: 1em;
                margin-right: 10px;
                font-weight: 900;
                color: #000000;

                         }

                         .btn1_edit{
                              border-color:#7F47DD;
                              border-width: 5px;
                              background-color: #FFFFFF;
                             height: 80px;
                             width: 11em;
                             font-family: 'Roboto';
                             font-size: 40px;
                             padding: 10px;


                         }


                         .btn2_edit{
                              border-color:#FBAE17;
                              border-width: 5px;
                              background-color: #FFFFFF;
                              height: 80px;
                              width: 11em;
                              font-family: 'Roboto';
                              font-size: 40px;
                              padding: 10px;
                         }

                         .ce_position{ margin-top: 2em;;

                                       margin-right: 10px;

                         }

                         .raf_position{margin-top: 20px;

                                      margin-right: 10px;


                         }


                         .slideshow{
                           text-align: center;
                           font-size:40px;


                           padding-top: 3.2em;


                           margin-top:0;
                         }
                         .carousel-inner{

                          width:100%;
                          height: 40em;

                           }

                        img.size{

                            width: 100%;
                            height: 100%;



                                }

                                span.fa{
                                  font-size: 55px;
                                  opacity: 1.0;

                                }
                                /*how it works*/

                            .part3_align{
                              padding-left: 3em;
                              padding-right: 2em;
                            }
                             .title_3{
                             text-align: center;
                             margin-top: 0;
                             padding-top: 4em;

                               font-size:50px;
                              font-weight: bolder;
                               font-family: 'Roboto';


                             }

                             .checkbox_spacing{
                                                margin-top: 2em;
                                                line-height: 4em;



                             }

                             .dimension{

                                  width: 5em;
                             }

                             .text_font_checkbox_text{  font-family:'PT Sans';
                                                       font-size: 30px;
                                                       margin-left: .5em;
                                                       color: #000000;
                                                       margin-top: 5px;
                                                    }
                             .btn3_edit{
                               border-color:#7F47DD;
                               border-width: 5px;
                               background-color: #FFFFFF;
                              height: 80px;
                              width: 12em;
                              font-family: 'Roboto';
                              font-size: 35px;
                              padding: 10px;
                              margin-top: 1em;;



                             }

                             .spacing1{
                               margin-top: 1.5em;
                               margin-left: 3em;
                             }

                             .our_partners{
                               text-align:left;
                               font-size:50px;
                               margin-left:1em;
                                font-family:'Roboto';
                                margin-top: 0;
                                padding-top: 2em;

                             }
                             .text4_font{
                                        font-family:'PT Sans';
                                        font-size: 35px;
                                        line-height: 1em;
                                        color: #000000;
                                        margin-top: 1em;
                                        margin-bottom: 0;


                                        margin-left: 1.5em;
                                        text-align:left;
                                        margin-right: 1em;
                                        }


                                        .footer {
                                        position: absolute;
                                        right: 0;
                                        bottom: 0;
                                        left: 0;
                                        padding: 2.5rem;
                                        background-color: #FBAE17;
                                        text-align: center;
                                        }
                                        .social_icons1{
                                          color:#000000;
                                          font-size:28px;
                                          padding-left:8em;
                                          padding-right:6px;  text-decoration: none;

                                        }





                                        .slide2{
                                         margin-top: 0;
                                         width:100%;
                                         height: 13em;

                                          }



                                        img.size1{


                                           width: 20em;
                                           height:7em;




                                               }

                                             .glyphicon-menu-right{
                                               font-size: 35px;
                                               margin-top: 3.5em;
                                               color: black;
                                             }
                                             .glyphicon-menu-left{
                                               font-size: 35px;
                                               margin-top: 3.5em;
                                               color: black;
                                             }
                                             .carousel-control.left, .carousel-control.right {
                                         background: none !important;
                                         filter: progid: none !important;
                                          outline: 0;
                                          }


                        }

/*mobile landscape desktop */
@media screen and (min-width: 576px) and (max-width: 767px) and (min-height: 601px) and (max-height: 799px) {
  .container {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
  }
  .pos1{
    margin-left: 15px;
    margin-top: 5px;
    width:180px;
  }
  .pos{
    margin-right:15px;
  }
  #fullpage {
height: 100vh;
overflow: hidden;
}

#fullpage section { height: 100vh; }




  .text_font{
             font-family:'PT Sans';
             font-size: 30px;

             color: #000000;
              margin-top: 1em;
             margin-left:1.5em;
             margin-right:2em;
             line-height: 1.2em;

             text-align: left;
             }

   .title_font{ font-family:'Roboto';
                font-size: 50px;

                margin-top: 0;
                padding-top: 2.5em;




                margin-left: 1em;
                margin-right: 10px;
                font-weight: 900;
                color: #000000;

                         }

                         .btn1_edit{
                              border-color:#7F47DD;
                              border-width: 5px;
                              background-color: #FFFFFF;
                             height: 80px;
                             width: 13em;
                             font-family: 'Roboto';
                             font-size: 35px;
                             padding: 10px;


                         }


                         .btn2_edit{
                              border-color:#FBAE17;
                              border-width: 5px;
                              background-color: #FFFFFF;
                              height: 80px;
                              width: 13em;
                              font-family: 'Roboto';
                              font-size: 35px;
                              padding: 10px;
                         }

                         .ce_position{ margin-top: 2em;;

                                       margin-right: 10px;

                         }

                         .raf_position{margin-top: 20px;

                                      margin-right: 10px;


                         }


                         .slideshow{
                           text-align: center;
                           font-size:30px;


                           padding-top: 3.2em;


                           margin-top:0;
                         }
                         .carousel-inner{

                          width:100%;
                          height: 31em;

                           }

                        img.size{

                            width: 100%;
                            height: 100%;



                                }

                                span.fa{
                                  font-size: 55px;
                                  opacity: 1.0;

                                }
                                /*how it works*/

                            .part3_align{
                              padding-left: 4em;
                              padding-right: 5em;
                            }
                             .title_3{
                             text-align: center;
                             margin-top: 0;
                             padding-top: 2em;

                               font-size:50px;
                              font-weight: bolder;
                               font-family: 'Roboto';


                             }

                             .checkbox_spacing{
                                                margin-top: 2em;
                                                line-height: 4em;



                             }

                             .dimension{

                                  width: 5em;
                             }

                             .text_font_checkbox_text{  font-family:'PT Sans';
                                                       font-size: 30px;
                                                       margin-left: .5em;
                                                       color: #000000;
                                                       margin-top: 5px;
                                                    }
                             .btn3_edit{
                               border-color:#7F47DD;
                               border-width: 5px;
                               background-color: #FFFFFF;
                              height: 80px;
                              width: 12em;
                              font-family: 'Roboto';
                              font-size: 35px;
                              padding: 10px;
                              margin-top: 1em;;



                             }

                             .spacing1{
                               margin-top: 1.5em;
                               margin-left: 3em;
                             }

                             .our_partners{
                               text-align:left;
                               font-size:50px;
                               margin-left:1em;
                                font-family:'Roboto';
                                margin-top: 0;
                                padding-top: 2em;

                             }
                             .text4_font{
                                        font-family:'PT Sans';
                                        font-size: 35px;
                                        line-height: 1em;
                                        color: #000000;
                                        margin-top: 1em;
                                        margin-bottom: 0;


                                        margin-left: 1.5em;
                                        text-align:left;
                                        margin-right: 1em;
                                        }


                                        .footer {
                                        position: absolute;
                                        right: 0;
                                        bottom: 0;
                                        left: 0;
                                        padding: 2.5rem;
                                        background-color: #FBAE17;
                                        text-align: center;
                                        }
                                        .social_icons1{
                                          color:#000000;
                                          font-size:28px;
                                          padding-left:8em;
                                          padding-right:6px;  text-decoration: none;

                                        }





                                        .slide2{
                                         margin-top: 0;
                                         width:100%;
                                         height: 13em;

                                          }



                                        img.size1{


                                           width: 20em;
                                           height:7em;




                                               }

                                             .glyphicon-menu-right{
                                               font-size: 35px;
                                               margin-top: 3.5em;
                                               color: black;
                                             }
                                             .glyphicon-menu-left{
                                               font-size: 35px;
                                               margin-top: 3.5em;
                                               color: black;
                                             }
                                             .carousel-control.left, .carousel-control.right {
                                         background: none !important;
                                         filter: progid: none !important;
                                          outline: 0;
                                          }


                        }
/*mobile landscape big phones */
@media screen and (min-width: 576px) and (max-width: 767px) and (min-height: 400px) and (max-height: 600px) {
  .container {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
  }
  .pos1{
    margin-left: 15px;
    margin-top: 5px;
    width:180px;
  }
  .pos{
    margin-right:15px;
  }
  #fullpage {
height: 100vh;
overflow: hidden;
}

#fullpage section { height: 100vh; }




  .text_font{
             font-family:'PT Sans';
             font-size: 25px;

             color: #000000;
              margin-top: 5px;;
             margin-left:1.5em;
             margin-right:2em;

             text-align: left;
             }

   .title_font{ font-family:'Roboto';
                font-size: 35px;

                margin-top: 0;
                padding-top: 3em;




                margin-left: 1em;
                margin-right: 10px;
                font-weight: 900;
                color: #000000;

                         }

                         .btn1_edit{
                              border-color:#7F47DD;
                              border-width: 5px;
                              background-color: #FFFFFF;
                             height: 60px;
                             width: 10em;
                             font-family: 'Roboto';
                             font-size: 25px;
                             padding: 10px;


                         }


                         .btn2_edit{
                              border-color:#FBAE17;
                              border-width: 5px;
                              background-color: #FFFFFF;
                              height: 60px;
                              width: 10em;
                              font-family: 'Roboto';
                              font-size: 25px;
                              padding: 10px;
                         }

                         .ce_position{ margin-top: 15px;
                                      margin-left: 25px;
                                       margin-right: 10px;

                         }

                         .raf_position{margin-top: 10px;
                                      margin-left: 25px;
                                      margin-right: 10px;


                         }


                         .slideshow{
                           text-align: center;
                           font-size:25px;


                           padding-top: 3.2em;


                           margin-top:0;
                         }
                         .carousel-inner{

                          width:100%;
                          height: 19em;

                           }

                        img.size{

                            width: 100%;
                            height: 100%;



                                }

                                span.fa{
                                  font-size: 40px;
                                  opacity: 1.0;
                                  margin-bottom: 3em;
                                }
                                /*how it works*/

                            .part3_align{
                              padding-left: 9em;
                              padding-right: 9em;
                            }
                             .title_3{
                             text-align: center;
                             margin-top: 0;
                             padding-top: 2.8em;

                               font-size:35px;
                              font-weight: bolder;
                               font-family: 'Roboto';


                             }

                             .checkbox_spacing{
                                                margin-top: 1em;
                                                line-height: 2.5em;



                             }

                             .dimension{

                                  width: 3em;
                             }

                             .text_font_checkbox_text{  font-family:'PT Sans';
                                                       font-size: 22px;
                                                       margin-left: .5em;
                                                       color: #000000;
                                                       margin-top: 5px;
                                                    }
                             .btn3_edit{
                               border-color:#7F47DD;
                               border-width: 5px;
                               background-color: #FFFFFF;
                              height: 60px;
                              width: 10em;
                              font-family: 'Roboto';
                              font-size: 25px;
                              padding: 10px;
                              margin-top: 15px;



                             }

                             .spacing1{
                               margin-top: 1.5em;
                               margin-left: 3em;
                             }

                             .our_partners{
                               text-align:left;
                               font-size:30px;
                               margin-left:30px;
                                font-family:'Roboto';
                                margin-top: 0;
                                padding-top: 2.5em;

                             }
                             .text4_font{
                                        font-family:'PT Sans';
                                        font-size: 22px;
                                        line-height: 25px;
                                        color: #000000;
                                        margin-top: 10px;
                                        margin-bottom: 0;


                                        margin-left: 1.5em;
                                        text-align:left;
                                        margin-right: 1em;
                                        }


                                        .footer {
                                        position: absolute;
                                        right: 0;
                                        bottom: 0;
                                        left: 0;
                                        padding: 2rem;
                                        background-color: #FBAE17;
                                        text-align: center;
                                        }
                                        .social_icons1{
                                          color:#000000;
                                          font-size:28px;
                                          padding-left:8em;
                                          padding-right:6px;  text-decoration: none;

                                        }





                                        .slide2{
                                         margin-top: 0;
                                         width:100%;
                                         height: 9em;

                                          }



                                        img.size1{


                                           width: 12em;
                                           height:2em;




                                               }

                                             .glyphicon-menu-right{
                                               margin-top: 3em;
                                               color: black;
                                             }
                                             .glyphicon-menu-left{
                                               margin-top: 3em;
                                               color: black;
                                             }
                                             .carousel-control.left, .carousel-control.right {
                                         background: none !important;
                                         filter: progid: none !important;
                                          outline: 0;
                                          }


}

/*mobile landscape medium phones */
@media screen and (min-width: 576px) and (max-width: 767px) and (min-height: 200px) and (max-height:400px){

  .container {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
  }
  .pos1{
    margin-left: 15px;
    margin-top: 5px;
    width:180px;
  }
  .pos{
    margin-right:15px;
  }
  #fullpage {
height: 100vh;
overflow: hidden;
}

#fullpage section { height: 100vh; }




  .text_font{
             font-family:'PT Sans';
             font-size: 20px;

             color: #000000;
              margin-top: 5px;;
             margin-left:1.5em;
             margin-right:2em;

             text-align: left;
             }

   .title_font{ font-family:'Roboto';
                font-size: 30px;

                margin-top: 0;
                padding-top: 3em;




                margin-left: 1em;
                margin-right: 10px;
                font-weight: 900;
                color: #000000;

                         }

                         .btn1_edit{
                              border-color:#7F47DD;
                              border-width: 5px;
                              background-color: #FFFFFF;
                             height: 50px;
                             width: 10em;
                             font-family: 'Roboto';
                             font-size: 20px;
                             padding: 10px;


                         }


                         .btn2_edit{
                              border-color:#FBAE17;
                              border-width: 5px;
                              background-color: #FFFFFF;
                              height: 50px;
                              width: 10em;
                              font-family: 'Roboto';
                              font-size: 20px;
                              padding: 10px;
                         }

                         .ce_position{ margin-top: 5px;
                                      margin-left: 25px;
                                       margin-right: 10px;

                         }

                         .raf_position{margin-top: 10px;
                                      margin-left: 25px;
                                      margin-right: 10px;


                         }


                         .slideshow{
                           text-align: center;
                           font-size:25px;


                           padding-top: 3.2em;


                           margin-top:0;
                         }
                         .carousel-inner{

                          width:100%;
                          height: 15em;

                           }

                        img.size{

                            width: 100%;
                            height: 20%



                                }

                                span.fa{
                                  font-size: 30px;
                                  opacity: 1.0;
                                  margin-bottom: 2em;
                                }
                                /*how it works*/

                            .part3_align{
                              padding-left: 10em;
                              padding-right: 10em;
                            }
                             .title_3{
                             text-align: center;
                             margin-top: 0;
                             padding-top: 2.8em;

                               font-size:30px;
                              font-weight: bolder;
                               font-family: 'Roboto';


                             }

                             .checkbox_spacing{
                                                margin-top: 1em;
                                                line-height: 2.5em;



                             }

                             .dimension{

                                  width: 3em;
                             }

                             .text_font_checkbox_text{  font-family:'PT Sans';
                                                       font-size: 18px;
                                                       margin-left: .5em;
                                                       color: #000000;
                                                       margin-top: 5px;
                                                    }
                             .btn3_edit{
                               border-color:#7F47DD;
                               border-width: 5px;
                               background-color: #FFFFFF;
                              height: 50px;
                              width: 10em;
                              font-family: 'Roboto';
                              font-size: 20px;
                              padding: 10px;
                              margin-top: 15px;



                             }

                             .spacing1{
                               margin-top: 1.5em;
                               margin-left: 3em;
                             }

                             .our_partners{
                               text-align:left;
                               font-size:30px;
                               margin-left:30px;
                                font-family:'Roboto';
                                margin-top: 0;
                                padding-top: 2.5em;

                             }
                             .text4_font{
                                        font-family:'PT Sans';
                                        font-size: 22px;
                                        line-height: 25px;
                                        color: #000000;
                                        margin-top: 10px;
                                        margin-bottom: 0;


                                        margin-left: 1.5em;
                                        text-align:left;
                                        margin-right: 1em;
                                        }


                                        .footer {
                                        position: absolute;
                                        right: 0;
                                        bottom: 0;
                                        left: 0;
                                        padding: 2rem;
                                        background-color: #FBAE17;
                                        text-align: center;
                                        }
                                        .social_icons1{
                                          color:#000000;
                                          font-size:28px;
                                          padding-left:8em;
                                          padding-right:6px;  text-decoration: none;

                                        }





                                        .slide2{
                                         margin-top: 0;
                                         width:100%;
                                         height: 9em;

                                          }



                                        img.size1{


                                           width: 12em;
                                           height:2em;




                                               }

                                             .glyphicon-menu-right{
                                               margin-top: 3em;
                                               color: black;
                                             }
                                             .glyphicon-menu-left{
                                               margin-top: 3em;
                                               color: black;
                                             }
                                             .carousel-control.left, .carousel-control.right {
                                         background: none !important;
                                         filter: progid: none !important;
                                          outline: 0;
                                          }


}

     /*screen layout for mobile screen*/

     @media screen and (min-width: 350px) and (max-width: 575px) and (min-height: 600px) {

         .container {
             padding-left: 0px;
             padding-right: 0px;
             padding-top: 0px;
         }
         .pos1{
           margin-left: 15px;
           margin-top: 5px;
           width:180px;
         }
         .pos{
           margin-right:15px;
         }
         #fullpage {
       height: 100vh;
       overflow: hidden;
     }

     #fullpage section { height: 100vh; }




         .text_font{
                    font-family:'PT Sans';
                    font-size: 20px;
                    line-height: 25px;
                    color: #000000;
                     margin-top: 3em;
                    margin-left:2em;
                    margin-right: 10px;
                    text-align: left;
                    }

          .title_font{ font-family:'Roboto';
                       font-size: 40px;
                       line-height:50px;
                       margin-top: 0;
                       padding-top: 3em;




                       margin-left: 1em;
                       margin-right: 10px;
                       font-weight: 900;
                       color: #000000;

                                }
      .btn1_edit{
           border-color:#7F47DD;
           border-width: 5px;
           background-color: #FFFFFF;
          height: 70px;
          width: 9em;
          font-family: 'Roboto';
          font-size: 30px;
          padding: 10px;

      }


      .btn2_edit{
           border-color:#FBAE17;
           border-width: 5px;
           background-color: #FFFFFF;
           height: 70px;
           width: 9em;
           font-family: 'Roboto';
           font-size: 30px;
           padding: 10px;
      }



      .ce_position{ margin-top: 40px;
                   margin-left: 25px;
                    margin-right: 10px;

      }

      .raf_position{margin-top: 20px;
                   margin-left: 25px;
                   margin-right: 10px;


      }

      .spacing{
        margin-left: 1.8em;
        margin-top: 23px;


      }


      .slideshow{
        text-align: center;
        font-size:30px;
        margin-left:10px;
        line-height: 1.2em;
        padding-top: 4em;


        margin-top:0;
      }
      .carousel-inner{

       width:41em;
       height: 28em;

        }

     img.size{

         min-width: 30em;
         min-height: 28em;



             }
             span.1st{

               margin-top: 3.5em;

             }
             span.fa{
               font-size: 48px;
               opacity: 1.0;
             }
             /*how it works*/
          .title_3{
            text-align: left;
          margin-top: 0;;
          padding-top: 4em;
          margin-left: 2em;
            font-size:38px;
           font-weight: bolder;
            font-family: 'Roboto';


          }

          .checkbox_spacing{ margin-left: 2.2em;
                             margin-top: 3em;
                             line-height: 3.8em;


          }

          .text_font_checkbox_text{  font-family:'PT Sans';
                                    font-size: 22px;
                                    margin-left: .5em;
                                    color: #000000;
                                    margin-top: 5px;
                                 }
          .btn3_edit{
            width: 10em;
            height: 3em;
            border-color:#7F47DD;
            border-width: 5px;
            background-color: #FFFFFF;
            margin-top: 1em;
          text-align: center;
           font-family: 'Roboto';
           font-size: 25px;
           padding: 20px;
           margin-left: 1em;
          }

          .spacing1{
            margin-top: 1.5em;
            margin-left: 3em;
          }

          .our_partners{
            text-align:left;
            font-size:40px;
            margin-left:30px;
             font-family:'Roboto';
             margin-top: 0;
             padding-top: 3em;

          }
          .text4_font{
                     font-family:'PT Sans';
                     font-size: 22px;
                     line-height: 25px;
                     color: #000000;
                     margin-top: 2em;
                     margin-bottom: 0;
                     padding-bottom: 1em;

                     margin-left: 1.5em;
                     text-align:left;
                     margin-right: 1em;
                     }


                     .footer {
                     position: absolute;
                     right: 0;
                     bottom: 0;
                     left: 0;
                     padding: 3rem;
                     background-color: #FBAE17;
                     text-align: center;
                     }
                     .social_icons1{
                       color:#000000;
                       font-size:28px;
                       padding-left:1em;
                       padding-right:6px;  text-decoration: none;

                     }




                     .slideshow1{
                       text-align: center;
                       font-size:30px;
                       margin-left:10px;

                       padding-top: 4em;


                       margin-top:0;

                     }
                     .slide2{

                      width:100%;
                      height: 13em;

                       }

                     img.size1{


                        width: 15em;
                        height:5em;




                            }

                          .glyphicon-menu-right{
                            margin-top: 4em;
                            color: black;
                          }
                          .glyphicon-menu-left{
                            margin-top: 4em;
                            color: black;
                          }
                          .carousel-control.left, .carousel-control.right {
                      background: none !important;
                      filter: progid: none !important;
                       outline: 0;
                       }


       }


       @media screen and (min-width: 350px) and (max-width: 575px) and (max-height: 599px) {

           .container {
               padding-left: 0px;
               padding-right: 0px;
               padding-top: 0px;
           }
           .pos1{
             margin-left: 15px;
             margin-top: 5px;
             width:180px;
           }
           .pos{
             margin-right:15px;
           }
           #fullpage {
         height: 100vh;
         overflow: hidden;
       }

       #fullpage section { height: 100vh; }




           .text_font{
                      font-family:'PT Sans';
                      font-size: 15px;

                      color: #000000;
                       margin-top: 5px;
                      margin-left:2em;
                      margin-right: 10px;
                      text-align: left;
                      }

            .title_font{ font-family:'Roboto';
                         font-size: 25px;

                         margin-top: 0;
                         padding-top: 4em;




                         margin-left: 1em;
                         margin-right: 10px;
                         font-weight: 900;
                         color: #000000;

                                  }
        .btn1_edit{
             border-color:#7F47DD;
             border-width: 5px;
             background-color: #FFFFFF;
             height: 50px;
             width: 9em;
            font-family: 'Roboto';
            font-size: 20px;
            padding: 10px;

        }


        .btn2_edit{
             border-color:#FBAE17;
             border-width: 5px;
             background-color: #FFFFFF;
             height: 50px;
             width: 9em;
             font-family: 'Roboto';
             font-size: 20px;
             padding: 10px;
        }



        .ce_position{ margin-top: 10px;


        }

        .raf_position{margin-top: 10px;



        }

        .spacing{
          margin-left: 1.8em;
          margin-top: 23px;


        }


        .slideshow{
          text-align: center;
          font-size:15px;
          margin-left:10px;

          padding-top: 6em;
          margin-bottom: 0;

          margin-top:0;
        }
        .carousel-inner{
          margin-top: 0;

         width:100%;
         height: 12.5em;

          }

       img.size{

           width: 35em;
           height:1em;



               }
               span.1st{

                 margin-top: 3.5em;

               }
               span.fa{
                 font-size: 20px;
                 opacity: 1.0;
               }
               /*how it works*/
            .title_3{
              text-align: left;
            margin-top: 0;;
            padding-top: 3em;
            margin-left: 2em;
              font-size:25px;
             font-weight: bolder;
              font-family: 'Roboto';


            }

            .checkbox_spacing{ margin-left: 2.2em;
                               margin-top: 1em;
                               line-height: 2em;


            }
            .part3_align{
              padding-left: 7em;
              padding-right: 7em;
            }

            .text_font_checkbox_text{  font-family:'PT Sans';
                                      font-size: 15px;
                                      margin-left: .5em;
                                      color: #000000;
                                      margin-top: 5px;
                                   }
            .dimension{
              width: 2em;
            }
            .btn3_edit{
              border-color:#7F47DD;
              border-width: 5px;
              background-color: #FFFFFF;
              height: 50px;
              width: 9em;
             font-family: 'Roboto';
             font-size: 20px;
             padding: 10px;
             margin-top: 1em;

            }

            .spacing1{
              margin-top: 1.5em;
              margin-left: 3em;
            }

            .our_partners{
              text-align:left;
              font-size:20px;
              margin-left:30px;
               font-family:'Roboto';
               margin-top: 0;
               padding-top: 4em;

            }
            .text4_font{
                       font-family:'PT Sans';
                       font-size: 15px;

                       color: #000000;

                       margin-bottom: 0;


                       margin-left: 1.5em;
                       text-align:left;
                       margin-right: 1em;
                       }


                       .footer {
                       position: absolute;
                       right: 0;
                       bottom: 0;
                       left: 0;
                       padding: 1rem;
                       background-color: #FBAE17;
                       text-align: center;
                       }
                       .social_icons1{
                         color:#000000;
                         font-size:28px;
                         padding-left:4em;
                         padding-right:6px;  text-decoration: none;

                       }





                       .slide2{

                        width:100%;
                        height: 13em;

                         }

                       img.size1{


                          width: 9em;
                          height:5em;




                              }

                            .glyphicon-menu-right{
                              margin-top: 2em;
                              color: black;
                            }
                            .glyphicon-menu-left{
                              margin-top: 2em;
                              color: black;
                            }
                            .carousel-control.left, .carousel-control.right {
                        background: none !important;
                        filter: progid: none !important;
                         outline: 0;
                         }


         }



       @media screen and (max-width: 349px) and (max-height: 500px) {

           .container {
               padding-left: 0px;
               padding-right: 0px;
               padding-top: 0px;
           }
           .pos1{
             margin-left: 15px;
             margin-top: 5px;
             width:180px;
           }
           .pos{
             margin-right:15px;
           }
           #fullpage {
         height: 100vh;
         overflow: hidden;
       }

       #fullpage section { height: 100vh; }




           .text_font{
                      font-family:'PT Sans';
                      font-size: 20px;
                      line-height: 25px;
                      color: #000000;
                       margin-top: 1em;
                      margin-left:1.5em;
                      margin-right: 10px;
                      text-align: left;
                      padding-right: 1em;
                      }

            .title_font{ font-family:'Roboto';
                         font-size: 30px;
                         padding-right: 1em;

                         margin-top: 0;
                         padding-top: 3em;




                         margin-left: 1em;
                         margin-right: 10px;
                         font-weight: 900;
                         color: #000000;

                                  }
        .btn1_edit{
             border-color:#7F47DD;
             border-width: 5px;
             background-color: #FFFFFF;
            height: 60px;
            width: 9em;
            font-family: 'Roboto';
            font-size: 25px;
            padding: 10px;

        }


        .btn2_edit{
             border-color:#FBAE17;
             border-width: 5px;
             background-color: #FFFFFF;
             height: 60px;
             width: 9em;
             font-family: 'Roboto';
             font-size: 25px;
             padding: 10px;
        }



        .ce_position{ margin-top: 20px;
                     margin-left: 25px;
                      margin-right: 10px;

        }

        .raf_position{margin-top: 10px;
                     margin-left: 25px;
                     margin-right: 10px;


        }

        .spacing{
          margin-left: 1.8em;
          margin-top: 23px;


        }


        .slideshow{
          text-align: center;
          font-size:30px;
          margin-left:10px;
          line-height: 1.2em;
          padding-top: 4em;


          margin-top:0;
        }
        .carousel-inner{

         width:100%;
         height: 18em;

          }

       img.size{

           width: 30em;
           height: 28em;



               }
               span.1st{

                 margin-top: 3.5em;

               }
               span.fa{
                 font-size: 30px;
                 opacity: 1.0;
               }
               /*how it works*/
            .title_3{
              text-align: left;
            margin-top: 0;;
            padding-top: 3em;
            margin-left: 2em;
              font-size:30px;
             font-weight: bolder;
              font-family: 'Roboto';


            }

            .checkbox_spacing{ margin-left: 2em;
                               margin-top: 1em;
                               line-height: 3em;
                                }
            .dimension{
              width: 2.5em;
            }

            .text_font_checkbox_text{  font-family:'PT Sans';
                                      font-size: 20px;
                                      margin-left: .3em;
                                      color: #000000;
                                      margin-top: 5px;
                                   }
            .btn3_edit{
              border-color:#7F47DD;
              border-width: 5px;
              background-color: #FFFFFF;
             height: 60px;
             width: 9em;
             font-family: 'Roboto';
             font-size: 25px;
             padding: 10px;
             margin-top: 1.5em;
            }

            .spacing1{
              margin-top: 1.5em;
              margin-left: 3em;
            }

            .our_partners{
              text-align:left;
              font-size:30px;
              margin-left:30px;
               font-family:'Roboto';
               margin-top: 0;
               padding-top: 3em;

            }
            .text4_font{
                       font-family:'PT Sans';
                       font-size: 20px;
                       line-height: 25px;
                       color: #000000;
                       margin-top: 2em;
                       margin-bottom: 0;
                       padding-bottom: 1em;

                       margin-left: 1.5em;
                       text-align:left;
                       margin-right: 1em;
                       }


                       .footer {
                       position: absolute;
                       right: 0;
                       bottom: 0;
                       left: 0;
                       padding: 1.5rem;
                       background-color: #FBAE17;
                       text-align: center;
                       }
                       .social_icons1{
                         color:#000000;
                         font-size:28px;
                         padding-left:10px;
                         padding-right:6px;  text-decoration: none;

                       }




                       .slideshow1{
                         text-align: center;
                         font-size:30px;
                         margin-left:10px;

                         padding-top: 4em;


                         margin-top:0;

                       }
                       .slide2{

                        width:100%;
                        height: 10em;

                         }

                       img.size1{


                          width: 15em;
                          height:5em;




                              }

                            .glyphicon-menu-right{
                              margin-top: 4em;
                              color: black;
                            }
                            .glyphicon-menu-left{
                              margin-top: 4em;
                              color: black;
                            }
                            .carousel-control.left, .carousel-control.right {
                        background: none !important;
                        filter: progid: none !important;
                         outline: 0;
                         }


         }

         @media screen and (max-width: 349px) and (min-height: 501px)  {

             .container {
                 padding-left: 0px;
                 padding-right: 0px;
                 padding-top: 0px;
             }
             .pos1{
               margin-left: 15px;
               margin-top: 5px;
               width:180px;
             }
             .pos{
               margin-right:15px;
             }
             #fullpage {
           height: 100vh;
           overflow: hidden;
         }

         #fullpage section { height: 100vh; }




             .text_font{
                        font-family:'PT Sans';
                        font-size: 20px;
                        line-height: 25px;
                        color: #000000;
                         margin-top: 2em;
                        margin-left:1.5em;
                        margin-right: 10px;
                        text-align: left;

                        }

              .title_font{ font-family:'Roboto';
                           font-size: 30px;
                           padding-right: 1em;


                           margin-top: 0;
                           padding-top: 4em;




                           margin-left: 1em;
                           margin-right: 10px;
                           font-weight: 900;
                           color: #000000;

                                    }
          .btn1_edit{
               border-color:#7F47DD;
               border-width: 5px;
               background-color: #FFFFFF;
              height: 60px;
              width: 9em;
              font-family: 'Roboto';
              font-size: 25px;
              padding: 10px;

          }


          .btn2_edit{
               border-color:#FBAE17;
               border-width: 5px;
               background-color: #FFFFFF;
               height: 60px;
               width: 9em;
               font-family: 'Roboto';
               font-size: 25px;
               padding: 10px;
          }



          .ce_position{ margin-top: 30px;
                       margin-left: 25px;
                        margin-right: 10px;

          }

          .raf_position{margin-top: 10px;
                       margin-left: 25px;
                       margin-right: 10px;


          }

          .spacing{
            margin-left: 1.8em;
            margin-top: 23px;


          }


          .slideshow{
            text-align: center;
            font-size:30px;
            margin-left:10px;
            line-height: 1.2em;
            padding-top: 6em;


            margin-top:0;
          }
          .carousel-inner{

           width:100%;
           height: 18em;

            }

         img.size{

             width: 30em;
             height: 28em;



                 }
                 span.1st{

                   margin-top: 3.5em;

                 }
                 span.fa{
                   font-size: 30px;
                   opacity: 1.0;
                 }
                 /*how it works*/
              .title_3{
                text-align: left;
              margin-top: 0;;
              padding-top: 5em;
              margin-left: 2em;
                font-size:30px;
               font-weight: bolder;
                font-family: 'Roboto';


              }

              .checkbox_spacing{ margin-left: 2em;
                                 margin-top: 1em;
                                 line-height: 3em;
                                  }
              .dimension{
                width: 2.5em;
              }

              .text_font_checkbox_text{  font-family:'PT Sans';
                                        font-size: 20px;
                                        margin-left: .3em;
                                        color: #000000;
                                        margin-top: 5px;
                                     }
              .btn3_edit{
                border-color:#7F47DD;
                border-width: 5px;
                background-color: #FFFFFF;
               height: 60px;
               width: 9em;
               font-family: 'Roboto';
               font-size: 25px;
               padding: 10px;
               margin-top: 1.5em;
              }

              .spacing1{
                margin-top: 1.5em;
                margin-left: 3em;
              }

              .our_partners{
                text-align:left;
                font-size:30px;
                margin-left:30px;
                 font-family:'Roboto';
                 margin-top: 0;
                 padding-top: 3em;

              }
              .text4_font{
                         font-family:'PT Sans';
                         font-size: 20px;
                         line-height: 25px;
                         color: #000000;
                         margin-top: 2em;
                         margin-bottom: 0;
                         padding-bottom: 1em;

                         margin-left: 1.5em;
                         text-align:left;
                         margin-right: 1em;
                         }


                         .footer {
                         position: absolute;
                         right: 0;
                         bottom: 0;
                         left: 0;
                         padding: 1.5rem;
                         background-color: #FBAE17;
                         text-align: center;
                         }
                         .social_icons1{
                           color:#000000;
                           font-size:28px;
                           padding-left:10px;
                           padding-right:6px;  text-decoration: none;

                         }




                         .slideshow1{
                           text-align: center;
                           font-size:30px;
                           margin-left:10px;

                           padding-top: 4em;


                           margin-top:0;

                         }
                         .slide2{

                          width:100%;
                          height: 13em;

                           }

                         img.size1{


                            width: 15em;
                            height:5em;




                                }

                              .glyphicon-menu-right{
                                margin-top: 4em;
                                color: black;
                              }
                              .glyphicon-menu-left{
                                margin-top: 4em;
                                color: black;
                              }
                              .carousel-control.left, .carousel-control.right {
                          background: none !important;
                          filter: progid: none !important;
                           outline: 0;
                           }


           }


       /* screen layout for desktops*/
