
@media screen and (min-width: 768px) and (min-height: 850px) {

  #navbar.container{
    width: 600px;
  }
  .container{
              width: 700px;
                background-color: #ffffff;


                      }
                      body{
               background-color: #f0e9fb;
             }

           .pos1{
            padding: 0px 16px 0px 5px;
            height: 63px;
            
             
             margin-top: 5px;
             width:180px;
           }
           .pos{
                 padding: 25px 16px 0px 50px;
    text-decoration: none;
    font-size: 35px;
    transition: 0.4s;
           }
           #fullpage {
         height: 100vh;
         overflow: hidden;
         padding: 0;
         width: 600px;
       }

       #fullpage section { height: 100vh; 
          width: 600px;}


          /*part1*/

       #top1.row{
        margin-top: 0;
        height: 20vh;
        
       }

        #top2.row{
       height: 20vh;
        
       }


        #top3.row{
       height: 25vh;
        
       }
       #top4.row{
       height: 35vh;
        
       }


       /*part3*/

         #top5.row{margin-top: 0;
       height: 25vh;
        
       }

         #top6.row{
       height: 15vh;
        
       }
         #top7.row{
       height: 37vh;
        
       }

        #top8.row{
       height: 23vh;
       margin-top: 3em;
        
       }

      

         /*part2*/
          #top9.row{
            margin-top: 0;
       height: 25vh;
        
       }

         #top10.row{
       height: 10vh;
        
       }
         #top11.row{
       height: 65vh;
        
       }

       /*part 4 */

         #top12.row{
       height: 15vh;
        
       }
         #top13.row{
       height: 20vh;
        
       }
        #top14.row{
       height: 20vh;
        
       }

       #top15.row{
       height: 35vh;
        
       }










           .text_font{
                      font-family:'PT Sans';
                      font-size: 35px;
                      
                      color: #000000;
                      text-align: left;
                      margin-bottom: 0;
                      margin-top: 20px;
                      
                      }

            .title_font{ font-family:'Roboto';
                         font-size: 60px;
                         margin-bottom: 0;

                         margin-top: 0;
                         font-weight: 900;
                         color: #000000;

                                  }
        .btn1_edit{
             border-color:#7F47DD;
             border-width: 5px;
             background-color: #FFFFFF;
            height: 80px;
            width: 13em;
            font-family: 'Roboto';
            font-size: 35px;
            padding: 10px;

        }


        .btn2_edit{
             border-color:#FBAE17;
             border-width: 5px;
             background-color: #FFFFFF;
            height: 80px;
            width: 13em;
             font-family: 'Roboto';
             font-size: 35px;
             padding: 10px;
        }



        .ce_position{ margin-top: 1em;
                     

        }

        .raf_position{margin-top: .5em;
                   

        }

      

       


          #mes.container {

     z-index: 1;
    opacity: 0.7;
    background: #fff;
    border: 5px solid #7F47DD;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    width: 12em;
    
    font-family:'PT Sans';
    color: black;
    font-weight: bolder;
    font-size: 17px;
    margin-left: 9em;
    margin-bottom: 14em;
    
    text-shadow: none;
    color: #000000;

}

#mes.container:after,
#mes.container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    

}

#mes.container:after {
     top: 100px;
    border-color: transparent  white transparent transparent;
    border-width: 15px;
     transform: rotate(45deg);
     left: 9%
}

#mes.container:before {
     top: 100px;
   
    border-color: transparent  #7F47DD transparent transparent;
    border-width: 20px;
     transform: rotate(45deg);
     left: 5%
} 


          #mes2.container {
 z-index: 1;
    opacity: 0.7;
    background: #fff;
    border: 5px solid #FBAE17;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    width: 15em;
    font-family:'PT Sans';
    color: black;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 13em;
    
    text-shadow: none;
    color: #000000;


}

#mes2.container:after,
#mes2.container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    

}

#mes2.container:after {
     top: 61px;
   border-color: transparent  white transparent transparent;
    border-width: 15px;
     transform: rotate(45deg);
     left: 62.5%
}

#mes2.container:before {
       top: 60px;
  border-color: transparent  #FBAE17 transparent transparent;
    border-width: 20px;
     transform: rotate(45deg);
     left: 60%
} 

   .slideshow{
          text-align: center;
          font-size:40px;
         
          margin-bottom: 0;
          margin-top:0;
        }
        .carousel-inner{

         width:100%;
         max-height: 30em;

          }

            #leftc.carousel-control.left, #rightc.carousel-control.right {
                        background:none  !important;
                        filter: progid: none !important;
                         outline: 0;
                         width: 20%;
                         }



           .item > img#travel.size{

         width: 60%;
           margin-left: 20%;
           margin-right: 20%;



               }

               .item > img#guitar.size{

          width: 55%;
           margin-left: 22.5%;
           margin-right: 22.5%;



               }

               .item{
                height: 30em;

               }


               span.arrow{
              margin-top: 3em;

                

               }
               span.fa{
                 font-size: 60px;
                 opacity: 1.0;
                 color: #000000;
               }
               /*how it works*/

            .title_3{
              text-align: center;
            margin-top: 0;
            padding-bottom: 1em;
            
            
              font-size:60px;
             font-weight: bolder;
              font-family: 'Roboto';



            }

            .part3_align{
              margin-top: 0;
            }

          
             #checkbox.col-xs-1{
              margin-right: 1em; 

             }                   
            .dimension{
              width: 5em;
            }

            #rowspace.row{
              margin-bottom: 20px;

            }


            .text_font_checkbox_text{  font-family:'PT Sans';
                                      font-size: 35px;
                                      margin-left: 1em;
                                      
                                      color: #000000;
                                      
                                   }
            .btn3_edit{

           border-color:#7F47DD;
             border-width: 5px;
             background-color: #FFFFFF;
            height: 80px;
            width: 13em;
            font-family: 'Roboto';
           font-size: 35px;
            padding: 10px;
            }

          

            .our_partners{
              margin:0;
              text-align:left;
              font-size:60px;
              font-weight: bolder;
             
               font-family:'Roboto';
               
               

            }
            .text4_font{
                       font-family:'PT Sans';
                       font-size: 40px;
                       line-height: 40px;
                       
                       color: #000000;
                       text-align:left;
                       margin:0;
                       padding: 0;
                       
                       }


                     



                      
                       .slide2{

                        width:100%;
                        height: 20em;

                         }

                       .item > img.size1{


                          width: 50%;
                          height: 18em;




                              }

                              #secondcar.item{

                                height: 20em;

                              }



                            .glyphicon-menu-right{
                              margin-top: 3em;
                              color: black;
                              font-size: 40px;
                            }
                            .glyphicon-menu-left{
                              margin-top: 3em;
                              color: black;
                                  font-size: 40px;
                            }
                            .carousel-control.left, .carousel-control.right {
                        background: none !important;
                        filter: progid: none !important;
                         outline: 0;
                         }


                           #foot.footer {
                            width: 600px;
                       position: absolute;
                       right: 0;
                       bottom: 0;
                       left: 0;
                      padding-top: 1em;
                       
                       background-color: #FBAE17;
                       text-align: center;
                       }
                       .social_icons1{
                         color:#000000;
                         font-size:40px;
                         padding-left:10px;
                         padding-right:6px;  text-decoration: none;

                       }

                       .foot1{
                        padding-left: 20px;
                        padding-bottom: 20px;
                       }

                        

                       .footer_text{
                        font-family:'Roboto';
                         font-size: 20px;
                         font-weight: 900;
                         color: #000000;

                       }


                       .footer_text1{
                        font-family:'Roboto';
                         font-size: 20px;
                        
                         color: #000000;

                       }






         
/*end of footer*/
         }


         /* height lesser than 700*/




@media screen and (min-width: 768px) and (max-height:  849px){
  /*part 1*/
   #navbar.container{
    width: 600px;
  }

 .pos1{
            padding: 0px 16px 0px 5px;
            height: 63px;
            
             
             margin-top: 5px;
             width:180px;
           }
           .pos{
                 padding: 25px 16px 0px 50px;
    text-decoration: none;
    font-size: 35px;
    transition: 0.4s;
           }
.container{
              width: 700px;
                background-color: #ffffff;


                      }
                      body{
               background-color: #f0e9fb;
             }

          
           #fullpage {
         height: 100vh;
         overflow: hidden;
         padding: 0;
         width: 600px;
       }

       #fullpage section { height: 100vh;
        width: 600px; }


          /*part1*/

       #top1.row{
        margin-top: 0;
        height: 20vh;
        
       }

        #top2.row{
       height: 25vh;
        
       }


        #top3.row{
       height: 25vh;
        
       }
       #top4.row{
       height: 30vh;
        
       }


       /*part3*/

         #top5.row{margin-top: 0;
       height: 25vh;
        
       }

         #top6.row{
       height: 15vh;
        
       }
         #top7.row{
       height: 37vh;
        
       }

        #top8.row{
       height: 23vh;
       margin-top: 3em;
        
       }

      

         /*part2*/
          #top9.row{
            margin-top: 0;
       height: 25vh;
        
       }

         #top10.row{
       height: 10vh;
        
       }
         #top11.row{
       height: 65vh;
        
       }

       /*part 4 */

         #top12.row{
       height: 15vh;
        
       }
         #top13.row{
       height: 20vh;
        
       }
        #top14.row{
       height: 20vh;
        
       }

       #top15.row{
       height: 35vh;
        
       }










           .text_font{
                      font-family:'PT Sans';
                      font-size: 30px;
                      
                      color: #000000;
                      text-align: left;
                      margin-bottom: 0;
                      margin-top: 0px;
                      
                      }

            .title_font{ font-family:'Roboto';
                         font-size: 50px;
                         margin-bottom: 0;

                         margin-top: 0;
                         font-weight: 900;
                         color: #000000;

                                  }
        .btn1_edit{
             border-color:#7F47DD;
          border-width: 5px;
             background-color: #FFFFFF;
            height: 70px;
            width: 10em;
             font-family: 'Roboto';
             font-size: 30px;
             padding: 10px;
        }


        .btn2_edit{
             border-color:#FBAE17;
             border-width: 5px;
             background-color: #FFFFFF;
           height: 70px;
            width: 10em;
             font-family: 'Roboto';
         font-size: 30px;
             padding: 10px;
        }



        .ce_position{ margin-top: 1em;
                     

        }

        .raf_position{margin-top: .5em;
                   

        }

      

      
     #mes.container {

     z-index: 1;
    opacity: 0.7;
    background: #fff;
    border: 5px solid #7F47DD;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    width: 13em;
    
    font-family:'PT Sans';
    color: black;
    font-weight: bolder;
    font-size: 17px;
    margin-left: 9em;
    margin-bottom: 14em;
    
    text-shadow: none;
    color: #000000;

}

#mes.container:after,
#mes.container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    

}

#mes.container:after {
     top: 100px;
    border-color: transparent  white transparent transparent;
    border-width: 15px;
     transform: rotate(45deg);
     left: 9%
}

#mes.container:before {
     top: 100px;
   
    border-color: transparent  #7F47DD transparent transparent;
    border-width: 20px;
     transform: rotate(45deg);
     left: 5%
} 


          #mes2.container {
 z-index: 1;
    opacity: 0.7;
    background: #fff;
    border: 5px solid #FBAE17;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    width: 15em;
    font-family:'PT Sans';
    color: black;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 13em;
    
    text-shadow: none;
    color: #000000;


}

#mes2.container:after,
#mes2.container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    

}

#mes2.container:after {
     top: 61px;
   border-color: transparent  white transparent transparent;
    border-width: 15px;
     transform: rotate(45deg);
     left: 62.5%
}

#mes2.container:before {
       top: 60px;
  border-color: transparent  #FBAE17 transparent transparent;
    border-width: 20px;
     transform: rotate(45deg);
     left: 60%
} 
   .slideshow{
          text-align: center;
          font-size:40px;
         
          margin-bottom: 0;
          margin-top:0;
        }
        .carousel-inner{

         width:100%;
         max-height: 30em;

          }

            #leftc.carousel-control.left, #rightc.carousel-control.right {
                        background:none  !important;
                        filter: progid: none !important;
                         outline: 0;
                         width: 20%;
                         }



           .item > img#travel.size{

         width: 60%;
           margin-left: 20%;
           margin-right: 20%;



               }

               .item > img#guitar.size{

          width: 55%;
           margin-left: 22.5%;
           margin-right: 22.5%;



               }

               .item{
                height: 30em;

               }
               span.arrow{
              margin-top: 3em;

                

               }
               span.fa{
                 font-size: 60px;
                 opacity: 1.0;
                 color: #000000;
               }
               /*how it works*/

            .title_3{
              text-align: center;
            margin-top: 0;
            padding-bottom: 1em;
            
            
              font-size:50px;
             font-weight: bolder;
              font-family: 'Roboto';



            }

            .part3_align{
              margin-top: 0;
            }

          
             #checkbox.col-xs-1{
              margin-right: 1em; 

             }                   
            .dimension{
              width: 3.5em;
            }

            #rowspace.row{
              margin-bottom: 20px;

            }


            .text_font_checkbox_text{  font-family:'PT Sans';
                                      font-size: 30px;
                                      
                                      color: #000000;
                                      
                                   }
            .btn3_edit{

           border-color:#7F47DD;
             border-width: 5px;
             background-color: #FFFFFF;
            height: 80px;
            width: 11em;
            font-family: 'Roboto';
           font-size: 35px;
            padding: 10px;
            }

          

            .our_partners{
              margin:0;
              text-align:left;
              font-size:60px;
              font-weight: bolder;
             
               font-family:'Roboto';
               
               

            }
            .text4_font{
                       font-family:'PT Sans';
                       font-size: 40px;
                       
                       color: #000000;
                       text-align:left;
                       margin:0;
                       padding: 0;
                       
                       }


                     



                      
                       .slide2{

                        width:100%;
                        height: 12em;

                         }

                       .item > img.size1{


                          width: 20em;
                          height: 12em;




                              }

                              #secondcar.item{

                                height: 12em;

                              }



                            .glyphicon-menu-right{
                              margin-top: 2em;
                              color: black;
                              font-size: 30px;
                            }
                            .glyphicon-menu-left{
                              margin-top: 2em;
                              color: black;
                                  font-size: 30px;
                            }
                            .carousel-control.left, .carousel-control.right {
                        background: none !important;
                        filter: progid: none !important;
                         outline: 0;
                         }


                           #foot.footer {
                             width: 600px;
                       position: absolute;
                       right: 0;
                       bottom: 0;
                       left: 0;
                      padding-top: 1em;
                       
                       background-color: #FBAE17;
                       text-align: center;
                       }
                       .social_icons1{
                         color:#000000;
                         font-size:40px;
                         padding-left:10px;
                         padding-right:6px;  text-decoration: none;

                       }

                       .foot1{
                        padding-left: 20px;
                        padding-bottom: 20px;
                       }

                        

                       .footer_text{
                        font-family:'Roboto';
                         font-size: 20px;
                         font-weight: 900;
                         color: #000000;

                       }


                       .footer_text1{
                        font-family:'Roboto';
                         font-size: 20px;
                        
                         color: #000000;

                       }






         
}
@media screen and (min-width: 768px) and (max-height: 569px){
  /*part 1*/
   #navbar.container{
    width: 600px;
  }

.container{
              width: 700px;
                background-color: #ffffff;


                      }
                      body{
               background-color: #f0e9fb;
             }

           .pos1{
            padding: 0px 16px 0px 5px;
            height: 63px;
            
             
             margin-top: 5px;
             width:180px;
           }
           .pos{
                 padding: 25px 16px 0px 50px;
    text-decoration: none;
    font-size: 35px;
    transition: 0.4s;
           }
           #fullpage {
         height: 100vh;
         overflow: hidden;
         padding: 0;
         width: 600px;
       }

       #fullpage section { height: 100vh; 
                            width: 600px;}


          /*part1*/

       #top1.row{
        margin-top: 0;
        height: 22vh;
        
       }

        #top2.row{
       height: 20vh;
        
       }


        #top3.row{
       height: 15vh;
        
       }
       #top4.row{
       height: 40vh;
        
       }


       /*part3*/

         #top5.row{margin-top: 0;
       height: 22vh;
        
       }

         #top6.row{
       height: 15vh;
        
       }
         #top7.row{
       height: 37vh;
        
       }

        #top8.row{
       height: 23vh;
        
       }

      

         /*part2*/
          #top9.row{
            margin-top: 0;
       height: 25vh;
        
       }

         #top10.row{
       height: 10vh;
        
       }
         #top11.row{
       height: 65vh;
        
       }

       /*part 4 */

         #top12.row{
       height: 20vh;
        
       }
         #top13.row{
       height: 15vh;
        
       }
        #top14.row{
       height: 15vh;
        
       }

       #top15.row{
       height: 50vh;
        
       }










           .text_font{
                      font-family:'PT Sans';
                      font-size: 25px;
                    
                      color: #000000;
                      text-align: left;
                      margin-bottom: 0;
                      margin-top: 0px;
                      
                      }

            .title_font{ font-family:'Roboto';
                         font-size: 36px;
                         margin-bottom: 0;

                         margin-top: 0;
                         font-weight: 900;
                         color: #000000;

                                  }
        .btn1_edit{
             border-color:#7F47DD;
          border-width: 5px;
             background-color: #FFFFFF;
            height: 60px;
            width: 8em;
             font-family: 'Roboto';
             font-size: 25px;
             padding: 10px;
        }


        .btn2_edit{
             border-color:#FBAE17;
             border-width: 5px;
             background-color: #FFFFFF;
            height: 60px;
            width: 8em;
             font-family: 'Roboto';
             font-size: 25px;
             padding: 10px;
        }



        .ce_position{ margin-top: 1em;
                     

        }

        .raf_position{margin-top: .5em;
                   

        }
  
  #mes.container {

     z-index: 1;
    opacity: 0.7;
    background: #fff;
    border: 5px solid #7F47DD;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    width: 12em;
    
    font-family:'PT Sans';
    color: black;
    font-weight: bolder;
    font-size: 17px;
    margin-left: 9em;
    margin-bottom: 14em;
    
    text-shadow: none;
    color: #000000;

}

#mes.container:after,
#mes.container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    

}

#mes.container:after {
     top: 100px;
    border-color: transparent  white transparent transparent;
    border-width: 15px;
     transform: rotate(45deg);
     left: 9%
}

#mes.container:before {
     top: 100px;
   
    border-color: transparent  #7F47DD transparent transparent;
    border-width: 20px;
     transform: rotate(45deg);
     left: 5%
} 

          #mes2.container {
 z-index: 1;
    opacity: 0.7;
    background: #fff;
    border: 5px solid #FBAE17;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    width: 20em;
    font-family:'PT Sans';
    color: black;
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 18em;
    
    text-shadow: none;
    color: #000000;


}

#mes2.container:after,
#mes2.container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    

}

#mes2.container:after {
     top: 46px;
   border-color: transparent  white transparent transparent;
    border-width: 15px;
     transform: rotate(45deg);
     left: 63.5%
}

#mes2.container:before {
       top: 45px;
  border-color: transparent  #FBAE17 transparent transparent;
    border-width: 20px;
     transform: rotate(45deg);
     left: 60%
} 

   .slideshow{
          text-align: center;
          font-size:30px;
         
          margin-bottom: 0;
          margin-top:0;
        }
        .carousel-inner{

         width:100%;
         max-height: 20em;

          }

            #leftc.carousel-control.left, #rightc.carousel-control.right {
                        background:none  !important;
                        filter: progid: none !important;
                         outline: 0;
                         width: 20%;
                         }



           .item > img#travel.size{

         width: 60%;
           margin-left: 20%;
           margin-right: 20%;



               }

               .item > img#guitar.size{

          width: 55%;
           margin-left: 22.5%;
           margin-right: 22.5%;



               }

               .item{
                height: 30em;

               }
               span.arrow{
              margin-top: 3em;

                

               }
               span.fa{
                 font-size: 40px;
                 opacity: 1.0;
                 color: #000000;
               }
               /*how it works*/

            .title_3{
              text-align: center;
            margin-top: 0;
            padding-bottom: 1em;
            
            
              font-size:30px;
             font-weight: bolder;
              font-family: 'Roboto';



            }

            .part3_align{
              margin-top: 0;
            }

          
             #checkbox.col-xs-1{
              margin-right: 1em; 

             }                   
            .dimension{
              width: 3em;
            }

            #rowspace.row{
              margin-bottom: 10px;
              margin-left: 6em;

            }


            .text_font_checkbox_text{  font-family:'PT Sans';
                                      font-size: 20px;
                                      
                                      color: #000000;
                                      
                                   }
            .btn3_edit{

           border-color:#7F47DD;
             border-width: 5px;
             background-color: #FFFFFF;
            height: 60px;
            width: 9em;
            font-family: 'Roboto';
           font-size: 20px;
            padding: 10px;
            }

          

            .our_partners{
              margin:0;
              text-align:left;
              font-size:30px;
              font-weight: bolder;
             
               font-family:'Roboto';
               
               

            }
            .text4_font{
                       font-family:'PT Sans';
                       font-size: 20px;
                       
                       color: #000000;
                       text-align:left;
                       margin:0;
                       padding: 0;
                       
                       }


                     



                      
                       .slide2{

                        width:100%;
                        height: 10em;

                         }

                       .item > img.size1{


                          width: 15em;
                          height: 9em;




                              }

                              #secondcar.item{

                                height: 10em;

                              }



                            .glyphicon-menu-right{
                              margin-top: 2em;
                              color: black;
                              font-size: 20px;
                            }
                            .glyphicon-menu-left{
                              margin-top: 2em;
                              color: black;
                                  font-size: 20px;
                            }
                            .carousel-control.left, .carousel-control.right {
                        background: none !important;
                        filter: progid: none !important;
                         outline: 0;
                         }


                           #foot.footer {
                             width: 600px;
                       position: absolute;
                       right: 0;
                       bottom: 0;
                       left: 0;
                      padding-top: .5em;
                       
                       background-color: #FBAE17;
                       text-align: center;
                       }
                       .social_icons1{
                         color:#000000;
                         font-size:30px;
                         padding-left:10px;
                         padding-right:6px;  text-decoration: none;

                       }

                       .foot1{
                        padding-left: 10px;
                        padding-bottom: 10px;
                       }

                        

                       .footer_text{
                        font-family:'Roboto';
                         font-size: 10px;
                         font-weight: 900;
                         color: #000000;

                       }


                       .footer_text1{
                        font-family:'Roboto';
                         font-size: 10px;
                        
                         color: #000000;

                       }






         
}





