  
.footer{
  display: none;
}
  .navbar-custom{
                 background-color: #Ffffff;

                }


.hamburger_menu_position{
                         font-size: 10px;

                       }

 .pos{
              float: right;
              display: block;
              color: #f2f2f2;
              text-align: center;
              padding: 25px 16px 0px 50px;
             text-decoration: none;
              font-size: 35px;
              transition: 0.4s;
           }
.pos1{
          float: left;
          display: block;
          color:#000000 ;
          text-align: right;
          padding: 0px 16px 0px 5px;
          text-decoration: none;
          width: 180px;
          height: 63px;
          margin-top: 5px;
       }

/*mobile*/

@media screen and (max-width:767px) and (min-height: 520px){



  h1.title_font{
   font-size: 35px;
  }

  p.text_font{
  font-size: 26px;
    line-height: 26px;
  
  }
   h1.title_3{
   font-size: 35px;
   }

  img.dimension{
   width: 3em;
 }
  span.text_font_checkbox_text{
   font-size: 22px;
  }
 #rowspace.row{
              margin-bottom: 20px;
            }
 
             button.btn1_edit{
               width: 10em;
               height: 70px;
            }
  button.btn2_edit{
              width: 10em;
               height: 70px;
            }
 
  button.btn3_edit{
               width: 10em;
              height: 70px;
            }
  div.our_partners{
    font-size: 35px;

  }

  p.text4_font{
    font-size: 23px;
  }

   div.slide2{
     width:100%;
      height: 11em;
           }

    #secondcar > img.size1{
     width: 15em;
     height:13em;
   }


    #secondcar.item{
      height: 11em;
     
   }

      span.glyphicon-menu-right{
        margin-top: 3.5em;
     
                }
            span.glyphicon-menu-left{
             margin-top: 3.5em;
               
                }

       #top5.row{margin-top: 0;
       height: 25vh;
        
       }

        div > #top6.row{
       height: 12vh;
        
       }
        div >  #top7.row{
       height: 35vh;
        
       }

       div >  #top8.row{
       height: 13vh;
        
       }

       div >  #top16.row{
       height: 15vh;
        
       }


       }


     
@media screen and (max-width:767px) and (orientation: portrait) {

  .container {
               padding-left: 0px;
               padding-right: 0px;
               padding-top: 0px;
           }
           .pos1{
             margin-left: 15px;
             margin-top: 5px;
             width:180px;
             height: 50px;
           }
           .pos{
             margin-right:15px;
           }
           #fullpage {
         height: 100vh;
         overflow: hidden;
       }

       #fullpage section { height: 100vh; }


          /*part1*/

       #top1.row{
        margin-top: 0;
        height: 20vh;
        
       }

        #top2.row{
       height: 20vh;
        
       }


        #top3.row{
       height: 25vh;
        
       }
       #top4.row{
       height: 35vh;
        
       }


       /*part3*/

         #top5.row{margin-top: 0;
       height: 25vh;
        
       }

         #top6.row{
       height: 10vh;
        
       }
         #top7.row{
       height: 37vh;
        
       }

        #top8.row{
       height: 15vh;
        
       }

        #top16.row{
       height: 13vh;
        
       }

         /*part2*/
          #top9.row{
            margin-top: 0;
       height: 25vh;
        
       }

         #top10.row{
       height: 10vh;
        
       }
         #top11.row{
       height: 65vh;
        
       }

       /*part 4 */

         #top12.row{
       height: 25vh;
        
       }
         #top13.row{
       height: 15vh;
        
       }
        #top14.row{
       height: 15vh;
        
       }

       #top15.row{
       height: 35vh;
        
       }










           .text_font{
                      font-family:'PT Sans';
                      font-size: 20px;
                      line-height: 25px;
                      color: #000000;
                      text-align: left;
                      margin-bottom: 0;
                      
                      }

            .title_font{ font-family:'Roboto';
                         font-size: 30px;
                         margin-bottom: 0;

                         margin-top: 0;
                         font-weight: 900;
                         color: #000000;

                                  }
        .btn1_edit{
             border-color:#7F47DD;
             border-width: 5px;
             background-color: #FFFFFF;
            height: 60px;
            width: 9em;
            font-family: 'Roboto';
            font-size: 25px;
            padding: 10px;

        }


        .btn2_edit{
             border-color:#FBAE17;
             border-width: 5px;
             background-color: #FFFFFF;
              height: 60px;
            width: 9em;
             font-family: 'Roboto';
             font-size: 25px;
             padding: 10px;
        }



        .ce_position{ margin-top: 10px;
                     

        }

        .raf_position{margin-top: 10px;
                   

        }

      

        
         #mes.container {

     z-index: 1;
    opacity: 0.7;
    background: #fff;
    border: 5px solid #7F47DD;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    width: 13em;
    font-family:'PT Sans';
    color: black;
    font-weight: bolder;
    font-size: 10px;
    margin-left: 12em;
    
    margin-bottom: 27em;
    text-shadow: none;
    color: #000000;

}

#mes.container:after,
#mes.container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    

}

#mes.container:after {
     top: 61px;
    border-color: transparent  white transparent transparent;
    border-width: 15px;
     transform: rotate(45deg);
     left: 22%
}

#mes.container:before {
     top: 60px;
   
    border-color: transparent  #7F47DD transparent transparent;
    border-width: 20px;
     transform: rotate(45deg);
     left: 15%
} 


          #mes2.container {
 z-index: 1;
    opacity: 0.7;
    background: #fff;
    border: 5px solid #FBAE17;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    width: 20em;
    font-family:'PT Sans';
    color: black;
    font-weight: bolder;
    font-size: 10px;
    margin-bottom: 30em;
    
    text-shadow: none;
    color: #000000;


}

#mes2.container:after,
#mes2.container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    

}

#mes2.container:after {
     top: 32px;
   border-color: transparent  white transparent transparent;
    border-width: 15px;
     transform: rotate(45deg);
     left: 64%
}

#mes2.container:before {
       top: 30px;
  border-color: transparent  #FBAE17 transparent transparent;
    border-width: 20px;
     transform: rotate(45deg);
     left: 60%
} 

   .slideshow{
          text-align: center;
          font-size:30px;
         
          margin-bottom: 0;
          margin-top:0;
        }
        .carousel-inner{

         width:100%;
         max-height: 20em;

          }

            #leftc.carousel-control.left, #rightc.carousel-control.right {
                        background:none  !important;
                        filter: progid: none !important;
                         outline: 0;
                         width: 15%;
                         }



           .item > img#travel.size{

    
          width: 70%;
           margin-left: 15%;
           margin-right: 15%;
           height: 70%;


               }

               .item > img#guitar.size{

          width: 70%;
           margin-left: 15%;
           margin-right: 15%;




               }

               .item{
                height: 30em;

               }
               span.arrow{
              margin-top: 4em;

                

               }
               span.fa{
                 font-size: 30px;
                 opacity: 1.0;
                 color: #000000;
               }
              
               /*how it works*/

            .title_3{
              text-align: center;
            margin-top: 0;
            margin-bottom: 0;
            
            
              font-size:30px;
             font-weight: bolder;
              font-family: 'Roboto';



            }

            .part3_align{
              margin-top: 0;
            }

          
             #checkbox.col-xs-1{
              margin-right: 1em; 

             }                   
            .dimension{
              width: 2.5em;
            }

            #rowspace.row{
              margin-bottom: 10px;
            }


            .text_font_checkbox_text{  font-family:'PT Sans';
                                      font-size: 20px;
                                      
                                      color: #000000;
                                      
                                   }
            .btn3_edit{
              border-color:#7F47DD;
              border-width: 5px;
              background-color: #FFFFFF;
             height: 60px;
             width: 9em;
             font-family: 'Roboto';
             font-size: 25px;
             padding: 10px;
             
            }

          

            .our_partners{
              margin:0;
              text-align:left;
              font-size:30px;
              font-weight: bolder;
             
               font-family:'Roboto';
               
               

            }
            .text4_font{
                       font-family:'PT Sans';
                       font-size: 20px;
                       line-height: 25px;
                       color: #000000;
                       text-align:left;
                       margin:0;
                       padding: 0;
                       
                       }


                     



                      
                       .slide2{

                        width:100%;
                        height: 9em;

                         }

                       img.size1{


                          width: 9em;
                          height:9em;




                              }

                            .glyphicon-menu-right{
                              margin-top: 2.5em;
                              color: black;
                            }
                            .glyphicon-menu-left{
                              margin-top: 2.5em;
                              color: black;
                            }
                            .carousel-control.left, .carousel-control.right {
                        background: none !important;
                        filter: progid: none !important;
                         outline: 0;
                         }


                           #foot.footer {
                       position: absolute;
                       right: 0;
                       bottom: 0;
                       left: 0;
                      padding-top: 1em;
                       
                       background-color: #FBAE17;
                       text-align: center;
                       }
                       .social_icons1{
                         color:#000000;
                         font-size:30px;
                         padding-left:10px;
                         padding-right:6px;  text-decoration: none;

                       }

                       .foot1{
                        padding-left: 10px;
                        padding-bottom: 10px;
                       }

                        .foot2{
                        padding-right: 10px;
                        
                       }

                       .footer_text{
                        font-family:'Roboto';
                         font-size: 15px;
                         font-weight: 900;
                         color: #000000;

                       }


                       .footer_text1{
                        font-family:'Roboto';
                         font-size: 10px;
                        
                         color: #000000;

                       }





         }



@media screen and (max-width:568px) and (orientation: landscape){
  #top5.row{margin-top: 0;
       height: 20vh;
        
       }

         #top6.row{
       height: 10vh;
        
       }
         div > #top7.row{
       height: 40vh;
       width: 100%;
       margin-right: 0;
       margin-left: 150px;
       
        
       }

        #top8.row{
       height: 10vh;
     

        
       }

        #top16.row{
       height: 20vh;
        
       }

   #mes.container {

     z-index: 1;
    opacity: 0.7;
    background: #fff;
    border: 5px solid #7F47DD;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    width: 13em;
    font-family:'PT Sans';
    color: black;
    font-weight: bolder;
    font-size: 10px;
    margin-left: 20em;
    margin-bottom: 8em;
    text-shadow: none;
    color: #000000;

}

#mes.container:after,
#mes.container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    

}

#mes.container:after {
     top: 61px;
    border-color: transparent  white transparent transparent;
    border-width: 15px;
     transform: rotate(45deg);
     left: 22%
}

#mes.container:before {
     top: 60px;
   
    border-color: transparent  #7F47DD transparent transparent;
    border-width: 20px;
     transform: rotate(45deg);
     left: 15%
} 


          #mes2.container {
 z-index: 1;
    opacity: 0.7;
    background: #fff;
    border: 5px solid #FBAE17;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    width: 20em;
    font-family:'PT Sans';
    color: black;
    font-weight: bolder;
    font-size: 10px;
    margin-bottom: 10em;
   
    
    text-shadow: none;
    color: #000000;


}

#mes2.container:after,
#mes2.container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    

}

#mes2.container:after {
     top: 32px;
   border-color: transparent  white transparent transparent;
    border-width: 15px;
     transform: rotate(45deg);
     left: 64%
}

#mes2.container:before {
       top: 30px;
  border-color: transparent  #FBAE17 transparent transparent;
    border-width: 20px;
     transform: rotate(45deg);
     left: 60%
} 

   .slideshow{
          text-align: center;
          font-size:25px;
         
          margin-bottom: 0;
          margin-top:0;
        }
        .carousel-inner{

         width:100%;
         max-height: 15em;

          }

            #leftc.carousel-control.left, #rightc.carousel-control.right {
                        background:none  !important;
                        filter: progid: none !important;
                         outline: 0;
                         width: 15%;
                         }



           .item > img#travel.size{

    
          width: 70%;
           margin-left: 15%;
           margin-right: 15%;


               }

               .item > img#guitar.size{

          width: 70%;
           margin-left: 15%;
           margin-right: 15%;




               }

               .item{
                height: 15em;

               }
               span.arrow{
              margin-top: 4em;

                

               }
               span.fa{
                 font-size: 30px;
                 opacity: 1.0;
                 color: #000000;
               }
  

}

@media screen and (max-width:767px) and (orientation: landscape){

   .container {
               padding-left: 0px;
               padding-right: 0px;
               padding-top: 0px;
           }
           .pos1{
             margin-left: 15px;
             margin-top: 5px;
             width:150px;
             height: 50px;
           }
           .pos{
             margin-right:15px;
           }

           #navbar.container{
            height: 60px;

           }
           nav{
            height: 60px;
           }
           #fullpage {
         height: 100vh;
         overflow: hidden;
       }

       #fullpage section { height: 100vh; }


          /*part1*/

       #top1.row{
        margin-top: 0;
        height: 25vh;
        
       }

        #top2.row{
       height: 10vh;
        
       }


        #top3.row{
       height: 10vh;
        
       }
       #top4.row{
       height: 55vh;
        
       }


       /*part3*/

         #top5.row{margin-top: 0;
       height: 25vh;
        
       }

         #top6.row{
       height: 10vh;
        
       }
         #top7.row{
       height: 30vh;
       width: 100%;
       margin-right: 0;
       margin-left: 225px;
       
        
       }

        #top8.row{
       height: 10vh;
     

        
       }

        #top16.row{
       height: 25vh;
        
       }

         /*part2*/
          #top9.row{
            margin-top: 0;
       height: 25vh;
        
       }

         #top10.row{
       height: 10vh;
        
       }
         #top11.row{
       height: 65vh;
        
       }

       /*part 4 */

         #top12.row{
       height: 25vh;
        
       }
         #top13.row{
       height: 10vh;
        
       }
        #top14.row{
       height: 10vh;
        
       }

       #top15.row{
       height: 55vh;
        
       }










           .text_font{
                      font-family:'PT Sans';
                      font-size: 15px;
                      line-height: 25px;
                      color: #000000;
                      text-align: left;
                      margin-bottom: 0;
                      
                      }

          .title_font{ font-family:'Roboto';
                         font-size: 20px;
                         margin-bottom: 0;

                         margin-top: 0;
                         font-weight: 900;
                         
                         color: #000000;

                                  }
        .btn1_edit{
             border-color:#7F47DD;
             border-width: 5px;
             background-color: #FFFFFF;
            height: 50px;
            width: 10em;
            font-family: 'Roboto';
            font-size: 15px;
            padding: 5px;

        }


        .btn2_edit{
             border-color:#FBAE17;
             border-width: 5px;
             background-color: #FFFFFF;
            height: 50px;
            width: 10em;
            font-family: 'Roboto';
            font-size: 15px;
            padding: 5px;

        }



        .ce_position{ margin-top: 5px;
                     

        }

        .raf_position{margin-top: 5px;
                   

        }
   #mes.container {

     z-index: 1;
    opacity: 0.7;
    background: #fff;
    border: 5px solid #7F47DD;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    width: 13em;
    font-family:'PT Sans';
    color: black;
    font-weight: bolder;
    font-size: 10px;
    margin-left: 22em;
    margin-bottom: 8em;
    text-shadow: none;
    color: #000000;

}

#mes.container:after,
#mes.container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    

}

#mes.container:after {
     top: 61px;
    border-color: transparent  white transparent transparent;
    border-width: 15px;
     transform: rotate(45deg);
     left: 22%
}

#mes.container:before {
     top: 60px;
   
    border-color: transparent  #7F47DD transparent transparent;
    border-width: 20px;
     transform: rotate(45deg);
     left: 15%
} 


          #mes2.container {
 z-index: 1;
    opacity: 0.7;
    background: #fff;
    border: 5px solid #FBAE17;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    width: 20em;
    font-family:'PT Sans';
    color: black;
    font-weight: bolder;
    font-size: 10px;
    margin-bottom: 10em;
   
    
    text-shadow: none;
    color: #000000;


}

#mes2.container:after,
#mes2.container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    

}

#mes2.container:after {
     top: 32px;
   border-color: transparent  white transparent transparent;
    border-width: 15px;
     transform: rotate(45deg);
     left: 64%
}

#mes2.container:before {
       top: 30px;
  border-color: transparent  #FBAE17 transparent transparent;
    border-width: 20px;
     transform: rotate(45deg);
     left: 60%
} 

   .slideshow{
          text-align: center;
          font-size:25px;
         
          margin-bottom: 0;
          margin-top:0;
        }
        .carousel-inner{

         width:100%;
         max-height: 15em;

          }

            #leftc.carousel-control.left, #rightc.carousel-control.right {
                        background:none  !important;
                        filter: progid: none !important;
                         outline: 0;
                         width: 15%;
                         }



           .item > img#travel.size{

    
          width: 50%;
           margin-left: 25%;
           margin-right: 25%;


               }

               .item > img#guitar.size{

          width: 50%;
          margin-left: 25%;
           margin-right: 25%;



               }

               .item{
                height: 15em;

               }
               span.arrow{
              margin-top: 4em;

                

               }
               span.fa{
                 font-size: 30px;
                 opacity: 1.0;
                 color: #000000;
               }
               /*how it works*/

            .title_3{
              text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
            
            
              font-size:15px;
             font-weight: bolder;
              font-family: 'Roboto';



            }

            .part3_align{
              margin-top: 0;
            }

          
             #checkbox.col-xs-1{
              margin-right: 0px;
              padding-right: 0;
               width: 42px;
             }   

               #bullet.col-xs-9{

              
              padding-left: 0;
             }                 
            .dimension{
              width: 1.6em;
            }

            #rowspace.row{
              margin-bottom: 10px;
            }


            .text_font_checkbox_text{  font-family:'PT Sans';
                                      font-size: 10px;
                                      
                                      color: #000000;
                                      
                                   }
            .btn3_edit{
            border-color:#7F47DD;
             border-width: 5px;
             background-color: #FFFFFF;
            height: 40px;
            width: 10em;
            font-family: 'Roboto';
            font-size: 12px;
            padding: 5px;
            margin-top: 10px;

            }

          

            .our_partners{
              margin:0;
              text-align:left;
              font-size:15px;
              font-weight: bolder;
             
               font-family:'Roboto';
               
               

            }
            .text4_font{
                       font-family:'PT Sans';
                       font-size: 10px;
                      
                       color: #000000;
                       text-align:left;
                       margin:0;
                       padding: 0;
                       
                       }


                     



                      
                       .slide2{

                        width:100%;
                        height: 7em;

                         }

                       img.size1{


                          width: 9em;
                          height:9em;




                              }

                              #secondcar.item{
                                height: 7em;
                              }



                            .glyphicon-menu-right{
                              margin-top: 2.5em;
                              color: black;
                            }
                            .glyphicon-menu-left{
                              margin-top: 2.5em;
                              color: black;
                            }
                            .carousel-control.left, .carousel-control.right {
                        background: none !important;
                        filter: progid: none !important;
                         outline: 0;
                         }


                           #foot.footer {
                       position: absolute;
                       right: 0;
                       bottom: 0;
                       left: 0;
                      padding-top: 5px;
                       
                       background-color: #FBAE17;
                       text-align: center;
                       }
                       .social_icons1{
                         color:#000000;
                         font-size:25px;
                         padding-left:10px;
                         padding-right:6px;  text-decoration: none;

                       }

                       .foot1{
                        padding-left: 10px;
                        padding-bottom: 10px;
                       }

                        .foot2{
                        padding-right: 10px;
                        
                       }

                       .footer_text{
                        font-family:'Roboto';
                         font-size: 10px;
                         font-weight: 900;
                         color: #000000;

                       }

                         .footer_text1{
                        font-family:'Roboto';
                         font-size: 10px;
                         
                         color: #000000;

                       }



}