
.modal-header, h4, .close {
    background-color:  #e1d4f7;
    color:#000000 !important;
    text-align: center;
    font-size: 30px;
    border:none;

}
.modal-body{
 background-color:  #e1d4f7;
    color:#000000 !important;
    border:none;

}
.modal-footer {
     background-color:  #e1d4f7;
     border:none;
}
#otp.form-control{
  width:60%;
  height:50%;
  text-align: center;
}
@media screen and (min-width: 769px) {
  #otp.form-control{
    width:60%;
    height: 4em;
    font-size: 20px;
    text-align: center;
  }
}
