
@media screen and (max-width: 768px){

.yloan1{ padding-left: 25px;
           padding-right: 25px;
           padding-bottom: 3em;


}
.title_font1a{
              font-family:'Roboto';
               font-size: 30px;
              margin-top: 3.5em;
               color:#88a80d;

    }
.text_font1a{margin-top: 2em;
          font-family:'PT Sans';
             font-size: 20px;
             font-weight: bolder;


}
.text_font1aa{

              font-family:'PT Sans';
               font-size: 15px;
               font-weight: 500;

}
a.bt1a1{
  margin-top: 10px;
  border-color:#88a80d;
  border-width: 5px;
  background-color: #FFFFFF;
 height: 70px;
 width: 7em;
 font-family: 'Roboto';
 font-size: 20px;
 padding-top: 15px;
text-decoration: none;
color: #000000;


}
}

@media screen and (max-width: 320px) and (max-height: 500px){
  .title_font1a{
                 font-size: 25px;
                margin-top: 3.3em;
                }
  .text_font1a{margin-top: 20px;
               font-size: 15px;
              }
  .text_font1aa{
                 font-size: 10px;
             }
  a.bt1a1{
    margin-top: 10px;
   height: 45px;
   width: 7em;
   font-size: 15px;
   padding: 10px;
  }

}


@media screen and (max-width: 320px) and (min-height: 501px){
  .title_font1a{
                 font-size: 28px;
                margin-top: 3em;
                }
  .text_font1a{margin-top: 20px;
               font-size: 18px;
              }
  .text_font1aa{
                 font-size: 13px;
             }
  a.bt1a1{
    margin-top: 10px;
   height: 60px;
   width: 7em;
   font-size: 18px;
   padding: 10px;
  }

}

@media screen and (min-width: 768px){

.yloan1{ padding-left: 3em;
           padding-right: 2em;
           padding-bottom: 20vh;



}
.title_font1a{
              font-family:'Roboto';
               font-size: 50px;
              margin-top: 3em;
               color:#88a80d;

    }
.text_font1a{margin-top: 2em;
          font-family:'PT Sans';
             font-size: 30px;
             font-weight: bolder;


}
.text_font1aa{

              font-family:'PT Sans';
               font-size: 20px;
               font-weight: 500;

}
a.bt1a1{
  margin-top: 10px;
  border-color:#88a80d;
  border-width: 5px;
  background-color: #FFFFFF;
 height: 70px;
 width: 9em;
 font-family: 'Roboto';
 font-size: 20px;
 padding-top: 15px;
text-decoration: none;
color: #000000;


}
}
