.navbar-custom{
               background-color: #Ffffff;

              }


.hamburger_menu_position{
                       font-size: 10px;

                     }

.pos{
            float: right;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 25px 16px 0px 50px;
           text-decoration: none;
            font-size: 35px;
            transition: 0.4s;
         }
         .pos1{
                 float: left;
                 display: block;
                 color:#000000 ;
                 text-align: right;
                 padding: 0px 16px 0px 5px;
                 text-decoration: none;
                 width: 180px;
                 height: 63px;
                 margin-top: 5px;
     }


 @media screen and (min-width: 768px) {
.mainlay{
  padding-bottom: 10em;
  padding-left: 5em;
  padding-right: 5em;
}
.title1e{
  margin-top: 4em;
 text-align: center;
 font-size:50px;
font-weight: bolder;
font-family: 'Roboto';

}
.btn1e{
  background-color: white;
  border: 4px solid #7F47DD;
  font-size: 2em;
  border-radius: 5px;

  width:14em;
  height: 3em;

    border-width: 5px;

}

.label_font_1{

font-family:'Roboto';
font-size: 25px;
font-weight: normal;


}
.form-control{


  width: 30em;
  border-color: #000000;
  border-radius: 0;
  height: 4em;



}
.form_spacing_1ea {
  margin-top: 5em;

}
.form_spacing_1eb {
  margin-top: 3em;

}
.subspac{
  padding-top: 5em;
  padding-bottom: 4em;

}




}
@media screen and (min-width: 768px) and (min-height:1000px) {
  .subspac{

    padding-bottom: 11.5em;

  }

}

@media screen and (min-width: 768px) and (min-height:1280px) {
  .subspac{

    padding-bottom: 40em;

  }

}
@media screen and (max-width: 767px) {

  .mainlay{

    padding-left: 30px;
    padding-right: 30px;

  }
  .title1e{
    margin-top:3em;
   text-align: center;
   font-size:35px;
  font-weight: bolder;
  font-family: 'Roboto';

  }
  .btn1e{
    background-color: white;
    border: 4px solid #7F47DD;
    font-size: 20px;
    border-radius: 5px;

    width:9em;
    height: 3em;

      border-width: 5px;

  }

  .label_font_1{

  font-family:'Roboto';
  font-size: 20px;
  font-weight: normal;


  }
  .form-control{


   min-width: 4em;
    border-color: #000000;
    border-radius: 0;
    height: 3em;



  }
  .form_spacing_1ea {
    margin-top: 2.5em;

  }
  .form_spacing_1eb {
    margin-top: 10px;

  }
  .subspac{
    padding-top:2em;
    padding-bottom: 1em;

  }


}

@media screen and (max-width: 767px) and (min-height: 600px ) and (max-height: 800px){

    .title1e{
        margin-top:5em;

    }
}

@media screen and (max-width: 767px) and (min-height: 801px ){

    .title1e{
        margin-top:8em;

    }
}
